n8n/[WIP]_Preferences.json
{
  "updatedAt": "2025-11-11T15:19:29.000Z",
  "createdAt": "2025-11-06T13:19:11.442Z",
  "id": "lrQ32UoEoZFyeug9",
  "name": "[WIP] Preferences",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "company-knowledge",
          "mode": "list",
          "cachedResultName": "company-knowledge"
        },
        "options": {
          "pineconeNamespace": "frameworks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1040,
        64
      ],
      "id": "a75223ba-868a-4cf2-9f77-ff5d7d54c44c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "SbsCu4pO0DflDyh5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        304
      ],
      "id": "d3199534-2c26-410b-a0ca-e3a808e8cb63",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1584,
        160
      ],
      "id": "32e7872b-e529-436f-bd25-51a5ead452d0",
      "name": "When chat message received",
      "webhookId": "79955dc5-9c44-4006-a494-19f234850475"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "driveFileId",
                "value": "={{ $json.id }}"
              },
              {
                "name": "driveFileName",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1168,
        256
      ],
      "id": "65469795-44be-43cd-bb2d-068495ffb183",
      "name": "Data Loader (Binary)"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1264,
        480
      ],
      "id": "96eefba1-aecf-432a-a056-ccf7ae8d3dc1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        384
      ],
      "id": "d6d2df10-268e-42ae-8969-f56da326c089",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kWDd86dODoZQPcVX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        160
      ],
      "id": "0fb95c78-7b42-4fe5-91e1-861d36d57304",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        1184
      ],
      "id": "d9bcb5de-240f-4fd7-8e5e-9b75caaf32d8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1280,
        992
      ],
      "id": "e466f0d3-53e3-4dfa-9d46-a97d64b4055e",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        1056,
        880
      ],
      "id": "e28cbacd-fcec-460d-acf4-f474e4216fe4",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1696,
        432
      ],
      "id": "b4b6fd65-2e7a-460e-9e4a-a199021e6f5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "company-knowledge",
          "mode": "list",
          "cachedResultName": "company-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1520,
        1088
      ],
      "id": "adf618f3-e54b-4862-bea5-e852dee0019e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "SbsCu4pO0DflDyh5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=USE THE VECTOR DATABASE TO FETCH MORE CONTEXTUAL INFORMATION BEFORE RESPONDING TO THE USER.\n\nUSER QUESTION:\n{{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1904,
        160
      ],
      "id": "4c822818-944c-44bd-a2ab-ebe861f69170",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1904,
        432
      ],
      "id": "4ed8676e-b97e-4ab5-bf99-7a600b3d4126",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Extract relevant company information and use this in your response. ",
        "pineconeIndex": {
          "__rl": true,
          "value": "company-knowledge",
          "mode": "list",
          "cachedResultName": "company-knowledge"
        },
        "options": {
          "pineconeNamespace": "frameworks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2128,
        496
      ],
      "id": "d659ea90-85c7-4660-ba04-b5dbec0b193c",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "SbsCu4pO0DflDyh5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        1104
      ],
      "id": "35b2d3aa-53d9-4001-82ef-d6f83b3f32ba",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2128,
        736
      ],
      "id": "8aa45f27-963e-4ae6-ad87-112200e829da",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "0ALogAzrZWddgUk9PVA",
            "mode": "list",
            "cachedResultName": "2 AREA",
            "cachedResultUrl": "https://drive.google.com/drive/folders/0ALogAzrZWddgUk9PVA"
          },
          "folderId": {
            "__rl": true,
            "value": "1aBEUg2WdqOm_aYgM3EmV0vhxsYDJF0By",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        160
      ],
      "id": "11561ce4-28ec-4f27-9d08-8d0b17f5ce3f",
      "name": "Get Files in Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kWDd86dODoZQPcVX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# **Extract Michael’s preferences from a call transcript**\n\nYour task: From the transcript, extract Michael’s explicit preferences and return a JSON **array** of objects. Include only clear statements of desire or intent.\n\n## **Rules**\n\n1. Capture a rich, faithful statement in `preference_long`. Preserve nuance and qualifiers.  \n2. Create a scannable `preference_handle` that summarizes the intent in 80 to 140 characters.  \n3. Classify `category` and `function` using the allowed values below.  \n4. Normalize cadence into `recurrence.type` using the allowed values below. Fill subfields that apply. All other subfields are optional.  \n5. In `key_words`, include Michael’s exact phrases that signal intent.  \n6. Set `source` to the call date text or the transcript URL if present.  \n7. Write `next_reminder_text` as an imperative one-liner I can receive verbatim.  \n8. Output JSON only, no commentary.\n\n## **Allowed values**\n\n* `category`: `Routine`, `Workflow`, `Tooling`, `Communication`, `Decision`, `Other`  \n* `function`: `Sales`, `Marketing`, `Clients`, `Personal`, `Operations`, `Strategy`, `Finance`, `Legal`  \n* `recurrence.type`: `none`, `random`, `daily`, `weekly`, `monthly`, `quarterly`, `cron`\n\n## **Recurrence field specification**\n\nUse the structure below. Set only the fields that apply, the rest are optional.\n\n```json\n\"recurrence\": {\n  \"type\": \"none | random | daily | weekly | monthly | quarterly | cron\",\n  \"time\": \"HH:MM (24h, Africa/Nairobi)\",            // optional when relevant\n  \"day_of_week\": \"Mon|Tue|Wed|Thu|Fri|Sat|Sun\",     // weekly only, optional\n  \"day_of_month\": [1, 15],                          // monthly only, optional, list allowed\n  \"week_of_quarter\": \"W1|W2|W3|W4|W5\",              // quarterly only, optional\n  \"weekday\": \"Mon|Tue|Wed|Thu|Fri|Sat|Sun\",         // quarterly pattern, optional\n  \"cron_string\": \"raw cron if type = cron\",         // cron only, optional\n  \"note\": \"plain English expansion for cron\"        // optional\n}\n```\n\nGuidance:\n\n* If cadence language exists, choose the closest type and fill the relevant subfields.  \n* If no cadence is given, set `\"type\": \"none\"`.  \n* For “random,” do not invent dates, just set `\"type\": \"random\"`.\n\n## **Output schema**\n\nReturn an array of objects with exactly these fields:\n\n```json\n{\n  \"preference_long\": \"string\",\n  \"preference_handle\": \"string, 80-140 chars\",\n  \"category\": \"Routine | Workflow | Tooling | Communication | Decision | Other\",\n  \"function\": \"Sales | Marketing | Clients | Personal | Operations | Strategy | Finance | Legal\",\n  \"recurrence\": {\n    \"type\": \"none | random | daily | weekly | monthly | quarterly | cron\",\n    \"time\": \"HH:MM\",\n    \"day_of_week\": \"Mon|Tue|Wed|Thu|Fri|Sat|Sun\",\n    \"day_of_month\": [1, 15],\n    \"week_of_quarter\": \"W1|W2|W3|W4|W5\",\n    \"weekday\": \"Mon|Tue|Wed|Thu|Fri|Sat|Sun\",\n    \"cron_string\": \"string\",\n    \"note\": \"string\"\n  },\n  \"key_words\": [\"exact phrases from transcript\"],\n  \"source\": \"date text or URL\",\n  \"next_reminder_text\": \"imperative one-liner\"\n}\n```\n\n## **Example output**\n\n```json\n[\n  {\n    \"preference_long\": \"At the end of every week, run a routine to sanity-check the top three priorities, roll risks forward with owners, and confirm what slipped. Produce a short written update by 5 pm Michael's time.\",\n    \"preference_handle\": \"End-of-week priorities and risk roll-forward with 5 pm update\",\n    \"category\": \"Routine\",\n    \"function\": \"Operations\",\n    \"recurrence\": { \"type\": \"weekly\", \"day_of_week\": \"Fri\", \"time\": \"16:30\" },\n    \"key_words\": [\"every week\", \"roll risks forward\", \"short written update\"],\n    \"source\": \"Call 2025-11-07\",\n    \"next_reminder_text\": \"Run EOW routine and send 1-screen update by 17:00 with priorities, risks with owners, and slips.\"\n  }\n]\n```\n\n## **Transcript**\n\n{{ $json.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an extraction agent. Your job is to read call transcripts and output Michael’s explicit preferences as structured JSON objects that can be used to schedule reminders and track long-form preferences.\n\nThe date and time is {{ $now.toString() }}\n\n## **Core behavior**\n\n* Extract only clear statements of desire or intent. Do not include vague ideas or questions.  \n* Capture the preference in rich, faithful language, then generate a short handle that is easy to scan.  \n* Normalize cadence into a structured `recurrence` object. Use only the fields that apply, others are optional.  \n* Use Africa/Nairobi time for any times referenced.  \n* Do not invent facts, dates, or schedules. If cadence is not specified, set `recurrence.type` to `\"none\"`.  \n* Return a JSON array only, no surrounding commentary.\n\n## **Allowed values**\n\n* `category`: `Routine`, `Workflow`, `Tooling`, `Communication`, `Decision`, `Other`  \n* `function`: `Sales`, `Marketing`, `Clients`, `Personal`, `Operations`, `Strategy`, `Finance`, `Legal`  \n* `recurrence.type`: `none`, `random`, `daily`, `weekly`, `monthly`, `quarterly`, `cron`\n\n## **Recurrence normalization rules**\n\n* Weekly mentions like “every Friday” map to `\"type\": \"weekly\"` and `day_of_week`.  \n* Monthly mentions like “on the 1st and 15th” map to `\"type\": \"monthly\"` and `day_of_month: [1, 15]`.  \n* Quarterly mentions like “first Monday of each quarter” map to `\"type\": \"quarterly\"`, `week_of_quarter: \"W1\"`, and `weekday: \"Mon\"`. If the pattern is unclear, keep `\"type\": \"none\"`.  \n* Cron usage is allowed only if the transcript specifies a cron pattern. Otherwise do not invent it.  \n* “Random” means no fixed cadence. Do not add dates.\n\n## **Field guidance**\n\n* `preference_long`: full, faithful statement in Michael’s words, include nuance and qualifiers.  \n* `preference_handle`: concise summary suitable for scanning and reminders.  \n* `key_words`: short exact phrases Michael used that signal intent, for traceability.  \n* `source`: the call date string found in the transcript, or a link if provided.  \n* `next_reminder_text`: a clear action command the assistant should send back when the reminder fires.\n\n## **Validation checklist before you output**\n\n1. Every object has the exact field names above.  \n2. `category`, `function`, and `recurrence.type` use only allowed values.  \n3. Optional recurrence subfields appear only when relevant to the chosen type.  \n4. Times are 24h format, Africa/Nairobi.  \n5. `key_words` contains exact phrases present in the transcript.  \n6. Output is a JSON array and nothing else.\n",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        384
      ],
      "id": "189ad59f-c28e-45bb-805a-665be76f2aee",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        176,
        160
      ],
      "id": "3a093325-5c2e-462c-b1dd-87ec614ff1b8",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        384
      ],
      "id": "42770b4c-e001-49de-9e6c-98829ad4ee94",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "low",
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        592
      ],
      "id": "7b2ddb55-7f99-4b5a-9560-9d277ad90a79",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"preference_long\": \"At the end of every week, run a routine to sanity-check the top three priorities, roll risks forward with owners, and confirm what slipped. Produce a short written update by 5 pm Michael's time.\",\n    \"preference_handle\": \"End-of-week priorities and risk roll-forward with 5 pm update\",\n    \"category\": \"Routine\",\n    \"function\": \"Operations\",\n    \"recurrence\": { \"type\": \"weekly\", \"day_of_week\": \"Fri\", \"time\": \"16:30\" },\n    \"key_words\": [\"every week\", \"roll risks forward\", \"short written update\"],\n    \"source\": \"Call 2025-11-07\",\n    \"next_reminder_text\": \"Run EOW routine and send 1-screen update by 17:00 with priorities, risks with owners, and slips.\"\n  }\n]\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        592
      ],
      "id": "8fdc2699-ee82-46de-8984-a86b2be739c2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        800
      ],
      "id": "d4605542-2e0e-4c6c-9e7d-07e5868f3e7d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1atTI-TJ7irxthe6ZyNyY9Tlxkmvb4OEs2kbXWcVykm4",
          "mode": "list",
          "cachedResultName": "Preferences Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atTI-TJ7irxthe6ZyNyY9Tlxkmvb4OEs2kbXWcVykm4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atTI-TJ7irxthe6ZyNyY9Tlxkmvb4OEs2kbXWcVykm4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "preference_long": "={{ $json.preference_long }}",
            "preference_handle": "={{ $json.preference_handle }}",
            "category": "={{ $json.category }}",
            "function": "={{ $json.function }}",
            "recurrence.type": "={{ $json.recurrence.type }}",
            "recurrence.time": "={{ $json.recurrence.time }}",
            "key_words": "={{ $json.key_words}}",
            "source": "={{ $json.source }}",
            "next_reminder_text": "={{ $json.next_reminder_text }}",
            "date": "={{ $now.toString() }}",
            "recurrence.day_of_week": "={{ $json.recurrence.day_of_week }}",
            "recurrence.day_of_month": "{{ $json.recurrence.day_of_month }}",
            "recurrence.week_of_quarter": "{{ $json.recurrence.week_of_quarter }}",
            "recurrence.weekday": "{{ $json.recurrence.weekday }}",
            "recurrence.cron_string": "{{ $json.recurrence.cron_string }}",
            "recurrence.note": "{{ $json.recurrence.note }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "preference_long",
              "displayName": "preference_long",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preference_handle",
              "displayName": "preference_handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "function",
              "displayName": "function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.type",
              "displayName": "recurrence.type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.time",
              "displayName": "recurrence.time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.day_of_week",
              "displayName": "recurrence.day_of_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.day_of_month",
              "displayName": "recurrence.day_of_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.week_of_quarter",
              "displayName": "recurrence.week_of_quarter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.weekday",
              "displayName": "recurrence.weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.cron_string",
              "displayName": "recurrence.cron_string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurrence.note",
              "displayName": "recurrence.note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_reminder_text",
              "displayName": "next_reminder_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        528
      ],
      "id": "389d05bc-db83-46f6-8f1d-5e499f6f0f5f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a2GvYolbVNMGjx2A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        384
      ],
      "id": "5e378b60-14d1-4cb7-ad13-0edbc107108f",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader (Binary)": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader (Binary)",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Files in Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get Files in Folder1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d81ad1f9-69ff-45f2-99dd-6e2c1726d1b4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-06T13:19:11.803Z",
      "createdAt": "2025-11-06T13:19:11.803Z",
      "role": "workflow:owner",
      "workflowId": "lrQ32UoEoZFyeug9",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}