n8n/Apps_-_Monday?.json
{"updatedAt":"2025-11-14T23:58:11.000Z","createdAt":"2025-11-13T11:01:12.664Z","id":"KK2iWbAfLBXR2qlQ","name":"Apps - Monday?","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,0],"id":"e6667fde-375e-4fa6-b8b4-0063861a17f2","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1xAn_YP-mVmZQGNFSMv6-G_218TkQ-yb48tmRW58EKng","mode":"list","cachedResultName":"Narrative Analyst Applications","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xAn_YP-mVmZQGNFSMv6-G_218TkQ-yb48tmRW58EKng/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":477551918,"mode":"list","cachedResultName":"Narrative Analyst Application","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xAn_YP-mVmZQGNFSMv6-G_218TkQ-yb48tmRW58EKng/edit#gid=477551918"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"d4ad329a-d887-4d3d-b021-4bbd74d002c0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"mutation ($value: String!) { change_simple_column_value(item_id: {{$json.id}}, board_id: 18377241989, column_id: \\\"long_text_mkxnbpqk\\\", value: $value) { id } }\",\n  \"variables\": {\n    \"value\": \"{{ $('Edit Fields').item.json.candidate_details.toJsonString().replaceAll('\"',\"'\").slice(0, 1999) }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,0],"id":"7a004bc0-4e9a-461a-913e-01b374e12f33","name":"HTTP Request","credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d7675f6b-75c8-4867-b9be-fd185e0e9f5e","name":"candidate_details","value":"=1. What are you working on right now? {{ $json[\"What are you doing or working on right now?\"] }}\n\n2. How do you work with AI, and to what extent? {{ $json['How do you work with AI, and to what extent?'] }}\n\n3. What types of client or project work have you done in the past? {{ $json['What types of client or project work have you done in the past?'] }}\n\n4. What can you uniquely bring or offer to this role at Storied? {{ $json['What can you uniquely bring or offer to this role at Storied?'] }}\n\n5. Are you looking for project-based, part-time, or full-time work? {{ $json['Are you looking for project-based, part-time, or full-time work?'] }}\n\n6. Time zone: {{ $json['What time zone are you in and where are you based?'] }}\n\n6. Where or how did you find this job post? {{ $json['Where or how did you find this job post?'] }}\n\n7. Anything else you want to share? {{ $json['Anything else you want to share?'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,0],"id":"a3a39cff-5aa1-4a39-bf22-4a74a46f09d0","name":"Edit Fields"},{"parameters":{"resource":"boardItem","operation":"getByColumnValue","boardId":"18377241989","columnId":"email","columnValue":"={{ $('Get row(s) in sheet').item.json[\"Your email address:\"] }}","returnAll":true},"type":"n8n-nodes-base.mondayCom","typeVersion":1,"position":[944,0],"id":"d6e00ade-9a2b-462b-80d2-4f503aafbd3d","name":"Get items item by column value","credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}},{"parameters":{"resource":"boardItem","operation":"addUpdate","itemId":"={{ $('Get items item by column value').item.json.id }}","value":"={{ $('Edit Fields').item.json.candidate_details }}"},"type":"n8n-nodes-base.mondayCom","typeVersion":1,"position":[1664,0],"id":"7576e07e-07a7-41eb-be65-c9ba04e50401","name":"Add an update to an item","credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add an update to an item","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get items item by column value","type":"main","index":0}]]},"Get items item by column value":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Add an update to an item":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de11765e-2802-4ec5-83a2-938ca460747e","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T11:01:12.735Z","createdAt":"2025-11-13T11:01:12.735Z","role":"workflow:owner","workflowId":"KK2iWbAfLBXR2qlQ","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}