n8n/Auto_Rename_n8n_Workflow_Nodes_with_AI.json
{
  "updatedAt": "2025-12-20T01:45:01.000Z",
  "createdAt": "2025-12-18T15:23:13.973Z",
  "id": "SMcV3XxGQcmxHJcD",
  "name": "Auto Rename n8n Workflow Nodes with AI",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Target Workflow Id').item.json.workflow_id }}"
        },
        "workflowObject": "={{ $json.new_workflow.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "58ea5380-e4a0-4f44-a7a7-4689b3ba27be",
      "name": "Save Renamed Workflow Version",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1952,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "1OxszQwe707RlHDg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba5c59f1-4de6-460d-9685-037d791962cc",
              "name": "old_workflow",
              "type": "object",
              "value": "={{ $(\"Extract Workflow Nodes Connections\").item.json.old_workflow }}"
            },
            {
              "id": "7a6c8968-70db-4c1b-8592-1a98cfcef4fc",
              "name": "nodes_name",
              "type": "array",
              "value": "={{ $('Extract Workflow Nodes Connections').item.json.nodes.map(node => node.name) }}"
            },
            {
              "id": "9ee4702e-533f-4999-b9ea-fb6bdaf4e1f7",
              "name": "connections_nodes_name_reference",
              "type": "array",
              "value": "={{\n  (() => {\n    const names = [];\n    \n    // Get source nodes (keys)\n    names.push(...Object.keys($('Extract Workflow Nodes Connections').item.json.connections));\n    \n    // Get target nodes\n    for (const conn of Object.values($('Extract Workflow Nodes Connections').item.json.connections)) {\n      for (const type of Object.values(conn)) {          // main, error, etc.\n        for (const outputArray of type) {                // [[...]]\n          for (const target of outputArray) {            // [{node: \"...\"}]\n            if (target.node) names.push(target.node);\n          }\n        }\n      }\n    }\n    \n    return names;\n  })()\n}}"
            },
            {
              "id": "caf69cb1-6d78-4aec-8180-d3bad85529bf",
              "name": "parameters_names",
              "type": "array",
              "value": "={{\n  (() => {\n    const allNodeNames = $('Extract Workflow Nodes Connections').item.json.nodes.map(node => node.name);\n    const nodesString = JSON.stringify($('Extract Workflow Nodes Connections').item.json.nodes);\n    const foundPatterns = [];\n    \n    allNodeNames.forEach(nodeName => {\n      const patterns = [\n        `$('${nodeName}')`,\n        `$(\"${nodeName}\")`\n      ];\n      \n      patterns.forEach(pattern => {\n        if (nodesString.includes(pattern)) {\n          foundPatterns.push(pattern);\n        }\n      });\n    });\n    \n    return foundPatterns;\n  })()\n}}"
            },
            {
              "id": "b2ab8b7a-ffd0-413e-9a68-27d5466fe181",
              "name": "AI_output",
              "type": "array",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8948f1be-3166-48de-a76d-8c1efabd4ee0",
      "name": "Prepare LLM Validation Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<system>\nYou are renaming nodes in an n8n workflow to make their purpose immediately clear.\n</system>\n\n<instructions>\n1. Extract ALL node names from the workflow's `nodes` array\n2. For each node, create a descriptive name based on:\n   - Its `type` (what kind of node it is)\n   - Its `parameters` (what it's configured to do)\n   - Its connections/position in the workflow flow (input from where, output to where)\n3. Return a mapping for EVERY SINGLE NODE\n\nRules:\n- Maximum 5 words per name\n- Use Title Case\n- Each name must be unique\n- Keep technical accuracy while being human-readable\n- If a name is already good, you can keep it (but still include it in output)\n</instructions>\n\n<critical>\nYour output array MUST have exactly the same number of items as the input workflow has nodes.\n\nBefore responding:\n- Count nodes in input: ___\n- Count items in your output: ___\n- If these don't match, you've made an error\n\nThe `old_name` must match the exact node name character-for-character (including spaces, capitals, etc.)\n</critical>\n\n<workflow>\n```json\n{{ JSON.stringify($json.old_workflow) }}\n```\n</workflow>",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "99ddc22a-e3be-4619-99b2-1ba19a3172ef",
      "name": "Generate Node Rename Mapping",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        768,
        656
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de87c369-7ca7-4242-8278-effec174c191",
              "name": "new_nodes",
              "type": "array",
              "value": "={{ $json.old_workflow.nodes.map(node => {\n  // Find mapping for the node name\n  const mapping = $json.AI_output.find(item => item.old_name === node.name);\n  \n  // Update parameters by replacing all node name references\n  let updatedParameters = JSON.stringify(node.parameters);\n  $json.AI_output.forEach(aiMapping => {\n    const pattern = new RegExp(aiMapping.old_name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'g');\n    updatedParameters = updatedParameters.replace(pattern, aiMapping.new_name);\n  });\n  \n  return {\n    ...node,\n    name: mapping ? mapping.new_name : node.name,\n    parameters: JSON.parse(updatedParameters)\n  };\n}) }}"
            },
            {
              "id": "90f8a9c1-e9a1-46ae-8af9-2130993a51f3",
              "name": "new_connections",
              "type": "object",
              "value": "={{\n  (() => {\n    const newConnections = {};\n    \n    for (const [sourceNode, connections] of Object.entries($json.old_workflow.connections)) {\n      // Find mapping for the source node (key)\n      const sourceMapping = $json.AI_output.find(item => item.old_name === sourceNode);\n      const newSourceNode = sourceMapping ? sourceMapping.new_name : sourceNode;\n      \n      // Deep copy and update target nodes\n      const updatedConnections = {};\n      for (const [connectionType, connectionArrays] of Object.entries(connections)) {\n        updatedConnections[connectionType] = connectionArrays.map(connArray => \n          connArray.map(conn => {\n            const targetMapping = $json.AI_output.find(item => item.old_name === conn.node);\n            return {\n              ...conn,\n              node: targetMapping ? targetMapping.new_name : conn.node\n            };\n          })\n        );\n      }\n      \n      newConnections[newSourceNode] = updatedConnections;\n    }\n    \n    return newConnections;\n  })()\n}}"
            },
            {
              "id": "3bf1958f-17e9-4719-824c-2282f807e4a6",
              "name": "new_workflow_without",
              "type": "object",
              "value": "={{\n  $json.old_workflow\n    .removeField('nodes')\n    .removeField('connections')\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "88dcb7c2-d958-4a34-a2b7-0a2665c95462",
      "name": "Apply Renamed Nodes Connections",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"old_name\": {\n        \"type\": \"string\",\n        \"description\": \"The exact match original node name\"\n      },\n      \"new_name\": {\n        \"type\": \"string\",\n        \"description\": \"The new node name\"\n      }\n    },\n    \"required\": [\n      \"old_name\",\n      \"new_name\"\n    ]\n  }\n}"
      },
      "id": "94092be2-2850-4520-ace9-70dbd6135ecc",
      "name": "Parse LLM Mapping ToJson",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        928,
        832
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77460441-6e86-4940-ac7c-76dd99cb0de4",
              "name": "old_workflow",
              "type": "object",
              "value": "={{\n  $json\n    .removeField('pinData')\n    .removeField('shared')\n}}"
            },
            {
              "id": "88723b17-bb0e-437d-8ed3-8d412c4491b1",
              "name": "nodes",
              "type": "array",
              "value": "={{ $json.nodes }}"
            },
            {
              "id": "7464b93e-e357-4ed3-a933-6aab1f1d606a",
              "name": "connections",
              "type": "object",
              "value": "={{ $json.connections }}"
            }
          ]
        },
        "options": {}
      },
      "id": "047dce75-1493-464a-8746-3ee1991ee559",
      "name": "Extract Workflow Nodes Connections",
      "type": "n8n-nodes-base.set",
      "position": [
        2352,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb6e8c56-60dd-42ad-9e13-695478a6891a",
              "name": "new_workflow",
              "type": "object",
              "value": "={{\n  Object.assign($json.new_workflow_without, {\n    nodes: $json.new_nodes,\n    connections: $json.new_connections,\n  })\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a9d2074b-3cd7-4dc1-bcf0-01e7c493c977",
      "name": "Assemble New Workflow Object",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "79e8a51f-63f7-4624-bf8b-6c529f0363db",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ [...$json.nodes_name].sort().toJsonString() }}",
              "rightValue": "={{ [...$json.AI_output.map(item => item.old_name)].sort().toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a1a1b70-4425-4bd5-8740-40ec6ffa5a1c",
      "name": "Validate All Nodes Renamed",
      "type": "n8n-nodes-base.if",
      "position": [
        1296,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9ddd66c-a4b6-4738-8cd1-4f1bb398e955",
              "name": "Link_to_new_version",
              "type": "string",
              "value": "={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') + \"/workflow\" + \"/\" + $('Set Target Workflow Id').item.json.workflow_id + \"/history/\" + $json.versionId }}"
            },
            {
              "id": "969e8ea8-7dbd-4ddc-9ddf-d0c44284463f",
              "name": "Link_to_previous_version",
              "type": "string",
              "value": "={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') + \"/workflow\" + \"/\" + $('Set Target Workflow Id').item.json.workflow_id + \"/history/\" + $('Assemble New Workflow Object').item.json.new_workflow.versionId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8ff471d-6abf-42da-9107-1453cc5b08de",
      "name": "Build Workflow Version Links",
      "type": "n8n-nodes-base.set",
      "position": [
        2160,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e17c48e-c158-42b7-a8ff-6fce97ff1003",
              "name": "id",
              "type": "string",
              "value": "={{ $json[\"Select a Workflow:\"].match(/\\(#([^)]+)\\)/)[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "17604ae0-7d86-4f34-baf5-a4b4e67e153d",
      "name": "Parse Selected Workflow Id",
      "type": "n8n-nodes-base.set",
      "position": [
        1680,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3ad65d54-64d5-4f62-a435-09b931e8d066",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Form Trigger').isExecuted }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "abcf0bb2-0284-4be3-8dc7-a87c3818c776",
      "name": "Check Trigger Source Type",
      "type": "n8n-nodes-base.if",
      "position": [
        2352,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Terminate Workflow Execution!",
        "completionMessage": "=<a href='{{ $json.Link_to_new_version }}'>Go to new version</a>\n<br>\n<a href='{{ $json.Link_to_previous_version }}'>Go to previous version</a>",
        "options": {}
      },
      "id": "a680770e-349c-406f-b165-400f44d7e51f",
      "name": "Display Workflow Version Links",
      "type": "n8n-nodes-base.form",
      "position": [
        2576,
        544
      ],
      "webhookId": "06daa9d2-2ab2-4f9a-9f8d-eda32f42b2bb",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6058f80-386c-4f10-aa27-a71c43124a64",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f54043-ce66-42b9-b0b1-727a061aa9b0",
      "name": "Set Target Workflow Id",
      "type": "n8n-nodes-base.set",
      "position": [
        1904,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Get & Prepare Workflow\nGet target workflow JSON, extract nodes and connections, prepare clean structure for processing.",
        "height": 304,
        "width": 944,
        "color": 7
      },
      "id": "bedf00a9-5c22-4cde-9eb7-f99b07d1f0e1",
      "name": "LLM Flow Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1824,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Rename Generation\nSend workflow to the AI, generate rename mapping for every node, parse structured JSON output.",
        "height": 480,
        "width": 528,
        "color": 7
      },
      "id": "3ae4eb2c-4c65-485d-aa80-8b48cd45c6b4",
      "name": "Post Processing Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "oRdcTVYIrPX9NwDV",
          "mode": "list",
          "cachedResultName": "Send Testimonials - Every 90 days (#oRdcTVYIrPX9NwDV)"
        },
        "requestOptions": {}
      },
      "id": "856a714f-0f95-46e8-a02e-a431ed82d8c9",
      "name": "Select a Workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1648,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "1OxszQwe707RlHDg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Form Trigger\nLaunch a form where you can select from a dropdown of all available workflows.",
        "height": 304,
        "width": 1088,
        "color": 7
      },
      "id": "908925c7-3feb-454d-8322-5fd7765bb333",
      "name": "Triggers Section Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate & Apply Renames\nVerify all nodes are covered, update node names in nodes array, connections object, and parameter references.",
        "height": 480,
        "width": 624,
        "color": 7
      },
      "id": "3e5c61ae-71b4-4cca-a007-238de9778875",
      "name": "Post Processing Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save & Display Results\nPublish updated workflow version, generate history links, show completion form or end execution.",
        "height": 480,
        "width": 864,
        "color": 7
      },
      "id": "f810bbc2-1eea-4132-9784-6cdcde9d2f4b",
      "name": "Post Processing Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Manual Trigger\nSelect workflow directly from the n8n node, then execute manually for quick testing.",
        "height": 288,
        "width": 2048,
        "color": 7
      },
      "id": "af584f7c-a385-410d-9bc6-9e0906ee4187",
      "name": "Triggers Section Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Select a workflow",
        "height": 208,
        "width": 192,
        "color": 3
      },
      "id": "792bb77b-3d04-4d38-a7aa-99e8b5f44002",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Stop workflow\nYou can modify the error handling to retry or loop back to the AI node.",
        "height": 112,
        "width": 192,
        "color": 3
      },
      "id": "4e673383-1a43-4d75-833b-396ffb4b80b4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚡Auto Rename n8n Workflow Nodes with AI✨\nThis workflow uses AI to automatically generate clear and descriptive names for every node in your n8n workflows.\nIt analyzes each node's type, parameters, and connections to create meaningful names, making your workflows instantly readable.\n\n### Who is it for?\nThis workflow is for n8n users who manage complex workflows with dozens of nodes. If you've ever:\n- Built workflows full of generic names like `HTTP Request 2` or `Edit Fields 1`\n- Struggled to understand your own work after a few weeks\n- Copied workflows from others with unclear node names\n- Spent hours manually renaming nodes one by one\n\n...then this workflow will save you significant time and effort.\n\n### Requirements\n- **n8n API Credentials**: Must be configured to allow listing and updating workflows\n- **AI Provider Credentials**: An API key for your preferred AI provider (OpenRouter is used currently)\n\n### How it works\n1. **Trigger**: Launch via form (select from dropdown) or manual trigger (quick testing with pre-selected workflow)\n2. **Fetch**: Retrieve the target workflow's JSON and extract nodes and connections\n3. **Generate**: Send the workflow JSON to the AI, which creates a unique, descriptive name for every node\n4. **Validate**: Verify the AI mapping covers all original node names\n5. **Apply**: If valid, update all node names, parameter references, and connections throughout the workflow\n6. **Save**: Save/Update the workflow with renamed nodes and provide links to both new and previous versions\n\n\nIf validation fails (e.g., AI missed nodes), the workflow stops with an error. You can modify the error handling to retry or loop back to the AI node.\n\n###  Setup\n1. **Connect n8n API credentials**\n   - Open any n8n node in the workflow and make sure your n8n API credentials is connected\n\n2. **Configure AI provider credentials**\n   - Open the \"OpenRouter\" node (or replace with your preferred AI)\n   - Add your API credentials\n   - Adjust the model if needed (current: `openai/gpt-5.1-codex-mini`)\n\n3. **Test the workflow**\n   - Use Manual Trigger for quick testing with a pre-selected workflow\n   - Use Form Trigger for a user-friendly interface with workflow selection\n\n###  Important notice\n**If you're renaming a currently opened workflow**, you must **reload the page** after execution to see the latest version, n8n doesn't automatically refresh the canvas when workflow versions are updated via API.",
        "height": 1104,
        "width": 832
      },
      "id": "af638889-2c71-4a11-814b-4b288642a98d",
      "name": "Post Processing Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "Validation Error"
      },
      "id": "b58ed96d-2c09-4995-9957-5b4b466e0126",
      "name": "Stop",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1504,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}"
        },
        "requestOptions": {}
      },
      "id": "04931c62-b6c2-450b-b079-0e0332481e81",
      "name": "Fetch Target Workflow JSON",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2128,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "1OxszQwe707RlHDg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "workflows",
        "include": "specifiedFields",
        "fieldsToInclude": "id,name",
        "options": {}
      },
      "id": "9a6a3937-56f4-4765-a4d7-77d751616e9a",
      "name": "Aggregate Workflow List",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1232,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{\n  [\n    {\n      \"fieldLabel\": \"Select a Workflow:\",\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\": {\n        \"values\": $json.workflows.map(option => ({ option: `${option.name} (#${option.id})` })),\n      },\n      \"requiredField\": true\n    }\n  ]\n}}",
        "limitWaitTime": true,
        "options": {}
      },
      "id": "aa96d1ca-d7b7-4371-9cc0-d159e3eb4228",
      "name": "Form Dynamic Workflow List",
      "type": "n8n-nodes-base.form",
      "position": [
        1456,
        304
      ],
      "webhookId": "25a9189a-15a0-4b51-b0cf-af2565b923c3",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2fce25fc-ec88-427e-9ced-9a2adb5a2583",
      "name": "Fetch All Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1008,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "1OxszQwe707RlHDg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "⚡Auto Rename n8n Workflow Nodes with AI✨",
        "formDescription": "This workflow uses AI to automatically generate clear and descriptive names for every node in your n8n workflows.\nIt analyzes each node's type, parameters, and connections to create meaningful names, making your workflows instantly readable.",
        "options": {
          "buttonLabel": "Select a Workflow"
        }
      },
      "id": "20ae7ebc-323c-4ecd-b4df-a51f43a7b7ca",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        784,
        304
      ],
      "webhookId": "6ca8e522-1245-442c-b744-f155c135fbf8",
      "typeVersion": 2.3
    },
    {
      "parameters": {},
      "id": "ab87876a-6637-49a1-bc3b-a7dc813aa2b4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        784,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f5b5251f-d1c7-4128-ab46-93229c882a6a",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "position": [
        2576,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        848
      ],
      "id": "63657e73-94b4-4311-86dd-ce0b6d28fcec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P0TQQiGAV5I5pAou",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Save Renamed Workflow Version": {
      "main": [
        [
          {
            "node": "Build Workflow Version Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Validation Data": {
      "main": [
        [
          {
            "node": "Validate All Nodes Renamed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Node Rename Mapping": {
      "main": [
        [
          {
            "node": "Prepare LLM Validation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Renamed Nodes Connections": {
      "main": [
        [
          {
            "node": "Assemble New Workflow Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Mapping ToJson": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Node Rename Mapping",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow Nodes Connections": {
      "main": [
        [
          {
            "node": "Generate Node Rename Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble New Workflow Object": {
      "main": [
        [
          {
            "node": "Save Renamed Workflow Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate All Nodes Renamed": {
      "main": [
        [
          {
            "node": "Apply Renamed Nodes Connections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Workflow Version Links": {
      "main": [
        [
          {
            "node": "Check Trigger Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Selected Workflow Id": {
      "main": [
        [
          {
            "node": "Set Target Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Source Type": {
      "main": [
        [
          {
            "node": "Display Workflow Version Links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Workflow Id": {
      "main": [
        [
          {
            "node": "Fetch Target Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select a Workflow": {
      "main": [
        [
          {
            "node": "Set Target Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Target Workflow JSON": {
      "main": [
        [
          {
            "node": "Extract Workflow Nodes Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Workflow List": {
      "main": [
        [
          {
            "node": "Form Dynamic Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Dynamic Workflow List": {
      "main": [
        [
          {
            "node": "Parse Selected Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Workflows": {
      "main": [
        [
          {
            "node": "Aggregate Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Select a Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Node Rename Mapping",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7c3e3138-6876-4829-ac02-4d9e70800b8c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-18T15:23:14.041Z",
      "createdAt": "2025-12-18T15:23:14.041Z",
      "role": "workflow:owner",
      "workflowId": "SMcV3XxGQcmxHJcD",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "activeVersion": null,
  "tags": []
}