n8n/Book_Downloads_to_Slack.json
{"updatedAt":"2025-11-14T20:51:54.000Z","createdAt":"2025-07-25T20:16:38.033Z","id":"iNgXIqh3BSSCeZ0M","name":"Book Downloads to Slack","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1600,-464],"id":"44b5047b-4c0e-4383-9afb-55e40c4683fe","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4d6b4c6c-5826-4014-8e06-22b8bcb2a929","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.toDateTime().minus(7, \"days\") }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"d057fb9d-593c-4971-a0bc-9c1705de5f15","leftValue":"={{ $('Aggregate2').item.json.Email }}","rightValue":"={{ $json.email_address }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[832,-480],"id":"6b553307-4d91-4e4f-8749-369b9009ab2b","name":"Filter"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-848,32],"id":"0ae39326-56b6-4f3c-99aa-a0b4ee6b330a","name":"Wait","webhookId":"ce971f0b-ab43-4bdc-b308-c2884eea5fa9","executeOnce":true},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,-224],"id":"a86c3921-d74d-40ff-a367-6630c5cb89b5","name":"Wait1","webhookId":"9b02757f-aacb-4472-81f6-795605502578"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63090fef-f10d-4b45-bd0f-d228d9b4468a","leftValue":"={{ $json.subscribers }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-464],"id":"f12ac6e6-e31a-44e2-bc7e-33569e4a6c93","name":"If1"},{"parameters":{"method":"POST","url":"https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-98ed2988-dcc9-4b12-ad5a-9f3dd9fcb0c3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email_address }}"},{"name":"name","value":"={{ $json.first_name }}"},{"name":"company","value":"={{ $json.fields.company }}"},{"name":"linkedin","value":"={{ $json.fields.linkedin_profile_link }}"},{"name":"=created_at","value":"={{ $json.created_at }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":5000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,-224],"id":"b1bdc359-c62e-4f74-ab12-9b5f0c20f111","name":"Update Leads into Clay"},{"parameters":{"url":"=https://api.kit.com/v4/tags/8098523/subscribers?created_after={{ $('Schedule Trigger').item.json.timestamp.toDateTime().minus(8, \"days\").format('yyyy-MM-dd') }}&status=active&include_total_count=true","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-464],"id":"938653ec-7cec-45ed-b362-782bf17330c8","name":"Get Book Downloads (8 Days)","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"rQ2ENPIII8EfLIc1","name":"ConvertKit Header Auth"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07F60Q1HFV","mode":"list","cachedResultName":"marketing-websitevisits"},"text":"=Book Downloads - Week of {{ $now.minus(4, 'days').day }} {{ $now.minus(4, 'days').monthShort }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[880,80],"id":"80959bac-11f4-41ac-8671-5808a0cd6108","name":"Send Message to Sales Slack","webhookId":"4c7ed30f-34f7-40bb-8888-4d81d34ffd15","credentials":{"slackApi":{"id":"TCCNsFSy1xU8ud22","name":"SLACK API - BOT"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07F60Q1HFV","mode":"list","cachedResultName":"marketing-websitevisits"},"text":"={{   \n  (() => {     \n    const leads = $('Aggregate1').item.json.data;      \n    const enriched = leads.filter(x => x.Company?.trim() && x.Title?.trim());     \n    const notEnriched = leads.filter(x => !(x.Company?.trim() || x.Title?.trim()));\n    const formattedLeads = enriched.map(x =>`- *${x.Name || \"No Name\"}* — ${x.Title} – ${x.Company}\\n  LinkedIn: ${x.LinkedIn || \"No LinkedIn\"}\\n  Email: ${x.Email || \"No Email\"}`);\n    const notFormatted = notEnriched.map(x => `- ${x.Email}`)\n    return `*Report*\\n*Book Downloads:* ${leads.length}\\n*Leads Enriched via Clay:* ${enriched.length}\\n*Emails not Enriched:* ${notEnriched.length}\\n\\n*Leads:*\\n\\n${formattedLeads.join('\\n\\n')}\\n\\nEmails Not Enriched:\\n\\n${notFormatted.join('\\n')}`;})() \n}}","otherOptions":{"includeLinkToWorkflow":false,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.message.ts }}"}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1600,304],"id":"84a062bc-fc87-4911-aae3-22db6a4f9371","name":"Reply to Slack","webhookId":"2257474a-d5e9-4b1e-b89e-7d49a7266853","credentials":{"slackApi":{"id":"TCCNsFSy1xU8ud22","name":"SLACK API - BOT"}}},{"parameters":{"documentId":{"__rl":true,"value":"1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw","mode":"list","cachedResultName":"All Subs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1057785066,"mode":"list","cachedResultName":"Book Download Workflow 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw/edit#gid=1057785066"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1264,-464],"id":"eddc004f-39d9-4378-b727-7aa47d1c9394","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw","mode":"list","cachedResultName":"All Subs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1057785066,"mode":"list","cachedResultName":"Book Download Workflow 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IlVcxcE7k17cGVFDKGaNhHnQvBAu9zxx-wBJBstcKkw/edit#gid=1057785066"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-112,-224],"id":"5d87bed8-5529-4df1-8675-092a7f724275","name":"Get row(s) in sheet","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"subscribers","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,-480],"id":"0cf5ba93-944f-4aed-8d60-b035c0f8b6a1","name":"Split Out"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"success"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-1088,-224],"id":"419a831a-aa50-4e08-a647-c8e749bce937","name":"Total Rows Added to Clay"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"row_number"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-512,-464],"id":"b2b0d6de-7031-436a-9727-738d4ba21a51","name":"Original Leads Sum","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[512,-240],"id":"c87432f4-f1ea-4ec3-adee-8ed1723bc596","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cc0666f4-e6c0-49f2-89d9-b089dd721167","leftValue":"={{ new Date($json[\"Enriched On\"]).toISOString() }}","rightValue":"={{ $now.toUTC().minus(1, \"days\") }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[192,80],"id":"9dc436dd-5325-4e6b-9557-e8bef87161c4","name":"Filter1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-112,80],"id":"667912e1-004d-4d20-92f2-7307996b617f","name":"Split Out1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[512,80],"id":"d8235448-68d4-43b0-9395-f733d824560d","name":"Aggregate1"},{"parameters":{"jsCode":"const items = $input.all();\n\nlet status = false;\nlet exit = false;\n\nfor (const item of items) {\n  for (const lead of item.json.data) {\n    if (lead.row_number) {\n      status = true;\n    } else {\n      status = false;\n      exit = true;\n      break;\n    }\n  }\n  if (exit) break;\n}\n\nreturn [{ json: { status } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-240],"id":"d1ecfb3b-9e5e-40b8-9323-dfdc2df0a331","name":"Code"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"email_address","field2":"Email"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[176,-240],"id":"128abde0-eb96-4996-81c9-a5c98a6e0260","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc8f42f9-a91d-4457-a66c-49b2f3b5f63b","leftValue":"={{ $json.status }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1600,48],"id":"a3ca792b-aafb-4929-a1e0-fb9466cadc8a","name":"If"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-480,80],"id":"cd28601d-b6c2-438b-8e10-58f0425a35df","name":"Merge1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Email"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-784,-464],"id":"e1d72bef-405e-4edd-839c-9a7a95d870d3","name":"Aggregate2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Update Leads into Clay","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update Leads into Clay":{"main":[[{"node":"Total Rows Added to Clay","type":"main","index":0}]]},"Get Book Downloads (8 Days)":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send Message to Sales Slack":{"main":[[{"node":"Reply to Slack","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Total Rows Added to Clay":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Original Leads Sum":{"main":[[{"node":"Get Book Downloads (8 Days)","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Send Message to Sales Slack","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Original Leads Sum","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":20,"availableInMCP":false,"errorWorkflow":"geHpTM7jr9NoyZNi"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"isArtificialRecoveredEventItem":true}}],"Get Book Downloads (8 Days)":[{"json":{"subscribers":[{"id":3724448234,"first_name":null,"email_address":"mjhcruz@gmail.com","state":"active","created_at":"2025-11-14T11:36:41Z","tagged_at":"2025-11-14T11:36:41Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3723310635,"first_name":null,"email_address":"takih80929@delaeb.com","state":"active","created_at":"2025-11-13T19:45:08Z","tagged_at":"2025-11-13T19:45:09Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3723094228,"first_name":null,"email_address":"sdcds@asdasd.com","state":"active","created_at":"2025-11-13T18:04:59Z","tagged_at":"2025-11-13T18:04:59Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3723057236,"first_name":null,"email_address":"megblocker@gmail.com","state":"active","created_at":"2025-11-13T17:32:07Z","tagged_at":"2025-11-13T17:32:12Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3721401583,"first_name":null,"email_address":"mbrehman@gmail.com","state":"active","created_at":"2025-11-13T00:39:38Z","tagged_at":"2025-11-13T00:39:38Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3721352767,"first_name":"Karen","email_address":"theredhatnation@gmail.com","state":"active","created_at":"2025-11-12T23:43:44Z","tagged_at":"2025-11-12T23:43:44Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":"Beard","lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3720048637,"first_name":null,"email_address":"matthias.penzel@t-online.de","state":"active","created_at":"2025-11-12T12:23:24Z","tagged_at":"2025-11-12T12:23:24Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3719189922,"first_name":null,"email_address":"tanyabreger@hotmail.com","state":"active","created_at":"2025-11-12T01:55:49Z","tagged_at":"2025-11-12T01:55:49Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3718983544,"first_name":null,"email_address":"rachelnewm@gmail.com","state":"active","created_at":"2025-11-11T23:08:01Z","tagged_at":"2025-11-11T23:08:01Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3718630262,"first_name":null,"email_address":"contact@yourstorybag.com","state":"active","created_at":"2025-11-11T19:44:16Z","tagged_at":"2025-11-11T19:44:16Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3718543097,"first_name":null,"email_address":"toschka.robert@gmail.com","state":"active","created_at":"2025-11-11T19:04:15Z","tagged_at":"2025-11-11T19:04:16Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3718542228,"first_name":null,"email_address":"katschinska@gmail.com","state":"active","created_at":"2025-11-11T19:03:26Z","tagged_at":"2025-11-11T19:03:26Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3716781128,"first_name":null,"email_address":"rwerda1@gmail.com","state":"active","created_at":"2025-11-10T23:50:57Z","tagged_at":"2025-11-10T23:51:00Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3716360289,"first_name":"Maria","email_address":"mariaorgan@gmail.com","state":"active","created_at":"2025-11-10T19:40:53Z","tagged_at":"2025-11-10T19:40:55Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":"Organ","lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3712259101,"first_name":null,"email_address":"charlelie@75percent.eu","state":"active","created_at":"2025-11-08T17:12:56Z","tagged_at":"2025-11-08T17:12:56Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3709274547,"first_name":null,"email_address":"lianacafolla@gmail.com","state":"active","created_at":"2025-11-07T09:37:12Z","tagged_at":"2025-11-07T09:37:13Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3709068863,"first_name":null,"email_address":"kg@karlgreen.net","state":"active","created_at":"2025-11-07T07:37:37Z","tagged_at":"2025-11-07T07:37:37Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3708438940,"first_name":null,"email_address":"m@maya-systems.com","state":"active","created_at":"2025-11-06T23:15:26Z","tagged_at":"2025-11-06T23:15:32Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3708145261,"first_name":null,"email_address":"its.christianfleck@gmail.com","state":"active","created_at":"2025-11-06T20:11:21Z","tagged_at":"2025-11-06T20:11:26Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3707877126,"first_name":null,"email_address":"robin@writelikeanexpert.com","state":"active","created_at":"2025-11-06T17:02:03Z","tagged_at":"2025-11-06T17:02:03Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3707063118,"first_name":null,"email_address":"trevinspo@gmail.com","state":"active","created_at":"2025-11-06T13:21:28Z","tagged_at":"2025-11-06T13:21:28Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3706403274,"first_name":null,"email_address":"chris.scott-thomas@getclarity.win","state":"active","created_at":"2025-11-06T08:01:57Z","tagged_at":"2025-11-06T08:01:57Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3706313595,"first_name":null,"email_address":"sanja@atelier01.co","state":"active","created_at":"2025-11-06T06:23:57Z","tagged_at":"2025-11-06T06:23:57Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3706243805,"first_name":null,"email_address":"nikolaieffj@gmail.com","state":"active","created_at":"2025-11-06T05:27:06Z","tagged_at":"2025-11-06T05:27:06Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}},{"id":3706187809,"first_name":null,"email_address":"pmlundeen@gmail.com","state":"active","created_at":"2025-11-06T04:35:33Z","tagged_at":"2025-11-06T04:35:39Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}}],"pagination":{"has_previous_page":false,"has_next_page":false,"start_cursor":"WyIyMDI1LTExLTE0VDExOjM2OjQxLjQxM1oiLDYwNDY2MzQ1MjFd","end_cursor":"WyIyMDI1LTExLTA2VDA0OjM1OjM5LjQ1MloiLDYwMDU5NjkyNzhd","per_page":500,"total_count":25}}}]},"versionId":"bdb5109e-f94f-421f-8c07-603f1b28485e","triggerCount":1,"shared":[{"updatedAt":"2025-07-25T20:16:38.043Z","createdAt":"2025-07-25T20:16:38.043Z","role":"workflow:owner","workflowId":"iNgXIqh3BSSCeZ0M","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}