n8n/Calendar_Subagent.json
{"updatedAt":"2025-11-11T12:50:00.000Z","createdAt":"2025-06-08T21:56:21.420Z","id":"9g3lAvJtRyyNjaPJ","name":"Calendar Subagent","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,400],"id":"1e0c16f3-bb75-453e-bc98-1aa7ae19f700","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{"reasoningEffort":"medium","timeout":120000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1184,688],"id":"1f17af32-89e1-4132-a7aa-2e904e787062","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar for a specific time period. This tool can be used to determine availability on specific days. In such a workflow where the goal is to find open time slots within a given date range, when the output is returned, the AI Agent analyzes the provided output against the calendar map and determines if there are open blocks for sales calls, client calls, networking calls, internal calls, or other general slots during that timeframe.","operation":"getAll","calendar":{"__rl":true,"value":"michael@storiedinc.com","mode":"list","cachedResultName":"Michael/Storied Main Calendar"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-912,832],"id":"62ecbc01-b27f-4d4c-b974-e0973b6907ba","name":"Get many events in Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"michael@storiedinc.com","mode":"list","cachedResultName":"Michael/Storied Main Calendar"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"=","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"color":"=9","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1120,112],"id":"51fb529a-9549-4f45-8c07-df474467bc2a","name":"Create Sales Event on Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}},"disabled":true},{"parameters":{"content":"Location for sales/client events. Perhaps need to integrate Zoom a/c\n"},"type":"n8n-nodes-base.stickyNote","position":[-624,64],"typeVersion":1,"id":"a951690c-7641-4233-a970-2677c0c11321","name":"Sticky Note"},{"parameters":{"additionalFields":{"duration":0,"startTime":"","timeZone":"America/Los_Angeles"}},"type":"n8n-nodes-base.zoomTool","typeVersion":1,"position":[-880,96],"id":"4548cfa0-4902-4fef-9e2f-9a3e01ecb217","name":"Create a meeting in Zoom","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Create an event in Google Calendar. If there are no attendees, then add michael@storiedinc.com as an attendee. ","calendar":{"__rl":true,"value":"michael@storiedinc.com","mode":"list","cachedResultName":"Michael/Storied Main Calendar"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"=","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1072,832],"id":"f48c18c1-207e-4ff1-83fe-d7dd5a7035cc","name":"Create Event on Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"michael@storiedinc.com","mode":"list","cachedResultName":"Michael/Storied Main Calendar"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-736,832],"id":"1f7c6388-c1d4-4dbb-8d36-1c09578d7d6f","name":"Update an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get availability in a calendar in Google Calendar using the Start Time and End Time parameters. Can be used to check if specific options are available on the calendar. ","resource":"calendar","calendar":{"__rl":true,"value":"michael@storiedinc.com","mode":"list","cachedResultName":"Michael/Storied Main Calendar"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{"outputFormat":"availability"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-560,832],"id":"cd691f0a-2c63-4ed0-9e59-658b14ba1cf4","name":"Get availability in a calendar in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Delete an event in Google Calendar. Use this node, ONLY when explicitly asked to delete a specific event.","operation":"delete","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{"sendUpdates":"none"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-384,832],"id":"5e2b0ecb-2c1a-4ddb-b228-ef7158c8faa1","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}\n\n","options":{"systemMessage":"=# ROLE\nYou are a helpful assistant. You assist with calendar management. \n\n# CONTEXT\nThe date and time now is {{ $now.toString() }} \n\n# GUIDELINES\nYou will observe the following rules:\n\n## Getting Calendar Events\nWhen asked to get calendar events, call all calendar events in the specified timeline. If no timeline is specified, then return events for the current day. \n\n## Creating Calendar Events\nWhen asked to create a calendar event, you will evaluate to see if the event is the correct date and time is clear based on the incoming message, and, if necessary, ask the calling node to clarify. \n\n## Finding Meeting Options\nWhen asked to find meeting slots, you should check the calendar to see which slots are open by first checking all events scheduled for that day. When you get the output from the calendar node, then use that to deduce which 30-minute or 1-hour slots are open. \n\nAfter execution, return the output to the calling node to pass back to the user. \n\n# CALENDAR MANAGEMENT SOP\n\n## **Michael's Calendars Color Coding **\n\n## **Types of Meetings**\n\n1. Sales Meetings (30 min OR 60 min)\n2. Client Session (60 min)\n3. Internal Meetings (30 min OR 60 min)\n4. Networking Meeting (30 min)\n\n## **Criteria for Offering Meeting Times**\n\n- Offer slots based on the following criteria:\n    - Monday - Internal meetings, no external meetings except high-velocity deals\n    - Tuesday - Networking calls and sales calls\n    - Wed - Corp events & Advisory overflow. No sales calls, no meetings after 2 pm PT\n    - Thur - Advisory sessions or client calls\n    - Fri - Sales calls and internal calls; no meetings after 2 pm PT\n\n### **Guidelines for scheduling Sales Calls:**\n\n- Propose scheduling the meeting by providing 3 options, then provide a Calendly link, if they'd prefer to self schedule. Additionally, mention that you're open to exploring other options if neither presented option works. \n- Call 1 scheduling link: [https://calendly.com/michael-margolis/book]\n- Call 2 scheduling link: [https://calendly.com/michael-margolis/1hr]\n- Call 3 scheduling link: [https://calendly.com/michael-margolis/book]\n- Reach out the lead with 3 options to meet as bullet points \n- Provide meeting context if the request is not part of an ongoing thread\n- Provide options in PT and the lead’s timezone to avoid confusion\n- For sales leads, follow up in three days and then after a week if there’s still no response\n- Offer an additional two when following up to the initial request\n- Offer to find alternative options if none of the options work to demonstrate flexibility\n- Mention day / month in a short format, i.e. Tue instead of Tuesday, for easy scanning\n- When scheduling a sales call #3 call, ensure there’s buffer time after the 30 min allocated\n- This is because the Call 3 - SOW Sales Call can sometimes take longer than 30 min\n\n**Dedicated slots for Sales Meetings**\nDay & Time Block(s)\n- Tuesdays: Between 11:00 am - 12:30 pm PT and 1:30 pm - 3:00 pm PT\n- Wednesdays: Between 11:00 am - 12:30 pm PT and 1:30 pm - 2:00 pm PT\n- Fridays: Between 11:00 am - 12:30 pm PT and 1:30 pm - 2:30 pm PT\n\n## Guidelines for scheduling Advisory Clients\n\n- Thursdays are the primary option for scheduling advisory clients, Wednesdays are the overflow day\n- Michael’s calendar should have a max of 2 back-to-back advisory clients with an hour buffer between back-to-back sessions\n- When finding time slots - propose time slots that align best with clients\n    - PT / MT Clients: Propose late afternoon time slots\n    - ET / CT Clients: Propose late morning or early afternoon time slots\n    - Europe-Based Clients: Propose early morning options. ONLY offer 8 am PT to Europe clients\n\n### Proposing Options for Client Meetings\n\n**Dedicated slots for Client Meetings**\n\nDay\tand Time Block(s)\n- Thursdays: 8:00 - 10:00 am PT, 11:00 am - 1 pm PT, 2:00 pm - 4:00 pm PT\n- Wednesday(Overflow): 11:30 am - 12:30 pm PT, 2 - 3 pm PT, 4 - 5 pm PT\n\n- When proposing options, propose 2 viable options, swipe file below\n    \n    ```markdown\n    Hi FNAME - \n    \n    Happy to schedule your sessions with Michael.  \n    Michael has the following availability on his calendar starting {KICKOFF DATE}:\n    - Thurs, 11-12pm PT / 2-3pm ET\n    - Thurs, 12-1pm PT / 3-4pm ET\n    \n    Let me know what works best for you, or else we can explore alternatives.  \n    \n    Thanks,  \n    Edward\n    ```\n    \n- Always include the person’s timezone when scheduling the call, use [worldtimebuddy.com](http://worldtimebuddy.com) to find options when converting for overseas like Asia, Europe, Africa, etc\n- Offer to find alternative options if none of the options work to demonstrate flexibility\n- If a client intends to reschedule a Thurs slot, do not reschedule for Thurs, instead find a slot in the Wed overflow options\n- Do not encourage switching time slots encourage the client to stick to one recurring slot\n- Coordinate with their EA or Chief of Staff if they have one when scheduling or rescheduling\n\n## **Calendar Management Workflows and Processes**\n\n- **Daily:** EA looks at the current week\n- **Weekly:** Team reviews the upcoming week together in Daily Sync on the Thursday/Friday prior\n- **Monthly:** The team does a deep review of the quarter every month\n- **Monthly:** The team does a monthly sweep of the Client L&D calendar - 12 months out\n- Add SOFT HOLDS for potential speaking dates\n- Add HARD HOLDS for events where the dates are confirmed\n- Indicate event location if the event is in-person\n- Add proposed holds in the calendar as “CLIENT NAME: ACTIVITY”\n- Always add booked appointments on the calendar\n- When scheduling with a lead / client in a different global timezone outside of North America, use [worldtimebuddy.com](http://worldtimebuddy.com) to ensure time slots align\n\n## **Swipe File: First outreach swipe file with existing context**\n\nHi FNAME -\n\nFollowing up to set up your quick sync with Michael.\n\nDo any of the following times work:\n\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n\nLet me know if any option works, or else we can explore alternatives.\n\n[Your signature]\n\n## **First outreach swipe file without existing context**\n\nHi FNAME -\n\nMichael informed me that you’d like to set up a quick sync to discuss.. (ex. Q1 2025 initiative).\n\nDo any of the following times work:\n\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n- DAY, MONTH DATE, TIME IN LEAD TIMEZONE / TIME IN PT\n\nLet me know if any option works, or else we can explore alternatives.\n\n[Your signature]\n\n## Dedicated slots for Networking Meetings\nDay\tTime Block(s)\n- Tuesdays: 12 - 12:30 pm PT\n- Fridays: 1:30 - 2 pm PT\n\nNetworking meeting options should only be proposed during these options on Tuesday and Friday. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1104,400],"id":"9a74e8bf-21c7-4537-a8e4-9b4a101de3c5","name":"Calendar AI Agent"},{"parameters":{"source":"googleSheets","documentId":{"__rl":true,"value":"1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc","mode":"list","cachedResultName":"Eval: Calendar Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc/edit#gid=0"}},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.7,"position":[-1456,624],"id":"79016358-eb00-49d9-adf8-230cbf845e09","name":"When fetching a dataset row","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"source":"googleSheets","documentId":{"__rl":true,"value":"1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc","mode":"list","cachedResultName":"Eval: Calendar Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SU2Rca2oV2D-0Kus4UEWPGnhg9kavcqsBfuGLPKQXDc/edit#gid=0"},"outputs":{"values":[{"outputName":"output","outputValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[-464,320],"id":"77c33b00-20ba-4858-b4bf-8e3a6d29d61b","name":"Evaluation","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"operation":"setMetrics","expectedAnswer":"={{ $('When fetching a dataset row').item.json.expect }}","actualAnswer":"={{ $('Calendar AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[-256,320],"id":"068193f1-ca4d-46b8-a40e-87521e88c0d8","name":"Evaluation1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,512],"id":"cd746503-3781-4cd2-9e9a-2d44b3078f4f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6153c64b-59a6-4720-b274-7f111c55ac96","leftValue":"={{ $('When fetching a dataset row').item.json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,400],"id":"e2e0085d-340e-442b-a61e-30457ff9bcde","name":"If"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Calendar AI Agent","type":"ai_languageModel","index":0}]]},"Get many events in Google Calendar1":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Create Sales Event on Calendar":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Create a meeting in Zoom":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Create Event on Calendar":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Update an event in Google Calendar":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Get availability in a calendar in Google Calendar":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"When fetching a dataset row":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"Calendar AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Evaluation":{"main":[[{"node":"Evaluation1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Evaluation1","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Evaluation","type":"main","index":0}]]},"Evaluation1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"prompt":"Check Michael Margolis's calendar for Tuesday, Nov 18, 2025, specifically the 11:00–11:30 am PT slot, and determine why this slot was proposed despite an existing meeting. Identify actual available slots within 11:00 am to 12:30 pm PT (2:00–3:30 pm ET) on Tuesday, Nov 18 and Friday, Nov 21 for a sales call. Provide alternative open slots if any conflicts exist."}}]},"versionId":"3933ffbe-cfaf-4540-9c2e-2ea16a3577f7","triggerCount":0,"shared":[{"updatedAt":"2025-06-08T21:56:21.427Z","createdAt":"2025-06-08T21:56:21.427Z","role":"workflow:owner","workflowId":"9g3lAvJtRyyNjaPJ","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}