n8n/Check_Disk_Storage.json
{"updatedAt":"2025-09-19T11:37:14.000Z","createdAt":"2025-07-24T22:18:37.187Z","id":"EkjbHlR6AZIgBlKu","name":"Check Disk Storage","active":true,"isArchived":false,"nodes":[{"parameters":{"command":"df -h /"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-240,-64],"id":"7890a7da-07d2-44ab-819b-73765cff50bf","name":"Execute Command"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-64],"id":"29fe9207-b17c-44d9-bab5-75d10dbdfb67","name":"Schedule Trigger"},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06HYNGR0HL","mode":"list","cachedResultName":"edward"},"text":"=VM Status - {{ $now.toString() }}\n\n{{ $json.stdout }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[64,-64],"id":"c55695b4-7e13-4337-a39f-36b8cf81c1cf","name":"Send a message","webhookId":"852630d7-1843-4aa6-bd9b-1aed9c872b74","credentials":{"slackApi":{"id":"TCCNsFSy1xU8ud22","name":"SLACK API - BOT"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d36dc04-b887-4af8-93e4-21dfedc5545c","triggerCount":1,"shared":[{"updatedAt":"2025-07-24T22:18:37.196Z","createdAt":"2025-07-24T22:18:37.196Z","role":"workflow:owner","workflowId":"EkjbHlR6AZIgBlKu","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}