n8n/ConvertKit_Stats_-_Weekly.json
{
  "updatedAt": "2025-07-26T00:27:03.000Z",
  "createdAt": "2025-07-25T22:14:32.801Z",
  "id": "Bo5fd5wJLIMfglJ5",
  "name": "ConvertKit Stats - Weekly",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/7382909/subscribers?include_total_count=true&per_page=20&status=active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -336
      ],
      "id": "2688ec55-c137-4be3-bed4-8ea85986757b",
      "name": "Get ConvertKit ICP List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/8098523/subscribers?created_after={{ $now.minus(8, \"days\").format('yyyy-MM-dd') }}&status=active&include_total_count=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -336
      ],
      "id": "c5674570-b8a1-4c32-baae-6bad2e3bec8b",
      "name": "Get Book Downloads from Past Week",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/account/growth_stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -336
      ],
      "id": "69910a14-43cf-4ee0-86f6-cc9d8cae778a",
      "name": "Get All Subscriber Stats",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/7276955/subscribers?include_total_count=true&per_page=20&status=active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -336
      ],
      "id": "bf1427a9-114a-4cf7-aa73-10caa99d9694",
      "name": "Get ConvertKit Opps List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        -336
      ],
      "id": "e5c398ba-44bf-4675-9915-1c99438162cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06HYNGR0HL",
          "mode": "list",
          "cachedResultName": "edward"
        },
        "text": "=*ConvertKit Stats from the Past Week*\n\nTotal Subscribers: {{ $('Get All Subscriber Stats').item.json.stats.subscribers }}\n\nTotal ICP Subscribers: {{ [$('Get ConvertKit ICP List').item.json.pagination.total_count, $('Get ConvertKit Opps List').item.json.pagination.total_count].sum() }}\n\nBook Downloads: {{ $json.pagination.total_count }}\n\nICP Subscribers: {{ $('Get ConvertKit ICP List').item.json.pagination.total_count }}\n\nOpportunities: {{ $('Get ConvertKit Opps List').item.json.pagination.total_count }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1136,
        -48
      ],
      "id": "ad09257d-f9e1-418d-a926-ebfe56491a66",
      "name": "Send a message",
      "webhookId": "4fa35690-0c92-4fcd-a8b7-6fe526fc1e81",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    }
  ],
  "connections": {
    "Get Book Downloads from Past Week": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Subscriber Stats": {
      "main": [
        [
          {
            "node": "Get ConvertKit ICP List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ConvertKit ICP List": {
      "main": [
        [
          {
            "node": "Get ConvertKit Opps List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Subscriber Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ConvertKit Opps List": {
      "main": [
        [
          {
            "node": "Get Book Downloads from Past Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ea284d77-c2e5-44e2-a0d6-b879b4df53ae",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-25T22:14:32.809Z",
      "createdAt": "2025-07-25T22:14:32.809Z",
      "role": "workflow:owner",
      "workflowId": "Bo5fd5wJLIMfglJ5",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}