n8n/ConvertKit_Stats_-_Weekly.json
{
  "updatedAt": "2025-12-02T01:34:41.000Z",
  "createdAt": "2025-07-25T22:14:32.801Z",
  "id": "Bo5fd5wJLIMfglJ5",
  "name": "ConvertKit Stats - Weekly",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/7382909/subscribers?include_total_count=true&per_page=20&status=active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -336
      ],
      "id": "2688ec55-c137-4be3-bed4-8ea85986757b",
      "name": "Get ConvertKit ICP List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/8098523/subscribers?created_after={{ $now.minus(8, \"days\").format('yyyy-MM-dd') }}&status=active&include_total_count=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -336
      ],
      "id": "c5674570-b8a1-4c32-baae-6bad2e3bec8b",
      "name": "Get Book Downloads from Past Week",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/account/growth_stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -336
      ],
      "id": "69910a14-43cf-4ee0-86f6-cc9d8cae778a",
      "name": "Get All Subscriber Stats",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kit.com/v4/tags/7276955/subscribers?include_total_count=true&per_page=20&status=active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -336
      ],
      "id": "bf1427a9-114a-4cf7-aa73-10caa99d9694",
      "name": "Get ConvertKit Opps List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rQ2ENPIII8EfLIc1",
          "name": "ConvertKit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        -336
      ],
      "id": "e5c398ba-44bf-4675-9915-1c99438162cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06HYNGR0HL",
          "mode": "list",
          "cachedResultName": "edward"
        },
        "text": "=*ConvertKit Stats from the Past Week*\n\nTotal Subscribers: {{ $('Get All Subscriber Stats').item.json.stats.subscribers }}\n\nTotal ICP Subscribers: {{ [$('Get ConvertKit ICP List').item.json.pagination.total_count, $('Get ConvertKit Opps List').item.json.pagination.total_count].sum() }}\n\nBook Downloads: {{ $json.pagination.total_count }}\n\nICP Subscribers: {{ $('Get ConvertKit ICP List').item.json.pagination.total_count }}\n\nOpportunities: {{ $('Get ConvertKit Opps List').item.json.pagination.total_count }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1136,
        -48
      ],
      "id": "ad09257d-f9e1-418d-a926-ebfe56491a66",
      "name": "Send a message",
      "webhookId": "4fa35690-0c92-4fcd-a8b7-6fe526fc1e81",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://app.kit.com/publications/13346791/reports/opened?page=eJxVyrERACAIA8CFLBKCEM7997LV9u-xuCNdu1eoMgxYB482MLQwn5rhJOe_o1Z2dl0A8hGQ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "ck_device=V2pUc0FreTRJVzlQZ2J4cVVwcHRITHRTTTJac0hqaFBoVUZuM1c5Q3dHajJ5UUx5RkVZSHlQemVxV2pOZXhCdW5tUDcwYTNCdXJNcW1QZUtlMzU2ZGJTeDNsdml5eVA2cEFKSTFDaDFJMmxDSGt4QWZqYTlBdVVpTVF4NUNFbjJ0R3RsM2RieTZ4K1RXTlAxZmxZSWpvT29rWS9MaEdtMTY5N3pLeUlWMVJnPS0tY2hmUCtmL3dCekNvR3V4c01pQ1VkZz09--49bd384d93c694386cfb69168cd860c933c32916; cf_clearance=kAZaOZpEPUe.99TPQmqj5z9SCh0j3i4J_zNcZy7ugh0-1753809584-1.2.1.1-KB2G3a63yPjjt8kz1fDyDoWv37iQQ88bIQGKfHs5C3f5iUeNSDI2OWzVlzcxofCVwN6Y1GUPMIwrIV5FeWgQCw_wRwC44WczDZxFttTcYprLuAkA2sQKHqfPAyIiYb.RkuIzZtRbxFwlu7zuC0yuvgwx3a3nC4Nc__Cl2TECRf68UFEILk7RxAK81.jqnk9NHqr9izToWJa1nPsugQCVXAfVvp5HliVQ7yV2YT4G.fQ; __stripe_mid=96e93a87-fa0d-49c6-bacb-cb14ad76a1723c33fa; ajs_anonymous_id=gT4225a29BVi9HuzNY1QtQ7m; remember_user_token=eyJfcmFpbHMiOnsibWVzc2FnZSI6Ilcxc3hNRGsyTnpnNVhTd2lKREpoSkRFd0pIRm9NRFYxUVV4bVlrcERkMWhaVkdwS1pUTTJZMlVpTENJeE56WXdOamN5TnpNNExqUTNOVE0zTVRnaVhRPT0iLCJleHAiOiIyMDI2LTEwLTE3VDAzOjQ1OjM4LjQ3NVoiLCJwdXIiOm51bGx9fQ%3D%3D--62428425d466096c855ac798ee4cd84df666e5fb; _mailapp_session=2dfed12a1f86a13c623e1c1015718f71; __stripe_sid=fb842263-cd68-4329-9031-ad23162c9986da33a5; __cf_bm=VqmgWSgC.MPkHbSeBpB_IHqIq4b6DieQU5AXU65eY.8-1764637587-1.0.1.1-8t5caSlKgZyAi9IESxTd9Mo5duzpAu1WofWY4RKfb0m3GeiiAzuWBmhiakwvu3bZdXWSqPELoqC72MbAVP_WVcroIH51_J3wfipQ0oiRE.U; XSRF-TOKEN=joKveZ-V85jJQXIAPGvqJu2-h4QXGZElqk06t-mzPX2wSUI9f3DZNu83JlJAtSdncbMS1zwV6iqNK5rNHaZykQ"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        208
      ],
      "id": "bf6702dd-6850-411f-a0c3-091d058e28b4",
      "name": "Get Subscriber Stats for Broadcast"
    }
  ],
  "connections": {
    "Get Book Downloads from Past Week": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Subscriber Stats": {
      "main": [
        [
          {
            "node": "Get ConvertKit ICP List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ConvertKit ICP List": {
      "main": [
        [
          {
            "node": "Get ConvertKit Opps List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Subscriber Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ConvertKit Opps List": {
      "main": [
        [
          {
            "node": "Get Book Downloads from Past Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f5e78549-512c-42d9-8a1a-e029e2cf8ec2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-25T22:14:32.809Z",
      "createdAt": "2025-07-25T22:14:32.809Z",
      "role": "workflow:owner",
      "workflowId": "Bo5fd5wJLIMfglJ5",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}