n8n/Email_-_Trigger_Workflow.json
{
  "updatedAt": "2025-11-17T14:02:47.000Z",
  "createdAt": "2025-07-10T11:53:50.528Z",
  "id": "VtuaZAAvnvzQToaV",
  "name": "Email - Trigger Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        32
      ],
      "id": "04e9bab4-d940-4da8-8093-9e95f7b6c819",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# REQUEST\n\nProcess the request below using the tools at your disposal:\nThis message was received {{ $json.headers.from }} on {{ $json.headers.date }}\n\n#CONTEXT EMAIL\nPlease note the following in analyzing the following email. If there are several emails between ai@storiedinc.com and any other address, any emails from ai@storiedinc.com are AI replies. Subsequent follow-up emails from any other email address directly to ai@storiedinc.com are the human's reply to the AI. You should reply to the latest human request while using the previous emails as context.\n\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $json.text }}\n",
        "options": {
          "systemMessage": "=# ROLE\nYou are a helpful assistant primarily assisting with admin and operations tasks. \n\n# CONTEXT\nThe date and time now is {{ $now.toString() }}\n\n# PURPOSE\nYou are required to take the information passed by the user and determine the best course of action. Your job is to orchestrate jobs between different agents and formulate a friendly response back to the user. \n\n# EXECUTION\nYou are required to call agents in the correct order by passing in the correct information. This should not involve doing actions like writing emails or other content yourself. \n\nWhen you receive input, analyze it in the following ways:\n\n1. If you are asked to take an action, determine the correct tool to take action on the next steps. \nFor example:\n- If the email requires you to extract next steps from an email and add those next steps to Monday, then you will pass that context to the Monday subworkflow. \n- If you are asked to find meeting options on the calendar, then you shall call the calendar workflow node and use that to find times on the calendar based on the defined calendar management rules. \n\nFinally, after execution, return the final output of the execution to the user through the output. For example, if you were asked to find meeting slots, provide that output back to the user and tell them what slots are open. If a sub-workflow was required to create a task on Monday, confirm with the user if the task has or has not been created. \n\nWhen you are done running other tools or workflows, the next step in the workflow will send an email back to the user, which means you must provide output that is meaningful. \nThe body of the email will be the full text of the email body, which is the output of the execution workflow, including what has been done, what has not been done, any questions or blockers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        528,
        32
      ],
      "id": "67652e76-405e-4bf8-be9c-4fbde2cea6f8",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": false
    },
    {
      "parameters": {
        "description": "Call this tool to work on any email related activities.",
        "workflowId": {
          "__rl": true,
          "value": "lQxi6YEZQaiu6s76",
          "mode": "list",
          "cachedResultName": "Gmail Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        -176
      ],
      "id": "fe069788-c4a4-483b-91ab-b0e20edc4511",
      "name": "Gmail Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low",
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        272
      ],
      "id": "7448b500-361e-4b7f-ab09-539c429847af",
      "name": "OpenAI Chat Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI"
    },
    {
      "parameters": {
        "description": "Call this tool to update data into the Pinecone vector database.",
        "workflowId": {
          "__rl": true,
          "value": "J2MQ18NtWXrUXCfw",
          "mode": "list",
          "cachedResultName": "Pinecone Updates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        -176
      ],
      "id": "52e75859-f8ac-49c3-be1e-e0bdb5ebb6ce",
      "name": "Pinecone Upsert",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this workflow for any actions on Monday.com including creating items on Monday.com, updating items on Monday.com, or getting items on Monday.com. Requests will typically come in as something like \"Create this item on Monday\" or \"Create these items on my Monday board\" or \"Find items due today on my board\".",
        "workflowId": {
          "__rl": true,
          "value": "foxsO53IbcaM6Ff3",
          "mode": "list",
          "cachedResultUrl": "/workflow/foxsO53IbcaM6Ff3",
          "cachedResultName": "Monday Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}",
            "context": "=Full Context:\n\nEmail Subject Line: {{ $('Only Allow Mail to Storied AI').item.json.subject }}\n\nFrom: {{ $('Only Allow Mail to Storied AI').item.json.from.value[0].name }}<{{ $('Only Allow Mail to Storied AI').item.json.from.value[0].address }}>\n\n{{ $('Only Allow Mail to Storied AI').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        464
      ],
      "id": "ab694a9d-6410-4b99-bc35-616a5a1a7fcc",
      "name": "Monday Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to execute email functions. You may be required to send emails or search for emails in Gmail or send using SMTP. Enough information must be passed to the tool that allow it to action properly and make actionable input.",
        "workflowId": {
          "__rl": true,
          "value": "lQxi6YEZQaiu6s76",
          "mode": "list",
          "cachedResultName": "Gmail Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        320
      ],
      "id": "fbec491a-1c53-4203-8827-68ba7b407c9d",
      "name": "Email Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to do actions on Slack including sending messages to user, using a human approval step, or to notify a user easily. ",
        "workflowId": {
          "__rl": true,
          "value": "Ej82KV1ttHjC8dZH",
          "mode": "list",
          "cachedResultName": "Slack Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        544,
        384
      ],
      "id": "dea14681-c82e-47c1-bad3-9a9c89ebb9c4",
      "name": "Slack Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to take action on calendar action items. This tool will primarily be used to get calendar events or propose open calendar slots for scheduling sales calls or client calls. When providing output back to the user, notify them that the Zoom meeting may not be linked to the calendar event. ",
        "workflowId": {
          "__rl": true,
          "value": "9g3lAvJtRyyNjaPJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9g3lAvJtRyyNjaPJ",
          "cachedResultName": "Calendar Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        400
      ],
      "id": "926b9945-b647-4961-99c6-d418fc686335",
      "name": "Calendar Sub-Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2f1d3dc-2d7e-4c69-8e7c-8e2400a1a2f4",
              "leftValue": "={{ $json.headers.from.includes(\"ai@storiedinc.com\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -64,
        32
      ],
      "id": "3435a822-b97c-48b7-b351-30a71e7d6296",
      "name": "Filter Out Mail from Storied AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49b4a1dd-4bf5-4e24-8042-7795fe200208",
              "leftValue": "={{ $json.headers.to.includes(\"ai@storiedinc.com\") }}",
              "rightValue": "To: ai@storiedinc.com",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "79ac21c9-3852-4b5e-a45a-a6a68a7439d4",
              "leftValue": "={{ $if($json.headers.cc, $json.headers.cc.includes(\"ai@storiedinc.com\"), false) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e3f7331b-d738-4d31-9692-f4ee4311eccd",
              "leftValue": "={{ $if($json.headers.bcc, $json.headers.bcc.includes(\"ai@storiedinc.com\"), false) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        192,
        32
      ],
      "id": "1dc73d91-ff7c-4d29-a2d6-eef5733aeb46",
      "name": "Only Allow Mail to Storied AI"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.headers.subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "fromAlias": "ai@storiedinc.com",
          "replyTo": "ai@storiedinc.com",
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        32
      ],
      "id": "2a9b3111-6dfc-4c1e-ae68-00301fb75f61",
      "name": "Create a draft",
      "webhookId": "9b7d0c52-2748-4e44-a034-09dc6f428b17",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        32
      ],
      "id": "8a858aff-2016-4ff3-b5b7-a4366fbbd809",
      "name": "Send Gmail Draft",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter Out Mail from Storied AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Upsert": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Monday Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Mail from Storied AI": {
      "main": [
        [
          {
            "node": "Only Allow Mail to Storied AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Allow Mail to Storied AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Send Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "geHpTM7jr9NoyZNi"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1763397430,
        "possibleDuplicates": [
          "19a92ad8c3e040f5",
          "19a929f08cf5d9aa"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19a790dc1cf1e683",
          "threadId": "19a78f55fc6e9624",
          "labelIds": [
            "Label_105",
            "CATEGORY_PERSONAL",
            "SENT"
          ],
          "sizeEstimate": 23126,
          "headers": {
            "received": "Received: from 649336022844\r\n\tnamed unknown\r\n\tby gmailapi.google.com\r\n\twith HTTPREST;\r\n\tWed, 12 Nov 2025 09:12:17 -0800",
            "mime-version": "Mime-Version: 1.0",
            "in-reply-to": "In-Reply-To: <CAL9ygaqGAWjzRUN4xcYSFhVGdbpdH43y=fYJqA2vHG5VPBu+DQ@mail.gmail.com>",
            "date": "Date: Wed, 12 Nov 2025 17:12:16 +0000",
            "message-id": "Message-ID: <mhw9byja.73b97eb0-29f8-4065-b308-0ccf43e984d8@we.are.superhuman.com>",
            "subject": "Subject: Fwd: Fwd: EOS TOKEN MIGRATION",
            "x-mailer": "X-Mailer: Superhuman Desktop (2025-11-11T20:22:58Z)",
            "x-superhuman-id": "X-Superhuman-ID: mhw9c9kq.5de11ee3-04f0-43f8-92e1-4c47f20903d9",
            "x-superhuman-draft-id": "X-Superhuman-Draft-ID: draft00f2c650e717d165",
            "references": "References: <mhw83buh.adc93db8-e24b-4e98-bc00-3882222886be@we.are.superhuman.com> <CAL9ygaqGAWjzRUN4xcYSFhVGdbpdH43y=fYJqA2vHG5VPBu+DQ@mail.gmail.com>",
            "from": "From: \"Edward Njogu\" <edward@storiedinc.com>",
            "to": "To: \"Storied AI\" <ai@storiedinc.com>",
            "content-type": "Content-Type: multipart/alternative;\r\n boundary=d07b03ba8990571ed4dafc63a96ed5a63bc77fab838f7b590948fd74f014"
          },
          "html": "<html><head></head><body><div><div><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><br/></div></div></div><div class=\"sh-quoted-content\"><div class=\"\"><div class=\"\"><br/><div class=\"\"><div class=\"gmail_quote\" style=\"\" id=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"sh-quoted-content\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"gmail_quote\" style=\"\" id=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"\">Below is a request from Michael to me.<br/></div><div class=\"\"><br/></div><ol class=\"\"><li value=\"1\" class=\"\">Please create this item on my board.<br/></li><li class=\"\">Once created, research how to do this (including any key terms) and add those to the item you just created.<br/></li></ol><div class=\"\">Thanks..<br/></div><div class=\"\"><br/></div><div class=\"\"><br/></div><div class=\"\"><hr class=\"\"/><br/></div><div class=\"\"><br/></div><div class=\"\">Michael&#39;s request:<br/></div></div></div><div class=\"sh-quoted-content\"><div class=\"\"><div class=\"\"><div class=\"\"><br/></div><div class=\"\"><div class=\"gmail_quote\" style=\"\" id=\"\"><div class=\"\"><div class=\"\"><div class=\"\"><div class=\"\">Edward<br/></div><div class=\"\">Can you research and guide me on how to do this. <span style=\"background-color: transparent;\" class=\"\">I have a bunch of EOS tokens in Coinbase that need to be transferred to my self custodial wallet Exodus. </span><br/></div><div class=\"\"><span style=\"background-color: transparent;\" class=\"\">Not urgent, but good to do in the next week or so.</span><br/></div><div class=\"\"><span style=\"background-color: transparent;\" class=\"\"> </span><br/></div><div class=\"\"><br/></div><div class=\"\"><div class=\"\"><div class=\"gmail_quote bodybg\" style=\"margin: 0px auto; padding: 0px; background-color: transparent; color: rgb(0, 0, 0); background-image: none;\" id=\"\"><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" align=\"center\" class=\"\"><tbody class=\"\"><tr class=\"\"><td align=\"center\" valign=\"top\" class=\"\"><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"720\" align=\"center\" class=\"w_360\"><tbody class=\"\"><tr class=\"\"><td align=\"center\" valign=\"top\" class=\"\"><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" align=\"center\" class=\"\"><tbody class=\"\"><tr class=\"\"><td align=\"center\" valign=\"top\" class=\"whitetext\" style=\"font-size:22px; line-height:35px; letter-spacing:-0.5px; font-weight:600; font-family:Coinbase Sans, Arial, sans-serif; color:#0A0B0D; padding-top:14px;\"><div class=\"\">EOS Token (EOS) Migration<br/></div></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr class=\"\"><td align=\"center\" valign=\"top\" style=\"padding: 0px 0px 40px 0px;\" class=\"\"><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"720\" class=\"w_360\"><tbody class=\"\"><tr class=\"\"><td class=\"plr_24\" align=\"center\" valign=\"top\" style=\"padding: 20px 30px 0px 30px;\"><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"660\" align=\"center\" class=\"w_312\"><tbody class=\"\"><tr class=\"\"><td class=\"whitetext\" align=\"left\" valign=\"top\" style=\"color:#0A0B0D; font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:16px; font-weight:400; line-height:24px;\">We’re reaching out with an update regarding the migration of the EOS (EOS) token to Vaulta (A). If you hold these tokens, here’s what you need to know: <br/></td></tr><tr class=\"\"><td class=\"whitetext\" align=\"left\" valign=\"top\" style=\"padding-top: 20px; color:#0A0B0D; font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:16px; font-weight:400; line-height:24px;\"><div class=\"\"><b class=\"\">What&#39;s Happening?</b> <br/></div><p class=\"\"><br/></p><div class=\"\">The EOS token is being replaced by A as part of a project upgrade. <br/></div><div class=\"\"> <br/></div><div class=\"\"> To continue using your tokens, you’ll need to swap your EOS tokens for A through the <a style=\"color:#0052FF; text-decoration: none;\" href=\"https://links.coinbase.com/s/c/ePPeOFRnDqaWdsJnwJVmskOPTrBQkKx9M9dOQK7NcPoLEi62rHFmpfJSv9ZM0k8xpzcOfZ_ZVyC5s86K1y7sYuPO0rTu7YwdQfFfcDXWdpeVm-Psa-T6CZR_klpJwSJoY_Tstk0KLnVUz5U8MF5DHa1S-hrZcPDQioMLJRrCc9AD12wHLgtTl3trRgIqizB9HHjsfx1oU3dLCOsCZihFBTi60WHQB4p4dDQWJ0REOjc1W97FWWKB7Xx5mM2YCFkqLK81rq9CZhsuvhxZmtJ85ov8Yr4GyLCuZKR3ADUIyGyKoes5UDs8RSzGC_A9WM7O6uy8uB-BAV5-AWq-Nq5P6pN-c_e7LICgfH7KFuT6ERnWRrERq36jn57dfgV3fYbX1q5nWZfiqoGMN7iV4-3LL22wYfviD8elC4owW-aoZ9T3k45S_8UlRw92ZN3DOTT_usdWnzyxqBiC-mG7H42m3yD42_cQUyRiYSQIjEdozj7mmB2iu9vLcgQxxO5QwQUkJJbVrtU-o6t63DygVXIVaau4oXKiHSawnal6sVMCfDOB928uEMIuvN5_5Gtm32w7z7Maqu2OniY-rfcvhkWrs_8/mtdy3U2zMG_u4gv6iBNit9Fb_b6uQ3G6/8\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">official migration portal</a>. You can find more details about the migration and how to swap your tokens <a style=\"color:#0052FF; text-decoration: none;\" href=\"https://links.coinbase.com/s/c/NRAvwLBUIhX4RRJP6XeWNHGYtGYcj1hqDMa_Q4eNFNUgMkC47J-C6f4pLthyKnJ2LVTk5DSibWR7_NxMkxI94B8WPPn5WvCP8S0JpKmsc2K5vQQ2fZx2XEdoajXAqjfxiTh4ocUJSUD9UKj4XhRa75boKQyouPzepN6mOUv2161Hv7247GaQIn8gX8YSaTGyfAsSmrHq4rUHbjB9gRzGKS1uHuhQrAyXm0TiXYPu3MfVe_gmXwg_swfCiqnmscnTyrDqISaz5tbu7ydDlTipTL06MzWfcqXIXriK9oe07A9mDQAUONXj-G98pc62zM5H0Wpmps3yrBTCUJOfH2-wow2qIES1gB5ITyqTdOpZyIE-mrdp9NQ4D0qvM3ow5T2T9Z2y4nPYu1GjCTK9GxCHkIxnWfsOcR8ZS-Se3F4_nTFoqKXG1DWDP5tifbj19lO8DEu1jpjJBFAZCKmFNySwzFBketem_QgM_k0WWM3WUxHyHuafGC1yqnyGz4U2HAgMFKBWOl05UJCNgQP0WWPVOB48EebK0-C-Hp157O3i5mrGCoj0fQ42AKPxE2mUNMyYRfMoE2ZQ0Wk3tGckuA/vjiI-VvwLkM7mdaQOse853E7S_2LHx0Z/8\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">here</a>. A list of wallets compatible with the EOS Native network can be found <a style=\"color:#0052FF; text-decoration: none;\" href=\"https://links.coinbase.com/s/c/y-FvBJr_0_o_jMkI1-Bof6mAtQ2pGfH2Fi3JIao8HjPLNY5JbJYGYA9D3KIUyYmX0LC5BmPc8gdc6DrVeuUDPFEwxXLKS_JM4c3Sth0_fl9iEj9MSMjWoP5Yr8GBchtpRP2kcbFKUjVlYaclg_RrOKIKVx2tdqe60fxhxNfRf66c0C020NGAmNUY2lG1rmIZ4dQfrxLuYVxzoIhsrShRkbU8vLN8OMUjvXs_nzuhbdw3Djg8LBSt9aMmTg9Oo_pGpSC_GSEkbk7LxDAvdIKFcWO3H2MheuAl1qvBgkk89hbCtA1bPq-Zju9NujvtDurPPAoBB2rSePu1e4tEjY4hXrthSdyl-4dPEY5OE0Yv00Cd3Sh960KJDYis6KxzqrIHR9r_Hu7Q2f7ZnX7Hepb8hY7lsrlDyQXsj7x4ONalDQx40SHQbtxsna0av65hUBa43zXyvZLTmy-U8V5XElItiaLhwf68voXthO5rQCoom5SjxHcLsM_DocgxNwZ1p6O7-Xk7/w7CYU89OMM_k5desr84tGJVyYGnCOiZm/8\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">here</a>.<br/></div><p class=\"\"><br/></p></td></tr><tr class=\"\"><td class=\"whitetext\" align=\"left\" valign=\"top\" style=\"padding-top: 20px; color:#0A0B0D; font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:16px; font-weight:400; line-height:24px;\"><div class=\"\"><b class=\"\">What This Means for You</b> <br/></div><ul class=\"\"><li class=\"\">Coinbase will NOT automatically convert your tokens.<br/></li><li class=\"\">To swap your tokens, you’ll need to move them to a compatible self-custodial wallet before completing the migration. <br/></li><li class=\"\">There’s no set deadline right now, so you have time to make the switch. <br/></li></ul></td></tr><tr class=\"\"><td class=\"whitetext\" align=\"left\" valign=\"top\" style=\"padding-top: 20px; color:#0A0B0D; font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:16px; font-weight:400; line-height:24px;\"><div class=\"\"><b class=\"\">How to Swap Your Tokens</b> <br/></div><ul class=\"\"><div class=\"\">1. Move your EOS tokens to a self-custodial wallet. <br/></div><div class=\"\"> 2. Go to the <a style=\"color:#0052FF; text-decoration: none;\" href=\"https://links.coinbase.com/s/c/VwX2LWHE5Li1L02Jvlr3Py-r8pZT94CuP-IkxxZf0QR4zMtxN0IxJK3lZkbeEACg8rfRjmX4Pzie11HlY48BLowSnsvVQIoNf3CBcLLm5m36gfUk3bX1JP__6WWkjcfCRh6QV5fKbZ7cj3aNN1EHGOtLeXCXyxVKMolweClJNc54-mpn-WgsPmsmLTqKsuCznzhy2KYoVEdkD0EwVeEWyfDWViGJ1EaW6KfN7bM3u1IWuZXWYozPsxCoqmMgVbhCafd1R3rO59es9Cd_OQtkgCbfbvjZtruC-JQSYStKwzwa4H3wAxPOZL2in4Tuxm0ZXFY1Akd7cIT4TGjVdkTAR4PUEwx-F180vsh9r8OruGoNV_T36WgmbxqalS9i_gRKpMFWZi8A71EZtYseyJqPciv-xoLHbgG_q4BfdSNqxikfHuaYMzv8hFDJaYtO6bUHzm9sntvKhoC0TRlOq0nDXtAdVfxJcISd8Pzb52gXogzTbqe_N_X6cAInqGBu3CBfheb-YrVA7Y9QuKHFDiCmbrnGD-c7eCJA-nKB_IxRbrMNCKspefUDMoVjCCK03tQr84mxsmbPorYJLfnTBH_a-v0/Qnqk_Asx-gE8xAb0EDywB1YTxOdQXDZk/8\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">official migration portal</a>. <br/></div><div class=\"\"> 3. Follow the steps to swap your EOS for A.<br/></div></ul><div class=\"\">Once completed, you’ll now hold A, which replaces your old tokens.<br/></div></td></tr><tr class=\"\"><td class=\"whitetext\" align=\"left\" valign=\"top\" style=\"padding-top: 20px; color:#0A0B0D; font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:16px; font-weight:400; line-height:24px;\">If you have any questions regarding this update, please visit <a style=\"color:#0052FF; text-decoration: none;\" href=\"https://comm.coinbase.com/CL0/https:%2F%2Flinks.coinbase.com%2Fs%2Fc%2F55xIkh24v27PO4xDb46euXXgpfjamxO9u8-a0jqjsbHexScoNtXmETNUK2eYkPirzV4Z-izgmBBQQHcEZ6Evxq4CI555_fRia4Uzs2I-ktn0NT9GOcP4mXEqB2J0HkVGwUPtba2RgLITATU59cy059ldQGvAVqx9WFgz8H8wbjD1-w2y91kaC3tI5F93-599g4u-9sFm5FR3o0QphKD_vyNz9IypDPszoG-zSir8qU9KY1fWlj9_mp9TirQ0xplQ3OWNGJnBOznHXRn0BKQAmQCbb88aFUTJl5eGW9MuMTKnKEYvsWUwYMTy3Unc48_hSqy2OVFUcMHgyH5cCoVTKWwoMwf18_bJgwSiaXxv7eOL8EceSUKjkzHdzaIGIKBNr-ErvRftHhnOxCtnddNH1kIzlOeItRR2HJ2Kmv2IBnD6bX2B69kv2wbJn45W7ySKpAjREoAd9gi8Ktb-ftT9zWRfsM3KihNsoNn7%2FiBAnlBB0QUE1TT2nI2CLp3h2g2bF2eDa%2F8/1/01000196d0311f77-a923b062-b3b0-4b63-b087-7c960cf7e90a-000000/hkSlul5D4C7ZF9GGXDhgv11O1edbXp1thiAnikG6xO0=405\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">Coinbase Help</a>. <br/></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr class=\"\"><td class=\"footerbg\" align=\"center\" valign=\"top\" bgcolor=\"#fafafa\" style=\"padding-top: 15px; padding-bottom: 34px; background-color: transparent !important;\"><table class=\"w_360\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" width=\"720\"><tbody class=\"\"><tr class=\"\"><td class=\"plr_24\" align=\"center\" valign=\"top\" style=\"padding: 0px 30px\"><table class=\"w_312\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" width=\"660\"><tbody class=\"\"><tr class=\"\"><td align=\"center\" valign=\"top\" style=\"padding-top: 10px;\" class=\"\"><table class=\"w_312\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" width=\"660\"><tbody class=\"\"><tr class=\"\"><td class=\"whitetext\" align=\"center\" valign=\"top\" style=\"font-family:Coinbase Sans, &#39;Inter&#39;, Arial, sans-serif; font-size:12px; line-height:18px; letter-spacing:-0.15px; font-weight:400; color:#0A0B0D;\"><br/></td></tr></tbody></table></td></tr><tr class=\"\"><td align=\"center\" valign=\"top\" style=\"padding-top:14px;\" class=\"\"><a href=\"https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&amp;_m=558a9360871b46b7821c7e6242f224bf&amp;_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOBjT0BOZRfNcx9w_HKO3WQNYk4mTCyH_a5UR2Fs_-yr7uL6sd3TZkzEc7V1-zJv9kQL6RTXpQR-uDX49ZUzJFkuAGOrUUhXkAlzTq7XYYrl-Fg2sW7BISHxpHqVPO50GeAwMYMYZ0spEXivifyFkkp9nV_t_rpOTSotIFDk6DxpRwdy-ZmfyWo-wjxuzjhvcLWoS1QbFQwk46WKt7BjgqI_GO4DE7JTlMiSEHdb6UmYEkN58ow4NXMgiRA-svI8djwXp2A0_2AJdCxij_LCOfNoY-CVVbpyay4Yj7APdjBzI\" style=\"text-decoration:none; display:block; width:48px; padding-top:6px; padding-bottom:6px;\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\"><img src=\"https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/669d5713-9b6a-46bb-bd7e-c542cff6dd6a/3aca56371967418192255878e9689713/editor_images/footer_coinbase_logo_icon_1.png\" alt=\"Coinbase\" width=\"36\" style=\"display:block; width:36px;\" class=\"\"/></a> <br/></td></tr><tr class=\"\"><td class=\"whitetext\" align=\"center\" valign=\"top\"><div class=\"\">© Coinbase 2025 | Coinbase Inc. <br/></div><div class=\"\"> 248 3rd St #434 <br/></div><div class=\"\">Oakland | CA 94607 | US <br/></div><div class=\"\"> <a href=\"https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&amp;_m=558a9360871b46b7821c7e6242f224bf&amp;_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOHWg-dqwX2C6qKYY_f9yZ1wc19hvskxkk-HOYVATbHuIt7ZOj6pjefE17ytA3XuO1lvnirJV0wBP3-FvLufd96oDSKYV9uMOxSyvJ983JcyLDBuSwLUrO9RCCowfVlKswKNL4-u3Qg3ZcAFoV5Uvl-YBuJZSFDvG3jBZ7VkI8v3E2mA3ZT2T7hUUzwDq0dklRlVQeRRPVtSW-WiTFyibRiDpFZ3LZO51XT_2jdTR6_sSjAp0n6w1B1cWk4A3lk8sO12kSeFcgxrM-kRilho6PV7amwrdwqcG-kBqT_yQy4eO\" style=\"text-decoration: none; color: #0052ff;\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">www.<wbr/>coinbase.<wbr/>com</a> <br/></div><div class=\"\"> <a href=\"https://links.coinbase.com/s/c/8XC4m1nJJGLTGA2w1V_HegNb_IppIqNmRqm8i0f-a3IDU8ukg76jX7UDj02JviBNMl7OoLzm3hVRFfop4DH43xgPUWlhrSs4ix0f2qkCB9zwbISTzNc5UicYVki14E87us_z8wNk5m9-mGDXEWZUx-SlynsEVHl_mEWQObcG2DRwWKxKsh1RC78GxXyDALlvT5Crgde-IsoWQe28N3GNBJKIxyqE2oPCCtGsTFZB3SvDiKQBG7bh9w8mCbB3GbGdLz445TnZSkOLeDkJ0k-gOh3wKJAgYVJHX_g5ck6fbBRqLcyv0AGfUWDpRy1S5hOuZChMEEoqe-28PZoA8awVNINuwcRXUTqzFEhCMnsUHc-zgltUK9YarMqebTuan0rgEqa2ZCyJ2nQ5QS3WSvqBDgerUCV3gS9YMk0uBMDarVsDgnZ7fp-8rD_Olh5p5CLSgMWl3C04L2OLuRATmrs98kJbm0kDJKE0xj9XBSQ/DNG717UtR625W6q-yKF0oVwLD_9NliFp/8\" style=\"text-decoration: none; color: #0052ff;\" rel=\"noopener noreferrer\" class=\"\" target=\"_blank\">Get in touch</a> <br/></div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div><div class=\"\"><br/></div></div><div class=\"\"><br/></div></div></div></div></div></div></div></div><div><br/></div></div><div></div></div></body></html>",
          "text": "Below is a request from Michael to me.\n\n* Please create this item on my board.\n\n* Once created, research how to do this (including any key terms) and add those to the item you just created.\n\nThanks..\n\nMichael's request:\n\nEdward\n\nCan you research and guide me on how to do this. I have a bunch of EOS tokens in Coinbase that need to be transferred to my self custodial wallet Exodus.\n\nNot urgent, but good to do in the next week or so.\n\nEOS Token (EOS) Migration\n\nWe’re reaching out with an update regarding the migration of the EOS (EOS) token to Vaulta (A). If you hold these tokens, here’s what you need to know:\n*What's Happening?*\n\nThe EOS token is being replaced by A as part of a project upgrade.\n\nTo continue using your tokens, you’ll need to swap your EOS tokens for A through the official migration portal ( https://links.coinbase.com/s/c/ePPeOFRnDqaWdsJnwJVmskOPTrBQkKx9M9dOQK7NcPoLEi62rHFmpfJSv9ZM0k8xpzcOfZ_ZVyC5s86K1y7sYuPO0rTu7YwdQfFfcDXWdpeVm-Psa-T6CZR_klpJwSJoY_Tstk0KLnVUz5U8MF5DHa1S-hrZcPDQioMLJRrCc9AD12wHLgtTl3trRgIqizB9HHjsfx1oU3dLCOsCZihFBTi60WHQB4p4dDQWJ0REOjc1W97FWWKB7Xx5mM2YCFkqLK81rq9CZhsuvhxZmtJ85ov8Yr4GyLCuZKR3ADUIyGyKoes5UDs8RSzGC_A9WM7O6uy8uB-BAV5-AWq-Nq5P6pN-c_e7LICgfH7KFuT6ERnWRrERq36jn57dfgV3fYbX1q5nWZfiqoGMN7iV4-3LL22wYfviD8elC4owW-aoZ9T3k45S_8UlRw92ZN3DOTT_usdWnzyxqBiC-mG7H42m3yD42_cQUyRiYSQIjEdozj7mmB2iu9vLcgQxxO5QwQUkJJbVrtU-o6t63DygVXIVaau4oXKiHSawnal6sVMCfDOB928uEMIuvN5_5Gtm32w7z7Maqu2OniY-rfcvhkWrs_8/mtdy3U2zMG_u4gv6iBNit9Fb_b6uQ3G6/8 ). You can find more details about the migration and how to swap your tokens here ( https://links.coinbase.com/s/c/NRAvwLBUIhX4RRJP6XeWNHGYtGYcj1hqDMa_Q4eNFNUgMkC47J-C6f4pLthyKnJ2LVTk5DSibWR7_NxMkxI94B8WPPn5WvCP8S0JpKmsc2K5vQQ2fZx2XEdoajXAqjfxiTh4ocUJSUD9UKj4XhRa75boKQyouPzepN6mOUv2161Hv7247GaQIn8gX8YSaTGyfAsSmrHq4rUHbjB9gRzGKS1uHuhQrAyXm0TiXYPu3MfVe_gmXwg_swfCiqnmscnTyrDqISaz5tbu7ydDlTipTL06MzWfcqXIXriK9oe07A9mDQAUONXj-G98pc62zM5H0Wpmps3yrBTCUJOfH2-wow2qIES1gB5ITyqTdOpZyIE-mrdp9NQ4D0qvM3ow5T2T9Z2y4nPYu1GjCTK9GxCHkIxnWfsOcR8ZS-Se3F4_nTFoqKXG1DWDP5tifbj19lO8DEu1jpjJBFAZCKmFNySwzFBketem_QgM_k0WWM3WUxHyHuafGC1yqnyGz4U2HAgMFKBWOl05UJCNgQP0WWPVOB48EebK0-C-Hp157O3i5mrGCoj0fQ42AKPxE2mUNMyYRfMoE2ZQ0Wk3tGckuA/vjiI-VvwLkM7mdaQOse853E7S_2LHx0Z/8 ). A list of wallets compatible with the EOS Native network can be found here ( https://links.coinbase.com/s/c/y-FvBJr_0_o_jMkI1-Bof6mAtQ2pGfH2Fi3JIao8HjPLNY5JbJYGYA9D3KIUyYmX0LC5BmPc8gdc6DrVeuUDPFEwxXLKS_JM4c3Sth0_fl9iEj9MSMjWoP5Yr8GBchtpRP2kcbFKUjVlYaclg_RrOKIKVx2tdqe60fxhxNfRf66c0C020NGAmNUY2lG1rmIZ4dQfrxLuYVxzoIhsrShRkbU8vLN8OMUjvXs_nzuhbdw3Djg8LBSt9aMmTg9Oo_pGpSC_GSEkbk7LxDAvdIKFcWO3H2MheuAl1qvBgkk89hbCtA1bPq-Zju9NujvtDurPPAoBB2rSePu1e4tEjY4hXrthSdyl-4dPEY5OE0Yv00Cd3Sh960KJDYis6KxzqrIHR9r_Hu7Q2f7ZnX7Hepb8hY7lsrlDyQXsj7x4ONalDQx40SHQbtxsna0av65hUBa43zXyvZLTmy-U8V5XElItiaLhwf68voXthO5rQCoom5SjxHcLsM_DocgxNwZ1p6O7-Xk7/w7CYU89OMM_k5desr84tGJVyYGnCOiZm/8 ).\n\n*What This Means for You*\n\n* Coinbase will NOT automatically convert your tokens.\n\n* To swap your tokens, you’ll need to move them to a compatible self-custodial wallet before completing the migration.\n\n* There’s no set deadline right now, so you have time to make the switch.\n\n*How to Swap Your Tokens*\n\n1. Move your EOS tokens to a self-custodial wallet.\n\n2. Go to the official migration portal ( https://links.coinbase.com/s/c/VwX2LWHE5Li1L02Jvlr3Py-r8pZT94CuP-IkxxZf0QR4zMtxN0IxJK3lZkbeEACg8rfRjmX4Pzie11HlY48BLowSnsvVQIoNf3CBcLLm5m36gfUk3bX1JP__6WWkjcfCRh6QV5fKbZ7cj3aNN1EHGOtLeXCXyxVKMolweClJNc54-mpn-WgsPmsmLTqKsuCznzhy2KYoVEdkD0EwVeEWyfDWViGJ1EaW6KfN7bM3u1IWuZXWYozPsxCoqmMgVbhCafd1R3rO59es9Cd_OQtkgCbfbvjZtruC-JQSYStKwzwa4H3wAxPOZL2in4Tuxm0ZXFY1Akd7cIT4TGjVdkTAR4PUEwx-F180vsh9r8OruGoNV_T36WgmbxqalS9i_gRKpMFWZi8A71EZtYseyJqPciv-xoLHbgG_q4BfdSNqxikfHuaYMzv8hFDJaYtO6bUHzm9sntvKhoC0TRlOq0nDXtAdVfxJcISd8Pzb52gXogzTbqe_N_X6cAInqGBu3CBfheb-YrVA7Y9QuKHFDiCmbrnGD-c7eCJA-nKB_IxRbrMNCKspefUDMoVjCCK03tQr84mxsmbPorYJLfnTBH_a-v0/Qnqk_Asx-gE8xAb0EDywB1YTxOdQXDZk/8 ).\n\n3. Follow the steps to swap your EOS for A.\n\nOnce completed, you’ll now hold A, which replaces your old tokens.\n\nIf you have any questions regarding this update, please visit Coinbase Help ( https://comm.coinbase.com/CL0/https:%2F%2Flinks.coinbase.com%2Fs%2Fc%2F55xIkh24v27PO4xDb46euXXgpfjamxO9u8-a0jqjsbHexScoNtXmETNUK2eYkPirzV4Z-izgmBBQQHcEZ6Evxq4CI555_fRia4Uzs2I-ktn0NT9GOcP4mXEqB2J0HkVGwUPtba2RgLITATU59cy059ldQGvAVqx9WFgz8H8wbjD1-w2y91kaC3tI5F93-599g4u-9sFm5FR3o0QphKD_vyNz9IypDPszoG-zSir8qU9KY1fWlj9_mp9TirQ0xplQ3OWNGJnBOznHXRn0BKQAmQCbb88aFUTJl5eGW9MuMTKnKEYvsWUwYMTy3Unc48_hSqy2OVFUcMHgyH5cCoVTKWwoMwf18_bJgwSiaXxv7eOL8EceSUKjkzHdzaIGIKBNr-ErvRftHhnOxCtnddNH1kIzlOeItRR2HJ2Kmv2IBnD6bX2B69kv2wbJn45W7ySKpAjREoAd9gi8Ktb-ftT9zWRfsM3KihNsoNn7%2FiBAnlBB0QUE1TT2nI2CLp3h2g2bF2eDa%2F8/1/01000196d0311f77-a923b062-b3b0-4b63-b087-7c960cf7e90a-000000/hkSlul5D4C7ZF9GGXDhgv11O1edbXp1thiAnikG6xO0=405 ).\n\nCoinbase ( https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOBjT0BOZRfNcx9w_HKO3WQNYk4mTCyH_a5UR2Fs_-yr7uL6sd3TZkzEc7V1-zJv9kQL6RTXpQR-uDX49ZUzJFkuAGOrUUhXkAlzTq7XYYrl-Fg2sW7BISHxpHqVPO50GeAwMYMYZ0spEXivifyFkkp9nV_t_rpOTSotIFDk6DxpRwdy-ZmfyWo-wjxuzjhvcLWoS1QbFQwk46WKt7BjgqI_GO4DE7JTlMiSEHdb6UmYEkN58ow4NXMgiRA-svI8djwXp2A0_2AJdCxij_LCOfNoY-CVVbpyay4Yj7APdjBzI )\n© Coinbase 2025 | Coinbase Inc.\n\n248 3rd St #434\n\nOakland | CA 94607 | US\n\nwww. coinbase. com ( https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOHWg-dqwX2C6qKYY_f9yZ1wc19hvskxkk-HOYVATbHuIt7ZOj6pjefE17ytA3XuO1lvnirJV0wBP3-FvLufd96oDSKYV9uMOxSyvJ983JcyLDBuSwLUrO9RCCowfVlKswKNL4-u3Qg3ZcAFoV5Uvl-YBuJZSFDvG3jBZ7VkI8v3E2mA3ZT2T7hUUzwDq0dklRlVQeRRPVtSW-WiTFyibRiDpFZ3LZO51XT_2jdTR6_sSjAp0n6w1B1cWk4A3lk8sO12kSeFcgxrM-kRilho6PV7amwrdwqcG-kBqT_yQy4eO )\n\nGet in touch ( https://links.coinbase.com/s/c/8XC4m1nJJGLTGA2w1V_HegNb_IppIqNmRqm8i0f-a3IDU8ukg76jX7UDj02JviBNMl7OoLzm3hVRFfop4DH43xgPUWlhrSs4ix0f2qkCB9zwbISTzNc5UicYVki14E87us_z8wNk5m9-mGDXEWZUx-SlynsEVHl_mEWQObcG2DRwWKxKsh1RC78GxXyDALlvT5Crgde-IsoWQe28N3GNBJKIxyqE2oPCCtGsTFZB3SvDiKQBG7bh9w8mCbB3GbGdLz445TnZSkOLeDkJ0k-gOh3wKJAgYVJHX_g5ck6fbBRqLcyv0AGfUWDpRy1S5hOuZChMEEoqe-28PZoA8awVNINuwcRXUTqzFEhCMnsUHc-zgltUK9YarMqebTuan0rgEqa2ZCyJ2nQ5QS3WSvqBDgerUCV3gS9YMk0uBMDarVsDgnZ7fp-8rD_Olh5p5CLSgMWl3C04L2OLuRATmrs98kJbm0kDJKE0xj9XBSQ/DNG717UtR625W6q-yKF0oVwLD_9NliFp/8 )",
          "textAsHtml": "<p>Below is a request from Michael to me.</p><p>* Please create this item on my board.</p><p>* Once created, research how to do this (including any key terms) and add those to the item you just created.</p><p>Thanks..</p><p>Michael&apos;s&nbsp;request:</p><p>Edward</p><p>Can you research and guide me on how to do this. I have a bunch of EOS tokens in Coinbase that need to be transferred&nbsp;to my self custodial wallet Exodus.</p><p>Not urgent, but good to do in the next week or so.</p><p>EOS Token (EOS) Migration</p><p>We&rsquo;re reaching out with an update regarding the migration of the EOS (EOS) token to Vaulta (A). If you hold these tokens, here&rsquo;s what you need to know:<br/>*What&apos;s Happening?*</p><p>The EOS token is being replaced by A as part of a project upgrade.</p><p>To continue using your tokens, you&rsquo;ll need to swap your EOS tokens for A through the official migration portal ( <a href=\"https://links.coinbase.com/s/c/ePPeOFRnDqaWdsJnwJVmskOPTrBQkKx9M9dOQK7NcPoLEi62rHFmpfJSv9ZM0k8xpzcOfZ_ZVyC5s86K1y7sYuPO0rTu7YwdQfFfcDXWdpeVm-Psa-T6CZR_klpJwSJoY_Tstk0KLnVUz5U8MF5DHa1S-hrZcPDQioMLJRrCc9AD12wHLgtTl3trRgIqizB9HHjsfx1oU3dLCOsCZihFBTi60WHQB4p4dDQWJ0REOjc1W97FWWKB7Xx5mM2YCFkqLK81rq9CZhsuvhxZmtJ85ov8Yr4GyLCuZKR3ADUIyGyKoes5UDs8RSzGC_A9WM7O6uy8uB-BAV5-AWq-Nq5P6pN-c_e7LICgfH7KFuT6ERnWRrERq36jn57dfgV3fYbX1q5nWZfiqoGMN7iV4-3LL22wYfviD8elC4owW-aoZ9T3k45S_8UlRw92ZN3DOTT_usdWnzyxqBiC-mG7H42m3yD42_cQUyRiYSQIjEdozj7mmB2iu9vLcgQxxO5QwQUkJJbVrtU-o6t63DygVXIVaau4oXKiHSawnal6sVMCfDOB928uEMIuvN5_5Gtm32w7z7Maqu2OniY-rfcvhkWrs_8/mtdy3U2zMG_u4gv6iBNit9Fb_b6uQ3G6/8\">https://links.coinbase.com/s/c/ePPeOFRnDqaWdsJnwJVmskOPTrBQkKx9M9dOQK7NcPoLEi62rHFmpfJSv9ZM0k8xpzcOfZ_ZVyC5s86K1y7sYuPO0rTu7YwdQfFfcDXWdpeVm-Psa-T6CZR_klpJwSJoY_Tstk0KLnVUz5U8MF5DHa1S-hrZcPDQioMLJRrCc9AD12wHLgtTl3trRgIqizB9HHjsfx1oU3dLCOsCZihFBTi60WHQB4p4dDQWJ0REOjc1W97FWWKB7Xx5mM2YCFkqLK81rq9CZhsuvhxZmtJ85ov8Yr4GyLCuZKR3ADUIyGyKoes5UDs8RSzGC_A9WM7O6uy8uB-BAV5-AWq-Nq5P6pN-c_e7LICgfH7KFuT6ERnWRrERq36jn57dfgV3fYbX1q5nWZfiqoGMN7iV4-3LL22wYfviD8elC4owW-aoZ9T3k45S_8UlRw92ZN3DOTT_usdWnzyxqBiC-mG7H42m3yD42_cQUyRiYSQIjEdozj7mmB2iu9vLcgQxxO5QwQUkJJbVrtU-o6t63DygVXIVaau4oXKiHSawnal6sVMCfDOB928uEMIuvN5_5Gtm32w7z7Maqu2OniY-rfcvhkWrs_8/mtdy3U2zMG_u4gv6iBNit9Fb_b6uQ3G6/8</a> ). You can find more details about the migration and how to swap your tokens here ( <a href=\"https://links.coinbase.com/s/c/NRAvwLBUIhX4RRJP6XeWNHGYtGYcj1hqDMa_Q4eNFNUgMkC47J-C6f4pLthyKnJ2LVTk5DSibWR7_NxMkxI94B8WPPn5WvCP8S0JpKmsc2K5vQQ2fZx2XEdoajXAqjfxiTh4ocUJSUD9UKj4XhRa75boKQyouPzepN6mOUv2161Hv7247GaQIn8gX8YSaTGyfAsSmrHq4rUHbjB9gRzGKS1uHuhQrAyXm0TiXYPu3MfVe_gmXwg_swfCiqnmscnTyrDqISaz5tbu7ydDlTipTL06MzWfcqXIXriK9oe07A9mDQAUONXj-G98pc62zM5H0Wpmps3yrBTCUJOfH2-wow2qIES1gB5ITyqTdOpZyIE-mrdp9NQ4D0qvM3ow5T2T9Z2y4nPYu1GjCTK9GxCHkIxnWfsOcR8ZS-Se3F4_nTFoqKXG1DWDP5tifbj19lO8DEu1jpjJBFAZCKmFNySwzFBketem_QgM_k0WWM3WUxHyHuafGC1yqnyGz4U2HAgMFKBWOl05UJCNgQP0WWPVOB48EebK0-C-Hp157O3i5mrGCoj0fQ42AKPxE2mUNMyYRfMoE2ZQ0Wk3tGckuA/vjiI-VvwLkM7mdaQOse853E7S_2LHx0Z/8\">https://links.coinbase.com/s/c/NRAvwLBUIhX4RRJP6XeWNHGYtGYcj1hqDMa_Q4eNFNUgMkC47J-C6f4pLthyKnJ2LVTk5DSibWR7_NxMkxI94B8WPPn5WvCP8S0JpKmsc2K5vQQ2fZx2XEdoajXAqjfxiTh4ocUJSUD9UKj4XhRa75boKQyouPzepN6mOUv2161Hv7247GaQIn8gX8YSaTGyfAsSmrHq4rUHbjB9gRzGKS1uHuhQrAyXm0TiXYPu3MfVe_gmXwg_swfCiqnmscnTyrDqISaz5tbu7ydDlTipTL06MzWfcqXIXriK9oe07A9mDQAUONXj-G98pc62zM5H0Wpmps3yrBTCUJOfH2-wow2qIES1gB5ITyqTdOpZyIE-mrdp9NQ4D0qvM3ow5T2T9Z2y4nPYu1GjCTK9GxCHkIxnWfsOcR8ZS-Se3F4_nTFoqKXG1DWDP5tifbj19lO8DEu1jpjJBFAZCKmFNySwzFBketem_QgM_k0WWM3WUxHyHuafGC1yqnyGz4U2HAgMFKBWOl05UJCNgQP0WWPVOB48EebK0-C-Hp157O3i5mrGCoj0fQ42AKPxE2mUNMyYRfMoE2ZQ0Wk3tGckuA/vjiI-VvwLkM7mdaQOse853E7S_2LHx0Z/8</a> ). A list of wallets compatible with the EOS Native network can be found here ( <a href=\"https://links.coinbase.com/s/c/y-FvBJr_0_o_jMkI1-Bof6mAtQ2pGfH2Fi3JIao8HjPLNY5JbJYGYA9D3KIUyYmX0LC5BmPc8gdc6DrVeuUDPFEwxXLKS_JM4c3Sth0_fl9iEj9MSMjWoP5Yr8GBchtpRP2kcbFKUjVlYaclg_RrOKIKVx2tdqe60fxhxNfRf66c0C020NGAmNUY2lG1rmIZ4dQfrxLuYVxzoIhsrShRkbU8vLN8OMUjvXs_nzuhbdw3Djg8LBSt9aMmTg9Oo_pGpSC_GSEkbk7LxDAvdIKFcWO3H2MheuAl1qvBgkk89hbCtA1bPq-Zju9NujvtDurPPAoBB2rSePu1e4tEjY4hXrthSdyl-4dPEY5OE0Yv00Cd3Sh960KJDYis6KxzqrIHR9r_Hu7Q2f7ZnX7Hepb8hY7lsrlDyQXsj7x4ONalDQx40SHQbtxsna0av65hUBa43zXyvZLTmy-U8V5XElItiaLhwf68voXthO5rQCoom5SjxHcLsM_DocgxNwZ1p6O7-Xk7/w7CYU89OMM_k5desr84tGJVyYGnCOiZm/8\">https://links.coinbase.com/s/c/y-FvBJr_0_o_jMkI1-Bof6mAtQ2pGfH2Fi3JIao8HjPLNY5JbJYGYA9D3KIUyYmX0LC5BmPc8gdc6DrVeuUDPFEwxXLKS_JM4c3Sth0_fl9iEj9MSMjWoP5Yr8GBchtpRP2kcbFKUjVlYaclg_RrOKIKVx2tdqe60fxhxNfRf66c0C020NGAmNUY2lG1rmIZ4dQfrxLuYVxzoIhsrShRkbU8vLN8OMUjvXs_nzuhbdw3Djg8LBSt9aMmTg9Oo_pGpSC_GSEkbk7LxDAvdIKFcWO3H2MheuAl1qvBgkk89hbCtA1bPq-Zju9NujvtDurPPAoBB2rSePu1e4tEjY4hXrthSdyl-4dPEY5OE0Yv00Cd3Sh960KJDYis6KxzqrIHR9r_Hu7Q2f7ZnX7Hepb8hY7lsrlDyQXsj7x4ONalDQx40SHQbtxsna0av65hUBa43zXyvZLTmy-U8V5XElItiaLhwf68voXthO5rQCoom5SjxHcLsM_DocgxNwZ1p6O7-Xk7/w7CYU89OMM_k5desr84tGJVyYGnCOiZm/8</a> ).</p><p>*What This Means for You*</p><p>* Coinbase will NOT automatically convert your tokens.</p><p>* To swap your tokens, you&rsquo;ll need to move them to a compatible self-custodial wallet before completing the migration.</p><p>* There&rsquo;s no set deadline right now, so you have time to make the switch.</p><p>*How to Swap Your Tokens*</p><p>1. Move your EOS tokens to a self-custodial wallet.</p><p>2. Go to the official migration portal ( <a href=\"https://links.coinbase.com/s/c/VwX2LWHE5Li1L02Jvlr3Py-r8pZT94CuP-IkxxZf0QR4zMtxN0IxJK3lZkbeEACg8rfRjmX4Pzie11HlY48BLowSnsvVQIoNf3CBcLLm5m36gfUk3bX1JP__6WWkjcfCRh6QV5fKbZ7cj3aNN1EHGOtLeXCXyxVKMolweClJNc54-mpn-WgsPmsmLTqKsuCznzhy2KYoVEdkD0EwVeEWyfDWViGJ1EaW6KfN7bM3u1IWuZXWYozPsxCoqmMgVbhCafd1R3rO59es9Cd_OQtkgCbfbvjZtruC-JQSYStKwzwa4H3wAxPOZL2in4Tuxm0ZXFY1Akd7cIT4TGjVdkTAR4PUEwx-F180vsh9r8OruGoNV_T36WgmbxqalS9i_gRKpMFWZi8A71EZtYseyJqPciv-xoLHbgG_q4BfdSNqxikfHuaYMzv8hFDJaYtO6bUHzm9sntvKhoC0TRlOq0nDXtAdVfxJcISd8Pzb52gXogzTbqe_N_X6cAInqGBu3CBfheb-YrVA7Y9QuKHFDiCmbrnGD-c7eCJA-nKB_IxRbrMNCKspefUDMoVjCCK03tQr84mxsmbPorYJLfnTBH_a-v0/Qnqk_Asx-gE8xAb0EDywB1YTxOdQXDZk/8\">https://links.coinbase.com/s/c/VwX2LWHE5Li1L02Jvlr3Py-r8pZT94CuP-IkxxZf0QR4zMtxN0IxJK3lZkbeEACg8rfRjmX4Pzie11HlY48BLowSnsvVQIoNf3CBcLLm5m36gfUk3bX1JP__6WWkjcfCRh6QV5fKbZ7cj3aNN1EHGOtLeXCXyxVKMolweClJNc54-mpn-WgsPmsmLTqKsuCznzhy2KYoVEdkD0EwVeEWyfDWViGJ1EaW6KfN7bM3u1IWuZXWYozPsxCoqmMgVbhCafd1R3rO59es9Cd_OQtkgCbfbvjZtruC-JQSYStKwzwa4H3wAxPOZL2in4Tuxm0ZXFY1Akd7cIT4TGjVdkTAR4PUEwx-F180vsh9r8OruGoNV_T36WgmbxqalS9i_gRKpMFWZi8A71EZtYseyJqPciv-xoLHbgG_q4BfdSNqxikfHuaYMzv8hFDJaYtO6bUHzm9sntvKhoC0TRlOq0nDXtAdVfxJcISd8Pzb52gXogzTbqe_N_X6cAInqGBu3CBfheb-YrVA7Y9QuKHFDiCmbrnGD-c7eCJA-nKB_IxRbrMNCKspefUDMoVjCCK03tQr84mxsmbPorYJLfnTBH_a-v0/Qnqk_Asx-gE8xAb0EDywB1YTxOdQXDZk/8</a> ).</p><p>3. Follow the steps to swap your EOS for A.</p><p>Once completed, you&rsquo;ll now hold A, which replaces your old tokens.</p><p>If you have any questions regarding this update, please visit Coinbase Help ( <a href=\"https://comm.coinbase.com/CL0/https:%2F%2Flinks.coinbase.com%2Fs%2Fc%2F55xIkh24v27PO4xDb46euXXgpfjamxO9u8-a0jqjsbHexScoNtXmETNUK2eYkPirzV4Z-izgmBBQQHcEZ6Evxq4CI555_fRia4Uzs2I-ktn0NT9GOcP4mXEqB2J0HkVGwUPtba2RgLITATU59cy059ldQGvAVqx9WFgz8H8wbjD1-w2y91kaC3tI5F93-599g4u-9sFm5FR3o0QphKD_vyNz9IypDPszoG-zSir8qU9KY1fWlj9_mp9TirQ0xplQ3OWNGJnBOznHXRn0BKQAmQCbb88aFUTJl5eGW9MuMTKnKEYvsWUwYMTy3Unc48_hSqy2OVFUcMHgyH5cCoVTKWwoMwf18_bJgwSiaXxv7eOL8EceSUKjkzHdzaIGIKBNr-ErvRftHhnOxCtnddNH1kIzlOeItRR2HJ2Kmv2IBnD6bX2B69kv2wbJn45W7ySKpAjREoAd9gi8Ktb-ftT9zWRfsM3KihNsoNn7%2FiBAnlBB0QUE1TT2nI2CLp3h2g2bF2eDa%2F8/1/01000196d0311f77-a923b062-b3b0-4b63-b087-7c960cf7e90a-000000/hkSlul5D4C7ZF9GGXDhgv11O1edbXp1thiAnikG6xO0=405\">https://comm.coinbase.com/CL0/https:%2F%2Flinks.coinbase.com%2Fs%2Fc%2F55xIkh24v27PO4xDb46euXXgpfjamxO9u8-a0jqjsbHexScoNtXmETNUK2eYkPirzV4Z-izgmBBQQHcEZ6Evxq4CI555_fRia4Uzs2I-ktn0NT9GOcP4mXEqB2J0HkVGwUPtba2RgLITATU59cy059ldQGvAVqx9WFgz8H8wbjD1-w2y91kaC3tI5F93-599g4u-9sFm5FR3o0QphKD_vyNz9IypDPszoG-zSir8qU9KY1fWlj9_mp9TirQ0xplQ3OWNGJnBOznHXRn0BKQAmQCbb88aFUTJl5eGW9MuMTKnKEYvsWUwYMTy3Unc48_hSqy2OVFUcMHgyH5cCoVTKWwoMwf18_bJgwSiaXxv7eOL8EceSUKjkzHdzaIGIKBNr-ErvRftHhnOxCtnddNH1kIzlOeItRR2HJ2Kmv2IBnD6bX2B69kv2wbJn45W7ySKpAjREoAd9gi8Ktb-ftT9zWRfsM3KihNsoNn7%2FiBAnlBB0QUE1TT2nI2CLp3h2g2bF2eDa%2F8/1/01000196d0311f77-a923b062-b3b0-4b63-b087-7c960cf7e90a-000000/hkSlul5D4C7ZF9GGXDhgv11O1edbXp1thiAnikG6xO0=405</a> ).</p><p>Coinbase ( <a href=\"https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOBjT0BOZRfNcx9w_HKO3WQNYk4mTCyH_a5UR2Fs_-yr7uL6sd3TZkzEc7V1-zJv9kQL6RTXpQR-uDX49ZUzJFkuAGOrUUhXkAlzTq7XYYrl-Fg2sW7BISHxpHqVPO50GeAwMYMYZ0spEXivifyFkkp9nV_t_rpOTSotIFDk6DxpRwdy-ZmfyWo-wjxuzjhvcLWoS1QbFQwk46WKt7BjgqI_GO4DE7JTlMiSEHdb6UmYEkN58ow4NXMgiRA-svI8djwXp2A0_2AJdCxij_LCOfNoY-CVVbpyay4Yj7APdjBzI\">https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOBjT0BOZRfNcx9w_HKO3WQNYk4mTCyH_a5UR2Fs_-yr7uL6sd3TZkzEc7V1-zJv9kQL6RTXpQR-uDX49ZUzJFkuAGOrUUhXkAlzTq7XYYrl-Fg2sW7BISHxpHqVPO50GeAwMYMYZ0spEXivifyFkkp9nV_t_rpOTSotIFDk6DxpRwdy-ZmfyWo-wjxuzjhvcLWoS1QbFQwk46WKt7BjgqI_GO4DE7JTlMiSEHdb6UmYEkN58ow4NXMgiRA-svI8djwXp2A0_2AJdCxij_LCOfNoY-CVVbpyay4Yj7APdjBzI</a> )<br/>&copy; Coinbase 2025&nbsp;| Coinbase Inc.</p><p>248 3rd St #434</p><p>Oakland | CA 94607 | US</p><p>www. coinbase. com ( <a href=\"https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOHWg-dqwX2C6qKYY_f9yZ1wc19hvskxkk-HOYVATbHuIt7ZOj6pjefE17ytA3XuO1lvnirJV0wBP3-FvLufd96oDSKYV9uMOxSyvJ983JcyLDBuSwLUrO9RCCowfVlKswKNL4-u3Qg3ZcAFoV5Uvl-YBuJZSFDvG3jBZ7VkI8v3E2mA3ZT2T7hUUzwDq0dklRlVQeRRPVtSW-WiTFyibRiDpFZ3LZO51XT_2jdTR6_sSjAp0n6w1B1cWk4A3lk8sO12kSeFcgxrM-kRilho6PV7amwrdwqcG-kBqT_yQy4eO\">https://links.coinbase.com/a/click?_t=3aca56371967418192255878e9689713&_m=558a9360871b46b7821c7e6242f224bf&_e=EiHWzeO0angkl08_t7UYYtCPDr7U34mSIBbPRJtLDYiKWrZXcvfcb-O_1ZRAsB1jXsKkM2ClHdP2yiAXhxMiCYfAeG3XjwFFm0TKHZYLW4wpXxHOCSiKB45h5lsLjy5TiCoZJEFqVSPqekAhWzATOHWg-dqwX2C6qKYY_f9yZ1wc19hvskxkk-HOYVATbHuIt7ZOj6pjefE17ytA3XuO1lvnirJV0wBP3-FvLufd96oDSKYV9uMOxSyvJ983JcyLDBuSwLUrO9RCCowfVlKswKNL4-u3Qg3ZcAFoV5Uvl-YBuJZSFDvG3jBZ7VkI8v3E2mA3ZT2T7hUUzwDq0dklRlVQeRRPVtSW-WiTFyibRiDpFZ3LZO51XT_2jdTR6_sSjAp0n6w1B1cWk4A3lk8sO12kSeFcgxrM-kRilho6PV7amwrdwqcG-kBqT_yQy4eO</a> )</p><p>Get in touch ( <a href=\"https://links.coinbase.com/s/c/8XC4m1nJJGLTGA2w1V_HegNb_IppIqNmRqm8i0f-a3IDU8ukg76jX7UDj02JviBNMl7OoLzm3hVRFfop4DH43xgPUWlhrSs4ix0f2qkCB9zwbISTzNc5UicYVki14E87us_z8wNk5m9-mGDXEWZUx-SlynsEVHl_mEWQObcG2DRwWKxKsh1RC78GxXyDALlvT5Crgde-IsoWQe28N3GNBJKIxyqE2oPCCtGsTFZB3SvDiKQBG7bh9w8mCbB3GbGdLz445TnZSkOLeDkJ0k-gOh3wKJAgYVJHX_g5ck6fbBRqLcyv0AGfUWDpRy1S5hOuZChMEEoqe-28PZoA8awVNINuwcRXUTqzFEhCMnsUHc-zgltUK9YarMqebTuan0rgEqa2ZCyJ2nQ5QS3WSvqBDgerUCV3gS9YMk0uBMDarVsDgnZ7fp-8rD_Olh5p5CLSgMWl3C04L2OLuRATmrs98kJbm0kDJKE0xj9XBSQ/DNG717UtR625W6q-yKF0oVwLD_9NliFp/8\">https://links.coinbase.com/s/c/8XC4m1nJJGLTGA2w1V_HegNb_IppIqNmRqm8i0f-a3IDU8ukg76jX7UDj02JviBNMl7OoLzm3hVRFfop4DH43xgPUWlhrSs4ix0f2qkCB9zwbISTzNc5UicYVki14E87us_z8wNk5m9-mGDXEWZUx-SlynsEVHl_mEWQObcG2DRwWKxKsh1RC78GxXyDALlvT5Crgde-IsoWQe28N3GNBJKIxyqE2oPCCtGsTFZB3SvDiKQBG7bh9w8mCbB3GbGdLz445TnZSkOLeDkJ0k-gOh3wKJAgYVJHX_g5ck6fbBRqLcyv0AGfUWDpRy1S5hOuZChMEEoqe-28PZoA8awVNINuwcRXUTqzFEhCMnsUHc-zgltUK9YarMqebTuan0rgEqa2ZCyJ2nQ5QS3WSvqBDgerUCV3gS9YMk0uBMDarVsDgnZ7fp-8rD_Olh5p5CLSgMWl3C04L2OLuRATmrs98kJbm0kDJKE0xj9XBSQ/DNG717UtR625W6q-yKF0oVwLD_9NliFp/8</a> )</p>",
          "subject": "Fwd: Fwd: EOS TOKEN MIGRATION",
          "references": [
            "<mhw83buh.adc93db8-e24b-4e98-bc00-3882222886be@we.are.superhuman.com>",
            "<CAL9ygaqGAWjzRUN4xcYSFhVGdbpdH43y=fYJqA2vHG5VPBu+DQ@mail.gmail.com>"
          ],
          "date": "2025-11-12T17:12:16.000Z",
          "to": {
            "value": [
              {
                "address": "ai@storiedinc.com",
                "name": "Storied AI"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Storied AI</span> &lt;<a href=\"mailto:ai@storiedinc.com\" class=\"mp_address_email\">ai@storiedinc.com</a>&gt;</span>",
            "text": "\"Storied AI\" <ai@storiedinc.com>"
          },
          "from": {
            "value": [
              {
                "address": "edward@storiedinc.com",
                "name": "Edward Njogu"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Edward Njogu</span> &lt;<a href=\"mailto:edward@storiedinc.com\" class=\"mp_address_email\">edward@storiedinc.com</a>&gt;</span>",
            "text": "\"Edward Njogu\" <edward@storiedinc.com>"
          },
          "messageId": "<mhw9byja.73b97eb0-29f8-4065-b308-0ccf43e984d8@we.are.superhuman.com>",
          "inReplyTo": "<CAL9ygaqGAWjzRUN4xcYSFhVGdbpdH43y=fYJqA2vHG5VPBu+DQ@mail.gmail.com>"
        }
      }
    ]
  },
  "versionId": "935a3cba-5d4f-478e-a192-ee42e8d121f2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-10T11:53:50.541Z",
      "createdAt": "2025-07-10T11:53:50.541Z",
      "role": "workflow:owner",
      "workflowId": "VtuaZAAvnvzQToaV",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}