n8n/Email_-_Trigger_Workflow.json
{
  "updatedAt": "2025-12-19T19:31:19.000Z",
  "createdAt": "2025-07-10T11:53:50.528Z",
  "id": "VtuaZAAvnvzQToaV",
  "name": "Email - Trigger Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        96
      ],
      "id": "04e9bab4-d940-4da8-8093-9e95f7b6c819",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# REQUEST\n\nProcess the request below using the tools at your disposal:\nThis message was received {{ $json.headers.from }} on {{ $json.headers.date }}\n\n#CONTEXT EMAIL\nPlease note the following in analyzing the following email. If there are several emails between ai@storiedinc.com and any other address, any emails from ai@storiedinc.com are AI replies. Subsequent follow-up emails from any other email address directly to ai@storiedinc.com are the human's reply to the AI. You should reply to the latest human request while using the previous emails as context.\n\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $json.text }}\n",
        "options": {
          "systemMessage": "=# ROLE\nYou are a helpful assistant primarily assisting with admin and operations tasks. \n\n# CONTEXT\nThe date and time now is {{ $now.toString() }}\n\n# PURPOSE\nYou are required to take the information passed by the user and determine the best course of action. Your job is to orchestrate jobs between different agents and formulate a friendly response back to the user. \n\n# EXECUTION\nYou are required to call agents in the correct order by passing in the correct information. This should not involve doing actions like writing emails or other content yourself. \n\nWhen you receive input, analyze it in the following ways:\n\n1. If you are asked to take an action, determine the correct tool to take action on the next steps. \nFor example:\n- If the email requires you to extract next steps from an email and add those next steps to Monday, then you will pass that context to the Monday subworkflow. \n- If you are asked to find meeting options on the calendar, then you shall call the calendar workflow node and use that to find times on the calendar based on the defined calendar management rules. \n\nFinally, after execution, return the final output of the execution to the user through the output. For example, if you were asked to find meeting slots, provide that output back to the user and tell them what slots are open. If a sub-workflow was required to create a task on Monday, confirm with the user if the task has or has not been created. \n\nWhen you are done running other tools or workflows, the next step in the workflow will send an email back to the user, which means you must provide output that is meaningful. \nThe body of the email will be the full text of the email body, which is the output of the execution workflow, including what has been done, what has not been done, any questions or blockers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        688,
        48
      ],
      "id": "67652e76-405e-4bf8-be9c-4fbde2cea6f8",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": false
    },
    {
      "parameters": {
        "description": "Call this tool to work on any email related activities.",
        "workflowId": {
          "__rl": true,
          "value": "lQxi6YEZQaiu6s76",
          "mode": "list",
          "cachedResultName": "Gmail Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        912,
        -176
      ],
      "id": "fe069788-c4a4-483b-91ab-b0e20edc4511",
      "name": "Gmail Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low",
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        272
      ],
      "id": "7448b500-361e-4b7f-ab09-539c429847af",
      "name": "OpenAI Chat Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI"
    },
    {
      "parameters": {
        "description": "Call this tool to update data into the Pinecone vector database.",
        "workflowId": {
          "__rl": true,
          "value": "J2MQ18NtWXrUXCfw",
          "mode": "list",
          "cachedResultName": "Pinecone Updates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        -176
      ],
      "id": "52e75859-f8ac-49c3-be1e-e0bdb5ebb6ce",
      "name": "Pinecone Upsert",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this workflow for any actions on Monday.com including creating items on Monday.com, updating items on Monday.com, or getting items on Monday.com. Requests will typically come in as something like \"Create this item on Monday\" or \"Create these items on my Monday board\" or \"Find items due today on my board\".",
        "workflowId": {
          "__rl": true,
          "value": "foxsO53IbcaM6Ff3",
          "mode": "list",
          "cachedResultUrl": "/workflow/foxsO53IbcaM6Ff3",
          "cachedResultName": "Monday Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}",
            "context": "=Full Context:\n\nEmail Subject Line: {{ $('Only Allow Mail to Storied AI').item.json.subject }}\n\nFrom: {{ $('Only Allow Mail to Storied AI').item.json.from.value[0].name }}<{{ $('Only Allow Mail to Storied AI').item.json.from.value[0].address }}>\n\n{{ $('Only Allow Mail to Storied AI').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        832,
        400
      ],
      "id": "ab694a9d-6410-4b99-bc35-616a5a1a7fcc",
      "name": "Monday Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to execute email functions. You may be required to send emails or search for emails in Gmail or send using SMTP. Enough information must be passed to the tool that allow it to action properly and make actionable input. For example, for drafting emails, be sure to pass a prompt that includes the following: recipients, subject, and body. ",
        "workflowId": {
          "__rl": true,
          "value": "lQxi6YEZQaiu6s76",
          "mode": "list",
          "cachedResultUrl": "/workflow/lQxi6YEZQaiu6s76",
          "cachedResultName": "Gmail Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1168,
        400
      ],
      "id": "fbec491a-1c53-4203-8827-68ba7b407c9d",
      "name": "Email Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to do actions on Slack including sending messages to user, using a human approval step, or to notify a user easily. ",
        "workflowId": {
          "__rl": true,
          "value": "Ej82KV1ttHjC8dZH",
          "mode": "list",
          "cachedResultName": "Slack Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        400
      ],
      "id": "dea14681-c82e-47c1-bad3-9a9c89ebb9c4",
      "name": "Slack Sub-Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool to take action on calendar action items. This tool will primarily be used to get calendar events or propose open calendar slots for scheduling sales calls or client calls. When providing output back to the user, notify them that the Zoom meeting may not be linked to the calendar event. ",
        "workflowId": {
          "__rl": true,
          "value": "9g3lAvJtRyyNjaPJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9g3lAvJtRyyNjaPJ",
          "cachedResultName": "Calendar Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        992,
        400
      ],
      "id": "926b9945-b647-4961-99c6-d418fc686335",
      "name": "Calendar Sub-Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2f1d3dc-2d7e-4c69-8e7c-8e2400a1a2f4",
              "leftValue": "={{ $json.headers.from.includes(\"ai@storiedinc.com\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -64,
        96
      ],
      "id": "3435a822-b97c-48b7-b351-30a71e7d6296",
      "name": "Filter Out Mail from Storied AI"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.headers.subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "fromAlias": "ai@storiedinc.com",
          "replyTo": "ai@storiedinc.com",
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        48
      ],
      "id": "2a9b3111-6dfc-4c1e-ae68-00301fb75f61",
      "name": "Create a draft",
      "webhookId": "9b7d0c52-2748-4e44-a034-09dc6f428b17",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        48
      ],
      "id": "8a858aff-2016-4ff3-b5b7-a4366fbbd809",
      "name": "Send Gmail Draft",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLqiTFR2cLtIBYK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.headers.to.includes(\"ai@storiedinc.com\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bbb42841-dcf4-4ddb-99c9-844761e532dc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96a3244e-ab7b-4d84-8df0-3aca72d87dc2",
                    "leftValue": "={{ $if($json.headers.cc, $json.headers.cc.includes(\"ai@storiedinc.com\"), false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd7db993-2053-4fe3-be21-3ce298c75753",
                    "leftValue": "={{ $if($json.headers.bcc, $json.headers.bcc.includes(\"ai@storiedinc.com\"), false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43acc603-7e5c-49af-85b7-6ca4d673a065",
                    "leftValue": "={{ $json.headers.to.includes(\"ideas@storiedinc.com\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a435129e-724a-48fd-ab82-5f39c363138d",
                    "leftValue": "={{ $if($json.headers.cc, $json.headers.cc.includes(\"ideas@storiedinc.com\"), false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f044f3b-08ad-4bed-9196-b6ec63b8bb0b",
                    "leftValue": "={{ $if($json.headers.bcc, $json.headers.bcc.includes(\"ideas@storiedinc.com\"), false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        32
      ],
      "id": "2bdb23e4-6aae-4fff-9e2a-5b9d40303c8e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oUjawNZt9Pe-ttKethMjyd5x_JSBpeZ5HvUGPHR6PkU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2003617587,
          "mode": "list",
          "cachedResultName": "Bank of ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUjawNZt9Pe-ttKethMjyd5x_JSBpeZ5HvUGPHR6PkU/edit#gid=2003617587"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea ": "={{ $json.headers.subject }}",
            "Context": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Idea ",
              "displayName": "Idea ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevant materials/sources",
              "displayName": "Relevant materials/sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        736
      ],
      "id": "aab95390-d9e5-42a9-99bb-bfd6d76af4f1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a2GvYolbVNMGjx2A",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter Out Mail from Storied AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Upsert": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Monday Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Sub-Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Mail from Storied AI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Send Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "geHpTM7jr9NoyZNi"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1766176772,
        "possibleDuplicates": [
          "19b385740b10f8bb",
          "19b381d0b52dc850"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19b2ee55eef14b35",
          "threadId": "19b2ece0b1a9e67f",
          "labelIds": [
            "CATEGORY_PERSONAL",
            "SENT"
          ],
          "sizeEstimate": 33521,
          "headers": {
            "mime-version": "MIME-Version: 1.0",
            "date": "Date: Thu, 18 Dec 2025 03:39:01 +0300",
            "references": "References: <31081829.20251218001332.6943472c4d61e5.05952502@mail333.us4.mandrillapp.com>",
            "in-reply-to": "In-Reply-To: <31081829.20251218001332.6943472c4d61e5.05952502@mail333.us4.mandrillapp.com>",
            "message-id": "Message-ID: <CAL9ygaofb953wMwtWzWX4Gef+18tXB9gD9pDhAqXoVTLGwP=5Q@mail.gmail.com>",
            "subject": "Subject: Fwd: 2 new notifications in Storied",
            "from": "From: Edward Njogu <edward@storiedinc.com>",
            "to": "To: Content <contentideas@storiedinc.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000f9ba5506462f2fc8\""
          },
          "html": "<div dir=\"ltr\"><br><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">---------- Forwarded message ---------<br>From: <strong class=\"gmail_sendername\" dir=\"auto\">&#39;Air&#39; via Admin</strong> <span dir=\"auto\">&lt;<a href=\"mailto:admin@storiedinc.com\">admin@storiedinc.com</a>&gt;</span><br>Date: Thu, Dec 18, 2025 at 3:13 AM<br>Subject: 2 new notifications in Storied<br>To:  &lt;<a href=\"mailto:admin@storiedinc.com\">admin@storiedinc.com</a>&gt;<br></div><br><br><u></u><div style=\"display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0\">2 new notifications<div> ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿</div></div><div><div style=\"background-color:#f6f6f6;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;padding-top:48px;padding-bottom:48px;padding-left:12px;padding-right:12px\"><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"max-width:560px;background-color:white;border-radius:4px\"><tbody><tr style=\"width:100%\"><td><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"margin-bottom:24px;padding-left:48px;padding-right:48px;padding-top:32px;padding-bottom:32px\"><tbody><tr><td><img src=\"https://mcusercontent.com/68c7bae8f8aa12aa52770c239/images/8f0de33b-aa37-1a1e-5d4b-4a138b11d661.png\" style=\"display:block;outline:none;border:none;text-decoration:none;height:24px;color:#07b3be\"></td></tr></tbody></table><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"table-layout:fixed;padding-left:48px;padding-right:48px;padding-bottom:32px\"><tbody><tr><td><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"table-layout:fixed\"><tbody style=\"width:100%\"><tr style=\"width:100%\"><td style=\"width:24px;padding-right:8px\"><img alt=\"Workspace image\" height=\"24\" src=\"https://assets.aircamera.com/avatars/avatar_yellow_1.png?q=80&amp;w=48&amp;h=48\" style=\"display:block;outline:none;border:none;text-decoration:none;border-radius:4px;object-fit:cover\" width=\"24\"></td><td><p style=\"font-size:16px;line-height:1.5;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;letter-spacing:-0.011em;color:#666666\">Storied</p></td></tr></tbody></table><h1 style=\"margin-top:8px;margin-bottom:8px;font-size:20px;font-weight:600;color:#202020\">2 new notifications</h1><div style=\"margin-top:32px\"><div style=\"border-radius:4px;border:1px solid;border-color:#efefef;padding-left:8px;padding-right:8px;margin-bottom:32px\"><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"table-layout:fixed;width:100%;padding:16px;border-bottom:1px solid;border-color:#efefef\"><tbody style=\"width:100%\"><tr style=\"width:100%\"><td style=\"width:24px;padding-right:16px;vertical-align:baseline\"><div style=\"height:24px;max-height:24px;width:24px;overflow:hidden;border-radius:24px;background-color:#f6f6f6\"><div style=\"margin-left:7px;margin-top:5px;height:10px;width:10px;border-radius:10px;background-color:#dcdcdc\"></div><div style=\"margin-left:3px;margin-top:2px;height:18px;width:18px;border-radius:18px;background-color:#dcdcdc\"></div></div></td><td><a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiUk15NTMyQkk4ZVR4MFVPLXBmREFwUXBFaXB3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvMmJlY2JjM2QtZjJiZC00ZTA1LTliZWYtYzNiZTA0Nzg4M2Q3XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\" style=\"line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:0px 0px 0px 0px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\"><div style=\"margin:0;font-size:14px;line-height:20px;word-break:break-word;color:#202020;margin-bottom:8px\"><b>Someone</b> downloaded 3 items</div><p style=\"overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#a4a4a4;margin:0\">in Work In Action Selects</p></span><span></span></a></td></tr></tbody></table><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"table-layout:fixed;width:100%;padding:16px\"><tbody style=\"width:100%\"><tr style=\"width:100%\"><td style=\"width:24px;padding-right:16px;vertical-align:baseline\"><div style=\"height:24px;max-height:24px;width:24px;overflow:hidden;border-radius:24px;background-color:#f6f6f6\"><div style=\"margin-left:7px;margin-top:5px;height:10px;width:10px;border-radius:10px;background-color:#dcdcdc\"></div><div style=\"margin-left:3px;margin-top:2px;height:18px;width:18px;border-radius:18px;background-color:#dcdcdc\"></div></div></td><td><a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoicjJqQnhNZEdnZERNTmdDZlVEeUhxay1vOUtRIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvYTE1ZmQwYzQtNzllZS00ODdhLWEzY2UtZjVjNTYzNTUyMmU0XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\" style=\"line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:0px 0px 0px 0px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\"><div style=\"margin:0;font-size:14px;line-height:20px;word-break:break-word;color:#202020;margin-bottom:8px\"><b>Someone</b> viewed <b>Work In Action Selects</b></div><p style=\"overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#a4a4a4;margin:0\"></p></span><span></span></a></td></tr></tbody></table></div><a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoibmZBRnZWMjFuZ0d4V3Y2N0VYbTJqWTh4azRNIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FsbD93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlYyZuUGFuZWw9dHJ1ZVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWI2NDVkYjQ2ODVlNWQ4Y2QyMjg3MjljZmUwMjUwNjQ4ZjU2MmRmZlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\" style=\"border-radius:4px;background-color:#034bff;padding-left:12px;padding-right:12px;padding-top:10px;padding-bottom:10px;font-size:14px;line-height:100%;font-weight:600;color:white;text-decoration:none;display:inline-block;max-width:100%;padding:10px 12px 10px 12px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\">View notifications</span><span></span></a></div></td></tr></tbody></table><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"table-layout:fixed;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding-left:48px;padding-right:48px;padding-bottom:24px;padding-top:48px\"><tbody><tr><td><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\"><tbody style=\"width:100%\"><tr style=\"width:100%\"><td><p style=\"font-size:12px;line-height:24px;margin:0;letter-spacing:normal;color:#808080;margin-bottom:16px\">If you’d rather not receive updates, you can <a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiemtGQXl2MFh2Y0JiUTBhUVlwVnk5U2dOSEhvIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FjY291bnRcXFwvbm90aWZpY2F0aW9ucz93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZjYxYTgyMzYyYThlOTc0ZmY2ZmNiYmU4MDk3YjIwYTVjMTE0NWI1NVwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\" style=\"color:inherit;text-decoration:underline\" target=\"_blank\">manage your notifications</a>.</p><div style=\"color:#a4a4a4;font-size:10px\"><a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiUlVCdzRfNzM1ZWpOQ1lFdlczd1VqVllRREtVIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvdGVybXNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjQwOGU0ZWE1ZmU2YWI2ODE2ZDIyZDE0NTU2ZmRkMjhiN2RkYWQ4YTBcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9\" style=\"color:inherit;text-decoration:none\" target=\"_blank\">Terms of service</a> | <a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoidmg2eE9uTWxkX08wN1dvRmRJd2lJTzdKSHlZIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvcHJpdmFjeVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiNGZjNWRmODgzYWM1OWIxMjMxOTU0NjAxNDY2ZDAxYzlkZDliY2MxNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\" style=\"color:inherit;text-decoration:none\" target=\"_blank\">Privacy policy</a> | <a href=\"https://mandrillapp.com/track/click/31081829/help.air.inc?p=eyJzIjoiTHMtRFR3eUdPS0gyU2VVeXZXSjRMeDJFNHNjIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hlbHAuYWlyLmluY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZWEzYzViNTA3NTExMGM0MjVmZGFmZWZjMDliM2NkOTMwN2IzYjlkNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\" style=\"color:inherit;text-decoration:none\" target=\"_blank\">Help center</a></div><p style=\"font-size:12px;line-height:24px;margin:16px 0;margin-bottom:16px;margin-top:16px;letter-spacing:normal;color:#a4a4a4\">© Air Labs, Inc.</p><table align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\"><tbody style=\"width:100%\"><tr style=\"width:100%\"><td><p style=\"font-size:14px;line-height:24px;margin:16px 0;display:none\">Thu, Dec 18, 2025, 12:13:32 AM</p></td><td><a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiN0t1Q2NDNWFDV21maC1UVUNja25qZHZHMEgwIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjVlZGYzNDQyMTQxM2JmZWM4MTczZDg1N2JlOTExNzY4MzdiNjZhNDZcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9\" style=\"line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:0px 0px 0px 0px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\"><img src=\"https://mcusercontent.com/68c7bae8f8aa12aa52770c239/images/6ee66644-645b-eb4e-4165-ca6c243e51d1.png\" style=\"display:block;outline:none;border:none;text-decoration:none;height:16px;color:#c1c1c1\"></span><span></span></a></td><td style=\"text-align:right\"><a href=\"https://mandrillapp.com/track/click/31081829/twitter.com?p=eyJzIjoiOWNRQmFNejJtODhZNWN2c0hpczdham5hUEF3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL2FpckhRXCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCI3NWM5MzI2NTFmMDkwMTU4MzFmNzA2YTBiZDkyYThjMjE3YjI4ZjE2XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\" style=\"margin-right:4px;line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:0px 0px 0px 0px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\"><img src=\"https://mcusercontent.com/68c7bae8f8aa12aa52770c239/images/18a69d84-c814-113b-0eba-432b33eb5750.png\" style=\"display:block;outline:none;border:none;text-decoration:none;height:12px\"></span><span></span></a><a href=\"https://mandrillapp.com/track/click/31081829/www.linkedin.com?p=eyJzIjoiUlk3MjZCbGMtUFFfVzRDWHpud2NIWWQ1blE0IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9haXJocVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWNiMjY5MzBlYmQ0ZjE3NDM4Yzg4YzVhZGUwMDRhMDU1YmMyMzUxNlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\" style=\"line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:0px 0px 0px 0px\" target=\"_blank\"><span></span><span style=\"max-width:100%;display:inline-block;line-height:120%\"><img src=\"https://mcusercontent.com/68c7bae8f8aa12aa52770c239/images/e74fda5d-c99e-f31c-6a7b-ecb7b21c4612.png\" style=\"display:block;outline:none;border:none;text-decoration:none;height:12px\"></span><span></span></a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div><img src=\"https://mandrillapp.com/track/open.php?u=31081829&amp;id=5f8c0dfa317a44d7b68a7d45c7e374b9\" height=\"1\" width=\"1\" alt=\"\"></div>\n</div><div><br clear=\"all\"></div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><span><div dir=\"ltr\" style=\"margin-left:0pt\" align=\"left\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;color:rgb(94,73,47);font-family:&quot;signature hound&quot;,-apple-system,&quot;system-ui&quot;,&quot;segoe ui&quot;,Roboto,&quot;helvetica neue&quot;,Arial,&quot;noto sans&quot;,sans-serif,&quot;apple color emoji&quot;,&quot;segoe ui emoji&quot;,&quot;segoe ui symbol&quot;,&quot;noto color emoji&quot;;font-size:14px;letter-spacing:-0.084px;margin:0px\"><tbody><tr><td style=\"padding:0px 1px 0px 0px\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;margin:0px\"><tbody><tr><td align=\"center\" style=\"padding:0px 7px 0px 0px;vertical-align:top\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;margin:0px\"><tbody><tr><td style=\"padding:0px 1px 0px 0px\"><p style=\"margin:1px;padding:0px\"><img src=\"https://signaturehound.com/api/v1/file/1uduwplm3gau4ww?v=1731527618144\" alt=\"\" title=\"Profile Picture\" width=\"65\" height=\"65\" style=\"vertical-align:middle;border:0px;max-width:65px;height:65px;display:block\"></p></td></tr></tbody></table></td><td width=\"5\" style=\"padding:1px 0px 0px\"></td><td style=\"padding:0px 1px 0px 0px;vertical-align:top\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;margin:0px\"><tbody><tr><td style=\"padding:0px 1px 0px 0px;font-family:Arial,sans-serif;font-size:11px;line-height:14px\"><p style=\"margin:1px;padding:0px;line-height:14px;font-weight:700;color:rgb(8,43,153)\">Edward Njogu</p><p style=\"margin:1px;padding:0px;line-height:14px;color:rgb(92,92,92)\">EA to Michael Margolis</p><p style=\"margin:1px;padding:0px;line-height:14px;color:rgb(92,92,92)\">Storied Inc.</p></td></tr><tr><td style=\"padding:4px 1px 0px 0px\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;margin:0px\"><tbody><tr><td style=\"padding:0px 1px 0px 0px;font-family:Arial,sans-serif;font-size:11px;line-height:14px;color:rgb(92,92,91)!important\"><p style=\"margin:1px;padding:0px\"><a href=\"mailto:edward@storiedinc.com\" style=\"color:rgb(92,92,92);background-color:transparent;line-height:14px\" target=\"_blank\">edward@storiedinc.com</a></p></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td style=\"padding:0px 1px 0px 0px\"> </td></tr></tbody></table><br></div></span></div></div></div>\n",
          "text": "---------- Forwarded message ---------\nFrom: 'Air' via Admin <admin@storiedinc.com>\nDate: Thu, Dec 18, 2025 at 3:13 AM\nSubject: 2 new notifications in Storied\nTo: <admin@storiedinc.com>\n\n\n2 new notifications\n ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿ ‌‍‎‏﻿\n[image: Workspace image]\n\nStoried\n2 new notifications\n*Someone* downloaded 3 items\n\nin Work In Action Selects\n<https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiUk15NTMyQkk4ZVR4MFVPLXBmREFwUXBFaXB3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvMmJlY2JjM2QtZjJiZC00ZTA1LTliZWYtYzNiZTA0Nzg4M2Q3XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ>\n\n*Someone* viewed *Work In Action Selects*\n\n<https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoicjJqQnhNZEdnZERNTmdDZlVEeUhxay1vOUtRIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvYTE1ZmQwYzQtNzllZS00ODdhLWEzY2UtZjVjNTYzNTUyMmU0XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ>\nView notifications\n<https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoibmZBRnZWMjFuZ0d4V3Y2N0VYbTJqWTh4azRNIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FsbD93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlYyZuUGFuZWw9dHJ1ZVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWI2NDVkYjQ2ODVlNWQ4Y2QyMjg3MjljZmUwMjUwNjQ4ZjU2MmRmZlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0>\n\nIf you’d rather not receive updates, you can manage your notifications\n<https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiemtGQXl2MFh2Y0JiUTBhUVlwVnk5U2dOSEhvIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FjY291bnRcXFwvbm90aWZpY2F0aW9ucz93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZjYxYTgyMzYyYThlOTc0ZmY2ZmNiYmU4MDk3YjIwYTVjMTE0NWI1NVwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0>\n.\nTerms of service\n<https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiUlVCdzRfNzM1ZWpOQ1lFdlczd1VqVllRREtVIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvdGVybXNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjQwOGU0ZWE1ZmU2YWI2ODE2ZDIyZDE0NTU2ZmRkMjhiN2RkYWQ4YTBcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9>\n| Privacy policy\n<https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoidmg2eE9uTWxkX08wN1dvRmRJd2lJTzdKSHlZIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvcHJpdmFjeVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiNGZjNWRmODgzYWM1OWIxMjMxOTU0NjAxNDY2ZDAxYzlkZDliY2MxNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0>\n| Help center\n<https://mandrillapp.com/track/click/31081829/help.air.inc?p=eyJzIjoiTHMtRFR3eUdPS0gyU2VVeXZXSjRMeDJFNHNjIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hlbHAuYWlyLmluY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZWEzYzViNTA3NTExMGM0MjVmZGFmZWZjMDliM2NkOTMwN2IzYjlkNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0>\n\n© Air Labs, Inc.\n\nThu, Dec 18, 2025, 12:13:32 AM\n<https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiN0t1Q2NDNWFDV21maC1UVUNja25qZHZHMEgwIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjVlZGYzNDQyMTQxM2JmZWM4MTczZDg1N2JlOTExNzY4MzdiNjZhNDZcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9>\n<https://mandrillapp.com/track/click/31081829/twitter.com?p=eyJzIjoiOWNRQmFNejJtODhZNWN2c0hpczdham5hUEF3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL2FpckhRXCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCI3NWM5MzI2NTFmMDkwMTU4MzFmNzA2YTBiZDkyYThjMjE3YjI4ZjE2XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ>\n<https://mandrillapp.com/track/click/31081829/www.linkedin.com?p=eyJzIjoiUlk3MjZCbGMtUFFfVzRDWHpud2NIWWQ1blE0IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9haXJocVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWNiMjY5MzBlYmQ0ZjE3NDM4Yzg4YzVhZGUwMDRhMDU1YmMyMzUxNlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0>\n\n\n-- \n\nEdward Njogu\n\nEA to Michael Margolis\n\nStoried Inc.\n\nedward@storiedinc.com\n",
          "textAsHtml": "<p>---------- Forwarded message ---------<br/>From: &apos;Air&apos; via Admin &lt;<a href=\"mailto:admin@storiedinc.com\">admin@storiedinc.com</a>&gt;<br/>Date: Thu, Dec 18, 2025 at 3:13&#x202F;AM<br/>Subject: 2 new notifications in Storied<br/>To: &lt;<a href=\"mailto:admin@storiedinc.com\">admin@storiedinc.com</a>&gt;</p><p>2 new notifications<br/> &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>&zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF; &zwnj;&zwj;&lrm;&rlm;&#xFEFF;<br/>[image: Workspace image]</p><p>Storied<br/>2 new notifications<br/>*Someone* downloaded 3 items</p><p>in Work In Action Selects<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiUk15NTMyQkk4ZVR4MFVPLXBmREFwUXBFaXB3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvMmJlY2JjM2QtZjJiZC00ZTA1LTliZWYtYzNiZTA0Nzg4M2Q3XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\">https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiUk15NTMyQkk4ZVR4MFVPLXBmREFwUXBFaXB3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvMmJlY2JjM2QtZjJiZC00ZTA1LTliZWYtYzNiZTA0Nzg4M2Q3XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ</a>&gt;</p><p>*Someone* viewed *Work In Action Selects*</p><p>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoicjJqQnhNZEdnZERNTmdDZlVEeUhxay1vOUtRIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvYTE1ZmQwYzQtNzllZS00ODdhLWEzY2UtZjVjNTYzNTUyMmU0XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\">https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoicjJqQnhNZEdnZERNTmdDZlVEeUhxay1vOUtRIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL25vdGlmaWNhdGlvbnNcXFwvYTE1ZmQwYzQtNzllZS00ODdhLWEzY2UtZjVjNTYzNTUyMmU0XCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCJmNjFhODIzNjJhOGU5NzRmZjZmY2JiZTgwOTdiMjBhNWMxMTQ1YjU1XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ</a>&gt;<br/>View notifications<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoibmZBRnZWMjFuZ0d4V3Y2N0VYbTJqWTh4azRNIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FsbD93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlYyZuUGFuZWw9dHJ1ZVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWI2NDVkYjQ2ODVlNWQ4Y2QyMjg3MjljZmUwMjUwNjQ4ZjU2MmRmZlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\">https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoibmZBRnZWMjFuZ0d4V3Y2N0VYbTJqWTh4azRNIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FsbD93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlYyZuUGFuZWw9dHJ1ZVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWI2NDVkYjQ2ODVlNWQ4Y2QyMjg3MjljZmUwMjUwNjQ4ZjU2MmRmZlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0</a>&gt;</p><p>If you&rsquo;d rather not receive updates, you can manage your notifications<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiemtGQXl2MFh2Y0JiUTBhUVlwVnk5U2dOSEhvIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FjY291bnRcXFwvbm90aWZpY2F0aW9ucz93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZjYxYTgyMzYyYThlOTc0ZmY2ZmNiYmU4MDk3YjIwYTVjMTE0NWI1NVwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\">https://mandrillapp.com/track/click/31081829/app.air.inc?p=eyJzIjoiemtGQXl2MFh2Y0JiUTBhUVlwVnk5U2dOSEhvIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5haXIuaW5jXFxcL2FjY291bnRcXFwvbm90aWZpY2F0aW9ucz93c2lkPTVlZjJkZDQ2LTE0MTgtNGYxMC1hOTZiLTk5MzE3MDUwZDFlY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZjYxYTgyMzYyYThlOTc0ZmY2ZmNiYmU4MDk3YjIwYTVjMTE0NWI1NVwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0</a>&gt;<br/>.<br/>Terms of service<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiUlVCdzRfNzM1ZWpOQ1lFdlczd1VqVllRREtVIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvdGVybXNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjQwOGU0ZWE1ZmU2YWI2ODE2ZDIyZDE0NTU2ZmRkMjhiN2RkYWQ4YTBcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9\">https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiUlVCdzRfNzM1ZWpOQ1lFdlczd1VqVllRREtVIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvdGVybXNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjQwOGU0ZWE1ZmU2YWI2ODE2ZDIyZDE0NTU2ZmRkMjhiN2RkYWQ4YTBcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9</a>&gt;<br/>| Privacy policy<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoidmg2eE9uTWxkX08wN1dvRmRJd2lJTzdKSHlZIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvcHJpdmFjeVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiNGZjNWRmODgzYWM1OWIxMjMxOTU0NjAxNDY2ZDAxYzlkZDliY2MxNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\">https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoidmg2eE9uTWxkX08wN1dvRmRJd2lJTzdKSHlZIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcXFwvbGVnYWxcXFwvcHJpdmFjeVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiNGZjNWRmODgzYWM1OWIxMjMxOTU0NjAxNDY2ZDAxYzlkZDliY2MxNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0</a>&gt;<br/>| Help center<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/help.air.inc?p=eyJzIjoiTHMtRFR3eUdPS0gyU2VVeXZXSjRMeDJFNHNjIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hlbHAuYWlyLmluY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZWEzYzViNTA3NTExMGM0MjVmZGFmZWZjMDliM2NkOTMwN2IzYjlkNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\">https://mandrillapp.com/track/click/31081829/help.air.inc?p=eyJzIjoiTHMtRFR3eUdPS0gyU2VVeXZXSjRMeDJFNHNjIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2hlbHAuYWlyLmluY1wiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiZWEzYzViNTA3NTExMGM0MjVmZGFmZWZjMDliM2NkOTMwN2IzYjlkNFwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0</a>&gt;</p><p>&copy; Air Labs, Inc.</p><p>Thu, Dec 18, 2025, 12:13:32 AM<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiN0t1Q2NDNWFDV21maC1UVUNja25qZHZHMEgwIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjVlZGYzNDQyMTQxM2JmZWM4MTczZDg1N2JlOTExNzY4MzdiNjZhNDZcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9\">https://mandrillapp.com/track/click/31081829/air.inc?p=eyJzIjoiN0t1Q2NDNWFDV21maC1UVUNja25qZHZHMEgwIiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2Fpci5pbmNcIixcImlkXCI6XCI1ZjhjMGRmYTMxN2E0NGQ3YjY4YTdkNDVjN2UzNzRiOVwiLFwidXJsX2lkc1wiOltcIjVlZGYzNDQyMTQxM2JmZWM4MTczZDg1N2JlOTExNzY4MzdiNjZhNDZcIl0sXCJtc2dfdHNcIjoxNzY2MDE2ODEyfSJ9</a>&gt;<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/twitter.com?p=eyJzIjoiOWNRQmFNejJtODhZNWN2c0hpczdham5hUEF3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL2FpckhRXCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCI3NWM5MzI2NTFmMDkwMTU4MzFmNzA2YTBiZDkyYThjMjE3YjI4ZjE2XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ\">https://mandrillapp.com/track/click/31081829/twitter.com?p=eyJzIjoiOWNRQmFNejJtODhZNWN2c0hpczdham5hUEF3IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL2FpckhRXCIsXCJpZFwiOlwiNWY4YzBkZmEzMTdhNDRkN2I2OGE3ZDQ1YzdlMzc0YjlcIixcInVybF9pZHNcIjpbXCI3NWM5MzI2NTFmMDkwMTU4MzFmNzA2YTBiZDkyYThjMjE3YjI4ZjE2XCJdLFwibXNnX3RzXCI6MTc2NjAxNjgxMn0ifQ</a>&gt;<br/>&lt;<a href=\"https://mandrillapp.com/track/click/31081829/www.linkedin.com?p=eyJzIjoiUlk3MjZCbGMtUFFfVzRDWHpud2NIWWQ1blE0IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9haXJocVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWNiMjY5MzBlYmQ0ZjE3NDM4Yzg4YzVhZGUwMDRhMDU1YmMyMzUxNlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0\">https://mandrillapp.com/track/click/31081829/www.linkedin.com?p=eyJzIjoiUlk3MjZCbGMtUFFfVzRDWHpud2NIWWQ1blE0IiwidiI6MiwicCI6IntcInVcIjozMTA4MTgyOSxcInZcIjoyLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9haXJocVwiLFwiaWRcIjpcIjVmOGMwZGZhMzE3YTQ0ZDdiNjhhN2Q0NWM3ZTM3NGI5XCIsXCJ1cmxfaWRzXCI6W1wiOWNiMjY5MzBlYmQ0ZjE3NDM4Yzg4YzVhZGUwMDRhMDU1YmMyMzUxNlwiXSxcIm1zZ190c1wiOjE3NjYwMTY4MTJ9In0</a>&gt;</p><p>--</p><p>Edward Njogu</p><p>EA to Michael Margolis</p><p>Storied Inc.</p><p><a href=\"mailto:edward@storiedinc.com\">edward@storiedinc.com</a></p>",
          "subject": "Fwd: 2 new notifications in Storied",
          "references": "<31081829.20251218001332.6943472c4d61e5.05952502@mail333.us4.mandrillapp.com>",
          "date": "2025-12-18T00:39:01.000Z",
          "to": {
            "value": [
              {
                "address": "contentideas@storiedinc.com",
                "name": "Content"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Content</span> &lt;<a href=\"mailto:contentideas@storiedinc.com\" class=\"mp_address_email\">contentideas@storiedinc.com</a>&gt;</span>",
            "text": "\"Content\" <contentideas@storiedinc.com>"
          },
          "from": {
            "value": [
              {
                "address": "edward@storiedinc.com",
                "name": "Edward Njogu"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Edward Njogu</span> &lt;<a href=\"mailto:edward@storiedinc.com\" class=\"mp_address_email\">edward@storiedinc.com</a>&gt;</span>",
            "text": "\"Edward Njogu\" <edward@storiedinc.com>"
          },
          "messageId": "<CAL9ygaofb953wMwtWzWX4Gef+18tXB9gD9pDhAqXoVTLGwP=5Q@mail.gmail.com>",
          "inReplyTo": "<31081829.20251218001332.6943472c4d61e5.05952502@mail333.us4.mandrillapp.com>"
        }
      }
    ]
  },
  "versionId": "8d2d0d6f-ea09-4eee-8eb7-b7adf5553c8d",
  "activeVersionId": "8d2d0d6f-ea09-4eee-8eb7-b7adf5553c8d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-10T11:53:50.541Z",
      "createdAt": "2025-07-10T11:53:50.541Z",
      "role": "workflow:owner",
      "workflowId": "VtuaZAAvnvzQToaV",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-19T19:31:19.205Z",
    "createdAt": "2025-12-19T19:31:19.205Z",
    "versionId": "8d2d0d6f-ea09-4eee-8eb7-b7adf5553c8d",
    "workflowId": "VtuaZAAvnvzQToaV",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {},
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2,
        "position": [
          -336,
          96
        ],
        "id": "04e9bab4-d940-4da8-8093-9e95f7b6c819",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "aLqiTFR2cLtIBYK6",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=# REQUEST\n\nProcess the request below using the tools at your disposal:\nThis message was received {{ $json.headers.from }} on {{ $json.headers.date }}\n\n#CONTEXT EMAIL\nPlease note the following in analyzing the following email. If there are several emails between ai@storiedinc.com and any other address, any emails from ai@storiedinc.com are AI replies. Subsequent follow-up emails from any other email address directly to ai@storiedinc.com are the human's reply to the AI. You should reply to the latest human request while using the previous emails as context.\n\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $json.text }}\n",
          "options": {
            "systemMessage": "=# ROLE\nYou are a helpful assistant primarily assisting with admin and operations tasks. \n\n# CONTEXT\nThe date and time now is {{ $now.toString() }}\n\n# PURPOSE\nYou are required to take the information passed by the user and determine the best course of action. Your job is to orchestrate jobs between different agents and formulate a friendly response back to the user. \n\n# EXECUTION\nYou are required to call agents in the correct order by passing in the correct information. This should not involve doing actions like writing emails or other content yourself. \n\nWhen you receive input, analyze it in the following ways:\n\n1. If you are asked to take an action, determine the correct tool to take action on the next steps. \nFor example:\n- If the email requires you to extract next steps from an email and add those next steps to Monday, then you will pass that context to the Monday subworkflow. \n- If you are asked to find meeting options on the calendar, then you shall call the calendar workflow node and use that to find times on the calendar based on the defined calendar management rules. \n\nFinally, after execution, return the final output of the execution to the user through the output. For example, if you were asked to find meeting slots, provide that output back to the user and tell them what slots are open. If a sub-workflow was required to create a task on Monday, confirm with the user if the task has or has not been created. \n\nWhen you are done running other tools or workflows, the next step in the workflow will send an email back to the user, which means you must provide output that is meaningful. \nThe body of the email will be the full text of the email body, which is the output of the execution workflow, including what has been done, what has not been done, any questions or blockers."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          688,
          48
        ],
        "id": "67652e76-405e-4bf8-be9c-4fbde2cea6f8",
        "name": "AI Agent",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "notesInFlow": false
      },
      {
        "parameters": {
          "description": "Call this tool to work on any email related activities.",
          "workflowId": {
            "__rl": true,
            "value": "lQxi6YEZQaiu6s76",
            "mode": "list",
            "cachedResultName": "Gmail Subagent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          912,
          -176
        ],
        "id": "fe069788-c4a4-483b-91ab-b0e20edc4511",
        "name": "Gmail Workflow",
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "options": {
            "reasoningEffort": "low",
            "timeout": 120000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          560,
          272
        ],
        "id": "7448b500-361e-4b7f-ab09-539c429847af",
        "name": "OpenAI Chat Model",
        "notesInFlow": true,
        "credentials": {
          "openAiApi": {
            "id": "O0zxMyVMsAWQNvxb",
            "name": "OpenAi account"
          }
        },
        "notes": "OpenAI"
      },
      {
        "parameters": {
          "description": "Call this tool to update data into the Pinecone vector database.",
          "workflowId": {
            "__rl": true,
            "value": "J2MQ18NtWXrUXCfw",
            "mode": "list",
            "cachedResultName": "Pinecone Updates"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          736,
          -176
        ],
        "id": "52e75859-f8ac-49c3-be1e-e0bdb5ebb6ce",
        "name": "Pinecone Upsert",
        "disabled": true
      },
      {
        "parameters": {
          "description": "Call this workflow for any actions on Monday.com including creating items on Monday.com, updating items on Monday.com, or getting items on Monday.com. Requests will typically come in as something like \"Create this item on Monday\" or \"Create these items on my Monday board\" or \"Find items due today on my board\".",
          "workflowId": {
            "__rl": true,
            "value": "foxsO53IbcaM6Ff3",
            "mode": "list",
            "cachedResultUrl": "/workflow/foxsO53IbcaM6Ff3",
            "cachedResultName": "Monday Subagent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}",
              "context": "=Full Context:\n\nEmail Subject Line: {{ $('Only Allow Mail to Storied AI').item.json.subject }}\n\nFrom: {{ $('Only Allow Mail to Storied AI').item.json.from.value[0].name }}<{{ $('Only Allow Mail to Storied AI').item.json.from.value[0].address }}>\n\n{{ $('Only Allow Mail to Storied AI').item.json.text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "prompt",
                "displayName": "prompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          832,
          400
        ],
        "id": "ab694a9d-6410-4b99-bc35-616a5a1a7fcc",
        "name": "Monday Sub-Workflow"
      },
      {
        "parameters": {
          "description": "Call this tool to execute email functions. You may be required to send emails or search for emails in Gmail or send using SMTP. Enough information must be passed to the tool that allow it to action properly and make actionable input. For example, for drafting emails, be sure to pass a prompt that includes the following: recipients, subject, and body. ",
          "workflowId": {
            "__rl": true,
            "value": "lQxi6YEZQaiu6s76",
            "mode": "list",
            "cachedResultUrl": "/workflow/lQxi6YEZQaiu6s76",
            "cachedResultName": "Gmail Subagent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
            },
            "matchingColumns": [
              "prompt"
            ],
            "schema": [
              {
                "id": "prompt",
                "displayName": "prompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1168,
          400
        ],
        "id": "fbec491a-1c53-4203-8827-68ba7b407c9d",
        "name": "Email Sub-Workflow"
      },
      {
        "parameters": {
          "description": "Call this tool to do actions on Slack including sending messages to user, using a human approval step, or to notify a user easily. ",
          "workflowId": {
            "__rl": true,
            "value": "Ej82KV1ttHjC8dZH",
            "mode": "list",
            "cachedResultName": "Slack Subagent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "client",
                "displayName": "client",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "channel",
                "displayName": "channel",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          672,
          400
        ],
        "id": "dea14681-c82e-47c1-bad3-9a9c89ebb9c4",
        "name": "Slack Sub-Workflow"
      },
      {
        "parameters": {
          "description": "Call this tool to take action on calendar action items. This tool will primarily be used to get calendar events or propose open calendar slots for scheduling sales calls or client calls. When providing output back to the user, notify them that the Zoom meeting may not be linked to the calendar event. ",
          "workflowId": {
            "__rl": true,
            "value": "9g3lAvJtRyyNjaPJ",
            "mode": "list",
            "cachedResultUrl": "/workflow/9g3lAvJtRyyNjaPJ",
            "cachedResultName": "Calendar Subagent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
            },
            "matchingColumns": [
              "prompt"
            ],
            "schema": [
              {
                "id": "prompt",
                "displayName": "prompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          992,
          400
        ],
        "id": "926b9945-b647-4961-99c6-d418fc686335",
        "name": "Calendar Sub-Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c2f1d3dc-2d7e-4c69-8e7c-8e2400a1a2f4",
                "leftValue": "={{ $json.headers.from.includes(\"ai@storiedinc.com\") }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -64,
          96
        ],
        "id": "3435a822-b97c-48b7-b351-30a71e7d6296",
        "name": "Filter Out Mail from Storied AI"
      },
      {
        "parameters": {
          "resource": "draft",
          "subject": "={{ $('Gmail Trigger').item.json.headers.subject }}",
          "message": "={{ $json.output }}",
          "options": {
            "fromAlias": "ai@storiedinc.com",
            "replyTo": "ai@storiedinc.com",
            "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
            "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1200,
          48
        ],
        "id": "2a9b3111-6dfc-4c1e-ae68-00301fb75f61",
        "name": "Create a draft",
        "webhookId": "9b7d0c52-2748-4e44-a034-09dc6f428b17",
        "credentials": {
          "gmailOAuth2": {
            "id": "aLqiTFR2cLtIBYK6",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts/send",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "gmailOAuth2",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          48
        ],
        "id": "8a858aff-2016-4ff3-b5b7-a4366fbbd809",
        "name": "Send Gmail Draft",
        "credentials": {
          "gmailOAuth2": {
            "id": "aLqiTFR2cLtIBYK6",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.headers.to.includes(\"ai@storiedinc.com\") }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "bbb42841-dcf4-4ddb-99c9-844761e532dc"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "96a3244e-ab7b-4d84-8df0-3aca72d87dc2",
                      "leftValue": "={{ $if($json.headers.cc, $json.headers.cc.includes(\"ai@storiedinc.com\"), false) }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "fd7db993-2053-4fe3-be21-3ce298c75753",
                      "leftValue": "={{ $if($json.headers.bcc, $json.headers.bcc.includes(\"ai@storiedinc.com\"), false) }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "43acc603-7e5c-49af-85b7-6ca4d673a065",
                      "leftValue": "={{ $json.headers.to.includes(\"ideas@storiedinc.com\") }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a435129e-724a-48fd-ab82-5f39c363138d",
                      "leftValue": "={{ $if($json.headers.cc, $json.headers.cc.includes(\"ideas@storiedinc.com\"), false) }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5f044f3b-08ad-4bed-9196-b6ec63b8bb0b",
                      "leftValue": "={{ $if($json.headers.bcc, $json.headers.bcc.includes(\"ideas@storiedinc.com\"), false) }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          144,
          32
        ],
        "id": "2bdb23e4-6aae-4fff-9e2a-5b9d40303c8e",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1oUjawNZt9Pe-ttKethMjyd5x_JSBpeZ5HvUGPHR6PkU/edit?usp=sharing",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2003617587,
            "mode": "list",
            "cachedResultName": "Bank of ideas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUjawNZt9Pe-ttKethMjyd5x_JSBpeZ5HvUGPHR6PkU/edit#gid=2003617587"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Idea ": "={{ $json.headers.subject }}",
              "Context": "={{ $json.text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Idea ",
                "displayName": "Idea ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Context",
                "displayName": "Context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Relevant materials/sources",
                "displayName": "Relevant materials/sources",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          752,
          736
        ],
        "id": "aab95390-d9e5-42a9-99bb-bfd6d76af4f1",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "a2GvYolbVNMGjx2A",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Filter Out Mail from Storied AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Workflow": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Upsert": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Monday Sub-Workflow": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Create a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Sub-Workflow": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Slack Sub-Workflow": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calendar Sub-Workflow": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Filter Out Mail from Storied AI": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a draft": {
        "main": [
          [
            {
              "node": "Send Gmail Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Storied Admin",
    "name": null,
    "description": null
  },
  "tags": []
}