n8n/Email_Drafter.json
{
  "updatedAt": "2025-12-01T13:46:54.000Z",
  "createdAt": "2025-11-30T09:37:18.558Z",
  "id": "h5A3YEIEDmCRBTxn",
  "name": "Email Drafter",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -128
      ],
      "id": "c146409e-f129-4ee2-a20c-94ae99905ac0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "=in:inbox category:primary -label:updates from:cscott@cynthiascott.net",
          "receivedAfter": "={{ $json.timestamp.toDateTime().minus(24, 'hours').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -112,
        -128
      ],
      "id": "456897e1-5cf2-48ce-b617-157bbd1f5a21",
      "name": "Get many messages",
      "webhookId": "fe8fc3fe-b9cf-4ee3-b499-87379b96e6ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "c3iKg7fkmFbTwlnB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft a response to Cynthia based on her incoming email below. \n\nInclude the draft email body only, without the email subject.\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -128
      ],
      "id": "d40c4e16-62d1-4b2a-8889-88a25b94ee21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Get many messages').item.json.subject }}",
        "message": "={{ $json.output.draft }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -128
      ],
      "id": "7fc46c53-59ba-42cc-b085-88601e333f87",
      "name": "Create a draft",
      "webhookId": "49635da8-d570-423b-b49f-b5e5410d1b75",
      "credentials": {
        "gmailOAuth2": {
          "id": "c3iKg7fkmFbTwlnB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "672a1b1e-8661-4e63-b76d-2b106a69ffbd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Dcm6ikEvNE1dhGxo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"draft\": \"Hi Cynthia -\\nHappy to clarify, below are the steps to accomplish this.\\n\\nThanks,\\nEdward\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        96
      ],
      "id": "65d8183d-dd80-41fc-9ad7-5cee961e2d0b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        272
      ],
      "id": "3a1867f2-52fa-4fb6-912e-0605dbb8540a",
      "name": "Pinecone Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        464
      ],
      "id": "70965163-c34b-4a8a-903d-77ab4bf5b79f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tjf9ytf3xLEqDCRr",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "741fdce2-ed34-4314-9c09-1a0502d6ea85",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-30T09:37:19.120Z",
      "createdAt": "2025-11-30T09:37:19.120Z",
      "role": "workflow:owner",
      "workflowId": "h5A3YEIEDmCRBTxn",
      "projectId": "DukkafP5uTjGrfTt"
    }
  ],
  "tags": []
}