n8n/File_Mapping.json
{
  "updatedAt": "2025-11-29T21:34:45.000Z",
  "createdAt": "2025-11-29T20:00:26.213Z",
  "id": "sYJYwSCA8vPFloej",
  "name": "File Mapping",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "/EDWARD/Promotion",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -192,
        -64
      ],
      "id": "de390c7d-a534-42b6-b98c-9eceb4419788",
      "name": "List a folder",
      "credentials": {
        "dropboxApi": {
          "id": "7reH9kma8akYJihs",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "path": "={{ $json.pathDisplay }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        720,
        304
      ],
      "id": "685f56e1-d680-4d14-b59d-03651e48206b",
      "name": "Download a file",
      "credentials": {
        "dropboxApi": {
          "id": "7reH9kma8akYJihs",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "089ef1e1-4724-4d28-9899-dcfb899523c1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "folder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -64
      ],
      "id": "b4ce2322-cb6a-477d-a9e8-92b4a37649bc",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cb5024f-4ac9-4dfb-8b7e-623d5babee48",
              "leftValue": "={{ $json.contentSize }}",
              "rightValue": 1048576,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        320
      ],
      "id": "4bf0e747-276c-4fb8-b530-674537f1e318",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "517fa3f5-50f6-4d8d-8df8-6d551d1acff3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        992,
        304
      ],
      "id": "8a88abd7-a81a-4668-9ecf-10e9cb5b7d59",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        304
      ],
      "id": "737d5620-7945-4df5-93ab-6e1e577feca5",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -64
      ],
      "id": "2764cfcd-2b86-4289-abf2-8d43d7c4eeb0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c775d359-9599-494b-918c-3e46aae9274c",
              "name": "numberOfDiscs",
              "type": "number",
              "value": 4
            }
          ]
        },
        "options": {}
      },
      "id": "a81cf556-b7e4-435f-95d5-69893cbded66",
      "name": "Set number of discs",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        1120
      ],
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "26c868df-4677-4ded-9ba5-7a69fc3cfd06",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.numberOfDiscs }}",
              "rightValue": 1
            }
          ]
        },
        "options": {}
      },
      "id": "d4ee59f8-1000-4e4d-98ed-ffe0515ed745",
      "name": "Max 1 disc",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        1440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "VPnclcR3gHg85eOV",
          "cachedResultName": "Towers of Hanoi"
        },
        "workflowInputs": {
          "value": {
            "logs": "={{ $json.logs }}",
            "stackX": "={{ $json.stackA }}",
            "stackY": "={{ $json.stackB }}",
            "stackZ": "={{ $json.stackC }}",
            "numberOfDiscs": "={{ $json.numberOfDiscs }}"
          },
          "schema": [
            {
              "id": "numberOfDiscs",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "numberOfDiscs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackX",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "stackX",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackY",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "stackY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackZ",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "stackZ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "logs",
              "type": "array",
              "display": true,
              "required": false,
              "displayName": "logs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "921a6da0-8d19-46d6-a58d-aeed45ba483b",
      "name": "A B C",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        992,
        1120
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "numberOfDiscs",
              "type": "number"
            },
            {
              "name": "stackX",
              "type": "object"
            },
            {
              "name": "stackY",
              "type": "object"
            },
            {
              "name": "stackZ",
              "type": "object"
            },
            {
              "name": "logs",
              "type": "array"
            }
          ]
        }
      },
      "id": "0e0963bb-2655-4bf4-9862-9fdac69f982e",
      "name": "X Y Z",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        1440
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Move disc\nconst disc = $json.stackX.items.pop();\n$json.stackZ.items.push(disc);\n\n// Log\n$json.logs.push($json.stackX.name + \" \" + $json.stackZ.name + \" \" + disc);\n\nreturn $input.item;"
      },
      "id": "207164bd-89c0-4aac-83b6-ae9bd3ccba91",
      "name": "X to Z",
      "type": "n8n-nodes-base.code",
      "position": [
        816,
        1424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Move disc\nconst disc = $json.stackX.items.pop();\n$json.stackZ.items.push(disc);\n\n// Log\n$json.logs.push($json.stackX.name + \" \" + $json.stackZ.name + \" \" + disc);\n\nreturn $input.item;"
      },
      "id": "b29db7b4-9ab9-4c67-b8b4-7ba544947bdc",
      "name": " X to Z",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        1568
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reset number of discs\n$json.numberOfDiscs += 1;\n\n// Reset stacks (XZY to XYZ)\nconst stack = $json.stackY;\n$json.stackY = $json.stackZ;\n$json.stackZ = stack;\n\nreturn $input.item;"
      },
      "id": "4938d215-1e20-4410-afa0-7cc81b9e26ee",
      "name": "Update",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        1568
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reset number of discs\n$json.numberOfDiscs += 1;\n\n// Reset stacks (YXZ to XYZ)\nconst stack = $json.stackY;\n$json.stackY = $json.stackX;\n$json.stackX = stack;\n\nreturn $input.item;"
      },
      "id": "dd135312-dd01-4399-8782-9b0645b7bc05",
      "name": " Update",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        1568
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Really check, if you want to waste computing energy. Recursion errors are hard enough. Best regards, Adrian\nconst min = 1;\nconst max = 5;\nif ($json.numberOfDiscs < min) {\n  $json.numberOfDiscs = min;\n}\nif ($json.numberOfDiscs > max) {\n  $json.numberOfDiscs = max;\n}\n\n// Create stack items\nlet items = [];\nfor (let i=$json.numberOfDiscs; i>0; i--) {\n  items.push(i);\n}\n\n// Set data\n$json.stackA = {};\n$json.stackA.name = \"A\";\n$json.stackA.items = items;\n$json.stackB = {};\n$json.stackB.name = \"B\";\n$json.stackB.items = [];\n$json.stackC = {};\n$json.stackC.name = \"C\";\n$json.stackC.items = [];\n$json.logs = [];\n\n// Return this n8n item\nreturn $input.item;"
      },
      "id": "f8f1cfe1-8405-4dc3-8cbf-6abb053a66a8",
      "name": "Create stacks",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "VPnclcR3gHg85eOV",
          "cachedResultName": "Towers of Hanoi"
        },
        "workflowInputs": {
          "value": {
            "logs": "={{ $json.logs }}",
            "stackX": "={{ $json.stackX }}",
            "stackY": "={{ $json.stackZ }}",
            "stackZ": "={{ $json.stackY }}",
            "numberOfDiscs": "={{ $json.numberOfDiscs - 1 }}"
          },
          "schema": [
            {
              "id": "numberOfDiscs",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "numberOfDiscs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackX",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackX",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackY",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackZ",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackZ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "logs",
              "type": "array",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "logs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6a4bda04-7e4b-46e6-8105-6a919e434277",
      "name": "X Z Y",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        384,
        1568
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "VPnclcR3gHg85eOV",
          "cachedResultName": "Towers of Hanoi"
        },
        "workflowInputs": {
          "value": {
            "logs": "={{ $json.logs }}",
            "stackX": "={{ $json.stackY }}",
            "stackY": "={{ $json.stackX }}",
            "stackZ": "={{ $json.stackZ }}",
            "numberOfDiscs": "={{ $json.numberOfDiscs - 1 }}"
          },
          "schema": [
            {
              "id": "numberOfDiscs",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "numberOfDiscs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackX",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackX",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackY",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stackZ",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "stackZ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "logs",
              "type": "array",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "logs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "20d0c0e3-668f-4d07-8b38-eaa00f96b8a3",
      "name": "Y X Z",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1024,
        1568
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "function logsToSentence(logs) {\n  return logs.map((entry, index) => {\n    const [from, to, disc] = entry.split(\" \");\n    let text;\n\n    if (index === 0) {\n      text = `Move disc ${disc} from ${from} to ${to}`;\n    } else if (index === 1) {\n      text = `then ${from} ${disc}→ ${to}`;\n    } else {\n      text = `${from} ${disc}→ ${to}`;\n    }\n\n    text += \",\";\n\n    if (index === 0 || index % 2 === 1) {\n      text += \"\\n\";\n    } else {\n      text += \" \";\n    }\n\n    return text;\n  }).join(\"\").slice(0, -2) + \".\";\n}\n\nreturn { \"solution\" : logsToSentence($input.first().json.logs) };"
      },
      "id": "19b9a350-6275-47d8-b61a-cbe0fcfc4b48",
      "name": "Solution",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "### Input\n- **numberOfDiscs:** 4 ",
        "height": 448,
        "width": 192,
        "color": 7
      },
      "id": "a5185e5b-d53a-4add-83a6-99a6da82b779",
      "name": "user input",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Setup\n- **numberOfDiscs:** 4  \n- **stackA**\n  - **name:** A  \n  - **items:** 4, 3, 2, 1  \n- **stackB**\n  - **name:** B  \n  - **items:** -  \n- **stackC**\n  - **name:** C  \n  - **items:** -  \n",
        "height": 448,
        "width": 192,
        "color": 7
      },
      "id": "0dbba60f-3d36-4ae2-a502-a358c633d6a9",
      "name": "setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result\n- **numberOfDiscs:** 4  \n- **stackX**\n  - **name:** A  \n  - **items:** -  \n- **stackY**\n  - **name:** B  \n  - **items:** -  \n- **stackZ**\n  - **name:** C  \n  - **items:** 4, 3, 2, 1",
        "height": 448,
        "width": 192,
        "color": 7
      },
      "id": "25fd0d46-9cbe-449b-a83f-eaeda7ac1335",
      "name": "result",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Solution\nMove disc 1 from A to B,\nthen A 2→ C,\nB 1→ C, A 3→ B,\nC 1→ A, C 2→ B,\nA 1→ B, A 4→ C,\nB 1→ C, B 2→ A,\nC 1→ A, B 3→ C,\nA 1→ B, A 2→ C,\nB 1→ C.",
        "height": 448,
        "width": 208,
        "color": 7
      },
      "id": "1b57747c-0b4f-4e84-9c9f-1953e6d20fc1",
      "name": "solution",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Node input\n- **numberOfDiscs** -1 \n- stackX = **stackX** \n- stackY = **stackZ** \n- stackZ = **stackY** ",
        "height": 416,
        "width": 198,
        "color": 7
      },
      "id": "f5efecde-b00f-4fb0-b92d-c8011320cbec",
      "name": "swap",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Node steps\n- disc = **stackX**.pop()\n- **stackZ**.push(disc)",
        "height": 416,
        "width": 192,
        "color": 7
      },
      "id": "bd0f35dd-e0ff-459c-9819-78f82515dc16",
      "name": "move",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Node steps\n- **numberOfDiscs** += 1\n- YXZ to XYZ\n  - stack = **stackY**\n  - **stackY** = **stackX**\n  - **stackX** = stack",
        "height": 416,
        "width": 192,
        "color": 7
      },
      "id": "3a02498c-8113-4d42-89f9-9dcf1e036739",
      "name": "update",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Towers of Hanoi\nThis is an **example of using sub-workflow nodes** and a proof of concept showing that it’s possible to **solve and explain recursive problems with n8n**.\n\n### Task\nMove a stack of n disks from rod A to rod C, using rod B as auxiliary. Only one disk can be moved at a time, and no disk may be placed on a smaller disk.\n\n### Example\n```\nn=4\n     |          |          |\n     =          |          |\n    ===         |          |\n   =====        |          |\n  =======       |          |\n ---------  ---------  ---------\n     A          B          C\n```\n### Algorithm\n```\nprocedure Hanoi(n, X, Y, Z):\n  if n == 1:\n    move disk from X to Z\n  else:\n    Hanoi(n-1, X, Z, Y)\n    move disk from X to Z\n    Hanoi(n-1, Y, X, Z)\n```\nAnother variant, with better readability and no redundant code, but it includes empty n8n executions (when n is 0):\n```\nprocedure Hanoi(n, X, Y, Z):\n    if n > 0:\n        Hanoi(n-1, X, Z, Y)\n        move disk from X to Z\n        Hanoi(n-1, Y, X, Z)\n```\n### Notes\n- This is a learning example. In a real scenario, you would probably use an iterative approach with only a single code node.\n- The workflow variables X, Y, and Z represent the positions of the rods. E.g., if rods A and B are swapped, A is at position Y and B is at position X.\n- As the modified number of discs and positions are returned when a sub-workflow finishes, the \"Update\" nodes reset these values.\n- When experimenting with recursion, make sure to define a termination condition first. Also, be aware of the \"Restart workspace\" link in the [n8n Dashboard](https://app.n8n.cloud/manage).\n- Check Towers of Hanoi on [GitHub](https://github.com/adibaba/n8n.workflows)\n- Learn more about [Recursion on Wikipedia](https://en.wikipedia.org/w/index.php?title=Recursion_(computer_science)&oldid=1301600240#Towers_of_Hanoi).",
        "height": 1024,
        "width": 576,
        "color": 5
      },
      "id": "b3f7091d-50a8-43c7-8509-b149be4cc8c7",
      "name": "Towers of Hanoi",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        816
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "List a folder": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set number of discs": {
      "main": [
        [
          {
            "node": "Create stacks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max 1 disc": {
      "main": [
        [
          {
            "node": "X to Z",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X Z Y",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A B C": {
      "main": [
        [
          {
            "node": "Solution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Y Z": {
      "main": [
        [
          {
            "node": "Max 1 disc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " X to Z": {
      "main": [
        [
          {
            "node": "Y X Z",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": " X to Z",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create stacks": {
      "main": [
        [
          {
            "node": "A B C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Z Y": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Y X Z": {
      "main": [
        [
          {
            "node": " Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "82a109d1-58e8-4bd1-8f5d-01bd9b395dc4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-29T20:00:26.316Z",
      "createdAt": "2025-11-29T20:00:26.316Z",
      "role": "workflow:owner",
      "workflowId": "sYJYwSCA8vPFloej",
      "projectId": "DukkafP5uTjGrfTt"
    }
  ],
  "tags": []
}