n8n/LinkedIn_Posts_Scraper.json
{
  "updatedAt": "2026-03-31T11:30:52.106Z",
  "createdAt": "2026-03-31T10:48:37.972Z",
  "id": "uwPVHlhYQlJS5ifp",
  "name": "LinkedIn Posts Scraper",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "LQQIXN9Othf8f7R5n",
          "mode": "id"
        },
        "customBody": "{\n  \"limit\": 5,\n  \"username\": \"https://www.linkedin.com/in/edward-njogu/\",\n  \"page_number\": 1\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        80
      ],
      "id": "7186909d-d6bf-4175-89d4-ec961faaf149",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "zoVv964gxr4vqj5J",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        -64
      ],
      "id": "9aeaee6c-f749-48b3-87f3-d71152f2ed0b",
      "name": "No Operation, do nothing",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d110aaca-f0b5-4820-9a5f-6038085eb1ef",
              "name": "latest_recorded",
              "value": "={{ $input.first().json.property_publishing_date.start }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -64
      ],
      "id": "3928fd81-b246-4190-bc47-46a1e87eed78",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        64
      ],
      "id": "a5e71503-2650-490f-b75f-88785260d850",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        80
      ],
      "id": "7fc2168c-e344-46c3-859c-9b8186eacb13",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4ae56146-f56a-4290-ac78-02313c2645bc",
              "leftValue": "={{ $json.posted_at.date.toDateTime().format('yyyy-MM-dd:HH:mm') }}",
              "rightValue": "={{ '2020-01-01'.toDateTime().format('yyyy-MM-dd:HH:mm') || $('Merge').first().json.latest_recorded.toDateTime().format('yyyy-MM-dd:HH:mm') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "303135a2-5552-4bcd-903c-aa0098286257",
              "leftValue": "={{ $json.post_type }}",
              "rightValue": "repost",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        48
      ],
      "id": "8095aab0-e013-43a4-84c4-d7522d3c985a",
      "name": "If Latest Posts?"
    },
    {
      "parameters": {
        "content": "## Update Recent Posts to Notion",
        "height": 608,
        "width": 2816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -176
      ],
      "typeVersion": 1,
      "id": "edc95542-31ab-45a4-a50d-0b059b0dd834",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f79e453-cee8-4d71-b716-9907e1f2a19c",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        64
      ],
      "id": "d31b7707-c7e9-44ab-ad68-467c7e39db5d",
      "name": "Remove Index 0 from Next Part of Flow"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "314e2617-8717-8051-8c44-f3985932787f",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Posting",
          "cachedResultUrl": "https://www.notion.so/314e2617871780518c44f3985932787f"
        },
        "title": "={{ $json.text.split(\"\\n\")[0] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Type|select",
              "selectValue": "={{ $json.post_type === \"regular\" && $json?.media?.type === \"image\"? \"Image\" : $json.post_type === \"quote\" ? \"Reshare\" : \"Text\" }}"
            },
            {
              "key": "Comments|number",
              "numberValue": "={{ $json.stats.comments }}"
            },
            {
              "key": "Reactions|number",
              "numberValue": "={{ $json.stats.total_reactions }}"
            },
            {
              "key": "Post URL|url",
              "urlValue": "={{ $json.url.split(\"?\")[0] }}"
            },
            {
              "key": "Publishing date|date",
              "includeTime": false,
              "date": "={{ $json.posted_at.date.toDateTime().toLocal() }}",
              "timezone": "Africa/Nairobi"
            },
            {
              "key": "Post Body|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.chunkedText[0].text.content }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.chunkedText.length > 1 ? $json.chunkedText[1]?.text?.content : \"\" }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.chunkedText.length > 2 ? $json.chunkedText[2]?.text?.content : \"\" }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.chunkedText.length > 3 ? $json.chunkedText[3]?.text?.content : \"\" }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.chunkedText.length > 4 ? $json.chunkedText[4]?.text?.content : \"\" }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2304,
        32
      ],
      "id": "3601018a-631d-408d-971e-75c45eeb2714",
      "name": "Create New Post Entry",
      "credentials": {
        "notionApi": {
          "id": "PEBqBz7sm9yYixQh",
          "name": "Ed's Notion Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/314e2617871780518c44f3985932787f?v=314e26178717802788ae000c1e5869ff",
          "mode": "url"
        },
        "limit": 1,
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Publishing date|date",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        720,
        -64
      ],
      "id": "0ed57a47-f048-41a7-ba44-d99cc7e46d35",
      "name": "Get Existing Posts",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "PEBqBz7sm9yYixQh",
          "name": "Ed's Notion Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3d9a6b1-ebe2-43af-9839-2859d20cf984",
              "name": "chunkedText",
              "value": "={{ Array.from({length: Math.ceil(($json.text || \"\").length / 2000)}, (_, i) => ({\n  text: { \n    content: ($json.text || \"\").substring(i * 2000, (i + 1) * 2000) \n  }\n})) }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        32
      ],
      "id": "aa6533b5-df16-4bff-9dcf-aedfae38fb29",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Get Existing Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Index 0 from Next Part of Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Latest Posts?": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Index 0 from Next Part of Flow": {
      "main": [
        [
          {
            "node": "If Latest Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Posts": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create New Post Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "093bef8a-77df-46e8-ae69-e75ceb8bc43d",
  "activeVersionId": "093bef8a-77df-46e8-ae69-e75ceb8bc43d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-31T10:48:38.003Z",
      "createdAt": "2026-03-31T10:48:38.003Z",
      "role": "workflow:owner",
      "workflowId": "uwPVHlhYQlJS5ifp",
      "projectId": "DukkafP5uTjGrfTt"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-31T11:30:54.000Z",
    "createdAt": "2026-03-31T11:30:30.203Z",
    "versionId": "093bef8a-77df-46e8-ae69-e75ceb8bc43d",
    "workflowId": "uwPVHlhYQlJS5ifp",
    "nodes": [
      {
        "parameters": {
          "operation": "Run actor and get dataset",
          "actorId": {
            "__rl": true,
            "value": "LQQIXN9Othf8f7R5n",
            "mode": "id"
          },
          "customBody": "{\n  \"limit\": 5,\n  \"username\": \"https://www.linkedin.com/in/edward-njogu/\",\n  \"page_number\": 1\n}"
        },
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          224,
          80
        ],
        "id": "7186909d-d6bf-4175-89d4-ec961faaf149",
        "name": "Run an Actor and get dataset",
        "credentials": {
          "apifyApi": {
            "id": "zoVv964gxr4vqj5J",
            "name": "Apify account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          480,
          -64
        ],
        "id": "9aeaee6c-f749-48b3-87f3-d71152f2ed0b",
        "name": "No Operation, do nothing",
        "executeOnce": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d110aaca-f0b5-4820-9a5f-6038085eb1ef",
                "name": "latest_recorded",
                "value": "={{ $input.first().json.property_publishing_date.start }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          -64
        ],
        "id": "3928fd81-b246-4190-bc47-46a1e87eed78",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1216,
          64
        ],
        "id": "a5e71503-2650-490f-b75f-88785260d850",
        "name": "Merge"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "daysInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -112,
          80
        ],
        "id": "7fc2168c-e344-46c3-859c-9b8186eacb13",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4ae56146-f56a-4290-ac78-02313c2645bc",
                "leftValue": "={{ $json.posted_at.date.toDateTime().format('yyyy-MM-dd:HH:mm') }}",
                "rightValue": "={{ '2020-01-01'.toDateTime().format('yyyy-MM-dd:HH:mm') || $('Merge').first().json.latest_recorded.toDateTime().format('yyyy-MM-dd:HH:mm') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              },
              {
                "id": "303135a2-5552-4bcd-903c-aa0098286257",
                "leftValue": "={{ $json.post_type }}",
                "rightValue": "repost",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1760,
          48
        ],
        "id": "8095aab0-e013-43a4-84c4-d7522d3c985a",
        "name": "If Latest Posts?"
      },
      {
        "parameters": {
          "content": "## Update Recent Posts to Notion",
          "height": 608,
          "width": 2816,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -240,
          -176
        ],
        "typeVersion": 1,
        "id": "edc95542-31ab-45a4-a50d-0b059b0dd834",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9f79e453-cee8-4d71-b716-9907e1f2a19c",
                "leftValue": "={{ $itemIndex }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1472,
          64
        ],
        "id": "d31b7707-c7e9-44ab-ad68-467c7e39db5d",
        "name": "Remove Index 0 from Next Part of Flow"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "314e2617-8717-8051-8c44-f3985932787f",
            "mode": "list",
            "cachedResultName": "LinkedIn Content Posting",
            "cachedResultUrl": "https://www.notion.so/314e2617871780518c44f3985932787f"
          },
          "title": "={{ $json.text.split(\"\\n\")[0] }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Type|select",
                "selectValue": "={{ $json.post_type === \"regular\" && $json?.media?.type === \"image\"? \"Image\" : $json.post_type === \"quote\" ? \"Reshare\" : \"Text\" }}"
              },
              {
                "key": "Comments|number",
                "numberValue": "={{ $json.stats.comments }}"
              },
              {
                "key": "Reactions|number",
                "numberValue": "={{ $json.stats.total_reactions }}"
              },
              {
                "key": "Post URL|url",
                "urlValue": "={{ $json.url.split(\"?\")[0] }}"
              },
              {
                "key": "Publishing date|date",
                "includeTime": false,
                "date": "={{ $json.posted_at.date.toDateTime().toLocal() }}",
                "timezone": "Africa/Nairobi"
              },
              {
                "key": "Post Body|rich_text",
                "richText": true,
                "text": {
                  "text": [
                    {
                      "text": "={{ $json.chunkedText[0].text.content }}",
                      "annotationUi": {}
                    },
                    {
                      "text": "={{ $json.chunkedText.length > 1 ? $json.chunkedText[1]?.text?.content : \"\" }}",
                      "annotationUi": {}
                    },
                    {
                      "text": "={{ $json.chunkedText.length > 2 ? $json.chunkedText[2]?.text?.content : \"\" }}",
                      "annotationUi": {}
                    },
                    {
                      "text": "={{ $json.chunkedText.length > 3 ? $json.chunkedText[3]?.text?.content : \"\" }}",
                      "annotationUi": {}
                    },
                    {
                      "text": "={{ $json.chunkedText.length > 4 ? $json.chunkedText[4]?.text?.content : \"\" }}",
                      "annotationUi": {}
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2304,
          32
        ],
        "id": "3601018a-631d-408d-971e-75c45eeb2714",
        "name": "Create New Post Entry",
        "credentials": {
          "notionApi": {
            "id": "PEBqBz7sm9yYixQh",
            "name": "Ed's Notion Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "https://www.notion.so/314e2617871780518c44f3985932787f?v=314e26178717802788ae000c1e5869ff",
            "mode": "url"
          },
          "limit": 1,
          "options": {
            "sort": {
              "sortValue": [
                {
                  "key": "Publishing date|date",
                  "direction": "descending"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          720,
          -64
        ],
        "id": "0ed57a47-f048-41a7-ba44-d99cc7e46d35",
        "name": "Get Existing Posts",
        "executeOnce": true,
        "credentials": {
          "notionApi": {
            "id": "PEBqBz7sm9yYixQh",
            "name": "Ed's Notion Account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3d9a6b1-ebe2-43af-9839-2859d20cf984",
                "name": "chunkedText",
                "value": "={{ Array.from({length: Math.ceil(($json.text || \"\").length / 2000)}, (_, i) => ({\n  text: { \n    content: ($json.text || \"\").substring(i * 2000, (i + 1) * 2000) \n  }\n})) }}",
                "type": "array"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2048,
          32
        ],
        "id": "aa6533b5-df16-4bff-9dcf-aedfae38fb29",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "Run an Actor and get dataset": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Get Existing Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Remove Index 0 from Next Part of Flow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Run an Actor and get dataset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Latest Posts?": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Index 0 from Next Part of Flow": {
        "main": [
          [
            {
              "node": "If Latest Posts?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Existing Posts": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Create New Post Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Edward Njogu",
    "name": "Version 093bef8a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}