n8n/n8n_Level_2.json
{
  "updatedAt": "2025-11-28T09:30:02.000Z",
  "createdAt": "2025-11-26T10:31:49.098Z",
  "id": "HgbPOjNT2heLaTMk",
  "name": "n8n Level 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        2528
      ],
      "id": "e76d793a-26b7-4aeb-9973-51aea5d4b54a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"items\": [\n    {\n      \"country\": \"Kenya\",\n      \"Pop\": 61\n    },\n    {\n      \"country\": \"Uganda\",\n      \"Pop\": 49\n    },\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -208
      ],
      "id": "b376a799-bf97-450d-95a4-edd3008b1119",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  print(item)\n  for i in item[\"json\"][\"items\"]:\n    i[\"President\"] = \"Dictator\"\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -208
      ],
      "id": "eab8ab1f-1263-4697-93fc-9546c138356c",
      "name": "Code in Python (Native) (Beta)"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        192
      ],
      "id": "20f8c022-1c83-4247-a806-d43f05ea2eea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": ".item-title a[href]",
              "returnValue": "attribute",
              "returnArray": true
            },
            {
              "key": "titles",
              "cssSelector": ".item-title a",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        336,
        192
      ],
      "id": "47baf99c-5aa8-4591-807c-fedf4a5145db",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        416
      ],
      "id": "cc444026-ee3d-4fd6-af92-452a6e51d8ea",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## Working with the Python Node\n\n* Iterating through Python input (_items now, docs not updated)\n* Use print statements to debug in the browser console\n* Check for json key when iterating",
        "height": 400,
        "width": 864,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -432
      ],
      "typeVersion": 1,
      "id": "ead86b45-1350-45f8-96cf-873a8a7a8594",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Simple Craping\n* Use the **native HTML node** to parse through returned content\n* CSS selectors such as class, id, attribute type can extract specific content\n* Toggle Array On or Off to either get all items or just one item (resp.)\n* Also includes a JSON - XML conversion node",
        "height": 624,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        0
      ],
      "typeVersion": 1,
      "id": "906681de-1e73-42ed-934e-bb209d660f24",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "dataPropertyName": "=xml_output",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        352,
        416
      ],
      "id": "13ba8af2-bd1a-424c-900c-74272fb9156c",
      "name": "XML"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now.startOf('month') }}",
        "timeUnit": "months",
        "duration": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1056,
        -224
      ],
      "id": "6c392b98-8a67-4549-ab61-e541b551b87e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "content": "## Date & Time Node\n* Get difference between dates in days,weeks, months, etc\n* Tip: Use expressions to go to start or end of month, week, etc",
        "height": 400,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -432
      ],
      "typeVersion": 1,
      "id": "923aedc8-9fb1-4397-b6c7-e741e900e20f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        688,
        -224
      ],
      "id": "ae9062c9-a7b8-42c0-86fa-080665a5b5d8",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        208
      ],
      "id": "6dcdefb1-68c2-484d-a728-5c26abc71f9a",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        208
      ],
      "id": "b06eb798-eda4-4000-b02f-383897e0be49",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./.n8n/workflowBinary/{{ $('HTTP Request3').item.json.title.trim().replaceAll(\".\",\"\") }}.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        432
      ],
      "id": "51944c43-b3a3-4161-8787-59b4ca97b13c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "=./.n8n/workflowBinary/{{ $('HTTP Request3').item.json.title.trim().replaceAll(\".\",\"\") }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1216,
        432
      ],
      "id": "12be41f3-2ecf-4470-b76f-d9b2b1682b8e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## Read and Write Files to Disk\n* File Conversion (JSON to Binary)\n* Writing files to disk and reading said files\n* To access files, use the Read File functionality\n* Set the absolute path mapped in the volume config in yml file\n* Or use the path **<MEDIA_FOLDER>/workflows/<WORKFLOW_ID>/executions/<EXECUTION_ID>/binary_data**",
        "height": 624,
        "width": 896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "9cbc7502-c1a1-4718-85e3-ae7308b91960",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "email",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        992
      ],
      "id": "2ba63872-1bbc-4a13-a950-1879af5c6ef0",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        128,
        848
      ],
      "id": "737b2cbe-d6c0-49ce-b5de-b47c800a0e1e",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "jsCode": "const arrayPpl = [\n  {\n    \"name\": \"Oga\",\n    \"email\":\"gatsby@west-egg.co\",\n    \"language\": \"English\",\n    \"country\": {\n        \"code\": \"CO\",\n        \"name\": \"Nigeria\"\n    }\n  },\n  {\n    \"name\": \"Xito\",\n    \"language\": \"Swati\",\n    \"email\": \"info@in-and-out-of-weeks.org\",\n    \"country\": {\n        \"code\": \"US\",\n        \"name\": \"Eswatini\"\n    \n    }\n  }\n]\n\nreturn arrayPpl"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1152
      ],
      "id": "33a5c11b-5ad8-4d1a-b6a3-aeb87ffb5442",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$runIndex}}",
              "value2": 2
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1040,
        992
      ],
      "typeVersion": 1,
      "id": "00158d8e-b0a5-4be6-9b4b-c5ccceb86b30"
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        624,
        992
      ],
      "typeVersion": 1,
      "id": "792cd6d2-d4da-4780-b55c-0fdea937d3ce"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        992
      ],
      "id": "f6f5fbde-3317-4a93-a31b-b3e311e26c9d",
      "name": "Wait",
      "webhookId": "f86c97a1-17dd-48ea-b3f0-837560dec885"
    },
    {
      "parameters": {
        "errorMessage": "An error occured here. "
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1328,
        976
      ],
      "id": "e1d3a6aa-6a55-4123-8e9c-125337531d93",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "## Merging and Errors\n",
        "height": 736,
        "width": 1776,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        704
      ],
      "typeVersion": 1,
      "id": "d5ba7861-e71a-49a1-8db7-c364d138388f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "3998e70dc5fd00cd54cbe90bc0448c60"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        2384
      ],
      "id": "1ef24f60-2238-4f7b-9329-bf4edc84b413",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hZ09OTs8auc20NkI",
          "name": "n8n Level 2 Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3RtiHoK4yuODlW",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW"
        },
        "table": {
          "__rl": true,
          "value": "tblSZJyO7vFx4luGZ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW/tblSZJyO7vFx4luGZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        2704
      ],
      "id": "df21d23a-c05d-444b-bf48-129f8d6cadb7",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "weesX34sE7IPujsD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customerID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        2528
      ],
      "id": "f98270c1-fbc4-483e-84f6-8bde355a8b51",
      "name": "Merge2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        2528
      ],
      "id": "e9a2cb12-da07-489d-a1cf-5a073a403fbc",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32e92240-d6b9-4e94-953c-622904812089",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        2384
      ],
      "id": "0ac9e478-3f9a-4909-8445-02135b937046",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "orders",
        "options": {
          "fileName": "=Orders.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1296,
        2368
      ],
      "id": "d1304242-3df5-471d-b925-e6151ab7d684",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "sendTo": "edward@storiedinc.com",
        "subject": "Hi There",
        "emailType": "text",
        "message": "Here is an email I am sending out showing all the orders that came thru this week. ",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "orders"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        2368
      ],
      "id": "ea685289-2cc3-43fb-b51b-cbeaeed5fd91",
      "name": "Send a message",
      "webhookId": "b4b84773-b27f-43eb-bd15-767845b0092e",
      "credentials": {
        "gmailOAuth2": {
          "id": "c3iKg7fkmFbTwlnB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.id }}. My ID: 3998e70dc5fd00cd54cbe90bc0448c60",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1904,
        2368
      ],
      "id": "c00d2d00-cb6b-441e-9114-7df4488e74a3",
      "name": "Discord",
      "webhookId": "dff1355a-d4c2-4a32-99ff-6c6a3200e5c0",
      "credentials": {
        "discordWebhookApi": {
          "id": "jZk5gcvzPbzOmjGe",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3RtiHoK4yuODlW",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW"
        },
        "table": {
          "__rl": true,
          "value": "tblSZJyO7vFx4luGZ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW/tblSZJyO7vFx4luGZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        608,
        1792
      ],
      "id": "36fe3ca4-e2ea-48cd-88cc-8facf6c4afb4",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "weesX34sE7IPujsD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        1792
      ],
      "id": "99907722-f5e5-4f63-a315-21419f4dee59",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3RtiHoK4yuODlW",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW"
        },
        "table": {
          "__rl": true,
          "value": "tblSZJyO7vFx4luGZ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/app3RtiHoK4yuODlW/tblSZJyO7vFx4luGZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        96,
        1664
      ],
      "id": "2174771b-e3f2-4ea4-9d55-d5dc641769a6",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "weesX34sE7IPujsD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        1920
      ],
      "id": "43fc305b-381c-41b9-aed5-42da7daf9029",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "## Level 2 Workflow 1: Update Airtable with regions and subregions",
        "height": 640,
        "width": 1776
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        1488
      ],
      "typeVersion": 1,
      "id": "c22788f1-f2b9-47ce-a497-7301061652a2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        2736
      ],
      "id": "37cbfb02-203d-4e12-bae8-e8143acf4ed2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3d016ff-2ab6-4753-9edb-b3dde388ac57",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "61e8f214-d648-4067-a39d-02dbc7088a2c",
              "name": "customerRegion",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "73e43a1e-67c4-465a-9dd3-8f27d750a90a",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "a4b12d34-eb47-4deb-8cf3-4de4dd377264",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        2752
      ],
      "id": "8cb13f6b-ab56-496e-8cf6-f4b7608e98c3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1600,
        2752
      ],
      "id": "794522d3-fea0-40ff-8ed0-e03088413790",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1808,
        2752
      ],
      "id": "4b36a65c-1afb-48e9-8e07-8fe23af53f6e",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I created the spreadsheet {{ $binary.data.fileName }}. My ID: 3998e70dc5fd00cd54cbe90bc0448c60",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2080,
        2752
      ],
      "id": "b5a467cd-b643-45b8-9ba8-469d5edfaa1e",
      "name": "Discord1",
      "webhookId": "dff1355a-d4c2-4a32-99ff-6c6a3200e5c0",
      "credentials": {
        "discordWebhookApi": {
          "id": "jZk5gcvzPbzOmjGe",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Level 2 Main Workflow",
        "height": 912,
        "width": 2608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        2208
      ],
      "typeVersion": 1,
      "id": "8b32f46a-61a4-482d-a5a7-ebd1a0ae926c",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6574e267-f778-4ef9-98c5-9434f3daf8d3",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-26T10:31:49.145Z",
      "createdAt": "2025-11-26T10:31:49.145Z",
      "role": "workflow:owner",
      "workflowId": "HgbPOjNT2heLaTMk",
      "projectId": "DukkafP5uTjGrfTt"
    }
  ],
  "tags": []
}