n8n/n8n_Workflows_-_Github.json
{"updatedAt":"2025-11-16T14:47:49.000Z","createdAt":"2025-11-14T22:43:00.588Z","id":"nyxwnS6B3f0GS4sI","name":"n8n Workflows - Github","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,-48],"id":"c10ca563-f6a0-4500-9aff-18be112ca76d","name":"Schedule Trigger"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"content":"=#TASK\n\nI would like you to prepare a short commit message related the automation below. There is older version and an updated version of the automation. I would like you to identify the differences/updates made to the automation by comparing differences in the Old and Updated versions, then use that comparison to write the commit message to add the Updated Workflow into Github.\n\nWorkflow Name: {{ $('Filter').item.json.name }}\n\n## UPDATED WORKFLOW\n{{ $('Get many workflows').item.json.nodes.toJsonString() }}\n\n## OLD WORKFLOW\n{{ $json.data.nodes.toJsonString() }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"commit_message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"commit_message\"]\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-64,496],"id":"02ade0a0-d9ca-491e-b30b-2add89332c00","name":"Message a model","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"njogued","mode":"name"},"repository":{"__rl":true,"value":"automation","mode":"list","cachedResultName":"automation","cachedResultUrl":"https://github.com/njogued/automation"},"filePath":"={{ $('Edit Fields').item.json.file_name }}","fileContent":"={{ $('Get many workflows').item.json.toJsonString() }}","commitMessage":"={{ $json.output[0].content[0].text.commit_message }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[400,736],"id":"17d18f40-e25f-4a54-9071-b05c8d395728","name":"Create a file","webhookId":"af1a453b-db41-4a8f-baa9-95b28849c06e","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"22311fda-25e7-4585-b07e-e60e14a4b812","name":"file_name","value":"=n8n/{{ $json.name.replaceAll(' ','_') }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,240],"id":"5550d7ee-582b-43bf-9d25-aa17a2aab812","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"njogued","mode":"list","cachedResultName":"njogued","cachedResultUrl":"https://github.com/njogued"},"repository":{"__rl":true,"value":"automation","mode":"list","cachedResultName":"automation","cachedResultUrl":"https://github.com/njogued/automation"},"filePath":"n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-32,-48],"id":"df781103-6adb-47d7-9d78-24a2b68233a7","name":"List files","webhookId":"1c17a39c-7667-4705-bf7c-a4dd7983f02e","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"path"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[288,-48],"id":"c7d8d610-3a8f-4b20-a7cd-dc032906062e","name":"Aggregate"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Aggregate').item.json.path }}","rightValue":"={{ $('Edit Fields').item.json.file_name }}","operator":{"type":"array","operation":"contains","rightType":"any"},"id":"2cf86146-b19c-4f32-8d46-d866fc11c320"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be043fd5-e728-471c-8a06-ed4fbd815035","leftValue":"={{ $('Aggregate').item.json.path }}","rightValue":"={{ $('Edit Fields').item.json.file_name }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[288,240],"id":"fe8020fa-cf60-4eaf-a553-23d3d7aa31e5","name":"Switch"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"njogued","mode":"list","cachedResultName":"njogued","cachedResultUrl":"https://github.com/njogued"},"repository":{"__rl":true,"value":"automation","mode":"list","cachedResultName":"automation","cachedResultUrl":"https://github.com/njogued/automation"},"filePath":"={{ $('Edit Fields').item.json.file_name }}","fileContent":"={{ $('Get many workflows').item.json.toJsonString() }}","commitMessage":"={{ $('Message a model').item.json.output[0].content[0].text.commit_message }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[400,496],"id":"25d9854e-f50d-4c39-a4d7-1f6972f72f45","name":"Edit a file","webhookId":"0c6f49d9-0eb4-4c45-a86c-e1d9bf203d38","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"njogued","mode":"list","cachedResultName":"njogued","cachedResultUrl":"https://github.com/njogued"},"repository":{"__rl":true,"value":"automation","mode":"list","cachedResultName":"automation","cachedResultUrl":"https://github.com/njogued/automation"},"filePath":"={{ $('Edit Fields').item.json.file_name }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,224],"id":"72dae206-845d-44de-ad13-77e5a5258c71","name":"Get a file","webhookId":"3040be33-3e0b-47d7-aabe-49814827f32c","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-368,496],"id":"81a55671-a35a-492b-abce-7b953c4c1924","name":"Extract from File"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"content":"=Extract this n8n workflow and prepare a short commit message related the automation.\n\nWorkflow Name: {{ $('Filter').item.json.name }}\n\nWorkflow: {{ $('Get many workflows').item.json.nodes.toJsonString() }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"commit_message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"commit_message\"]\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-368,736],"id":"e3244598-6cbd-4c37-b6f3-3b1290378545","name":"Message a model1","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[576,-48],"id":"510b3e21-13c8-4cca-91fe-bfb0ddd582b9","name":"Get many workflows","credentials":{"n8nApi":{"id":"1OxszQwe707RlHDg","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8eee2092-ffca-4bf5-afd5-f4574abe3bf5","leftValue":"={{ $('Aggregate').item.json.path }}","rightValue":"=n8n/{{ $json.name.replaceAll(' ','_') }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,240],"id":"0e1b487a-eabb-4f5a-9ca6-2c5d68419fc3","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4886fde7-a356-4b96-b508-1269f12d8902","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $('Schedule Trigger').item.json.timestamp.toDateTime().minus(24, 'hours') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,64],"id":"be35cfb4-b542-4ce0-8ef2-acf7cf8e678f","name":"Filter1","disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"List files","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Message a model1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b82676c5-899e-4436-a36d-e05fe1543ea1","triggerCount":0,"shared":[{"updatedAt":"2025-11-14T22:43:00.596Z","createdAt":"2025-11-14T22:43:00.596Z","role":"workflow:owner","workflowId":"nyxwnS6B3f0GS4sI","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}