n8n/Notion_Sub-Workflow.json
{
  "updatedAt": "2025-07-28T20:54:42.000Z",
  "createdAt": "2025-07-28T20:26:40.841Z",
  "id": "SFU8nXNB5pGBf4qh",
  "name": "Notion Sub-Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8fe70e18-1ea1-48bd-8d0d-bd5b73ee08f9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "13b8fccf-f321-8141-b2c6-c4fb178392b1",
          "mode": "list",
          "cachedResultName": "Main Playbooks Database",
          "cachedResultUrl": "https://www.notion.so/13b8fccff3218141b2c6c4fb178392b1"
        },
        "limit": 1,
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Last Updated|last_edited_time",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8b240036-5e83-48b3-9192-4b2cfae3004a",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "pIEpX9j9kjJdIrnp",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        496,
        0
      ],
      "id": "291dbddd-c468-4c1e-8da1-eb3708f5a8d4",
      "name": "Get many child blocks",
      "credentials": {
        "notionApi": {
          "id": "pIEpX9j9kjJdIrnp",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c630f10-cfd2-414b-904c-6e27088a9d08",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        64
      ],
      "id": "3d8464aa-28da-44d0-a6ef-1c2aa17b2987",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "95224b7d-f476-42ac-a78a-7e9ebc8e39b9",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Get many child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ab535344-d21a-45b5-bb99-8574d2efe6f3",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-28T20:26:40.847Z",
      "createdAt": "2025-07-28T20:26:40.847Z",
      "role": "workflow:owner",
      "workflowId": "SFU8nXNB5pGBf4qh",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}