n8n/One_Time_-_Testimonials_(Google_Sheet)_to_Slack.json
{
  "updatedAt": "2025-10-23T22:13:10.000Z",
  "createdAt": "2025-10-16T21:58:24.606Z",
  "id": "hUgNFNgD3i2AN0VO",
  "name": "One Time - Testimonials (Google Sheet) to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K1iYDlzMXcccmRCrXwtReQRg7KlxpuG1wZGdb6JrXSI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1940912016,
          "mode": "list",
          "cachedResultName": "Testimonials",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K1iYDlzMXcccmRCrXwtReQRg7KlxpuG1wZGdb6JrXSI/edit#gid=1940912016"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "On Slack",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        -192
      ],
      "id": "749cfbfd-49ee-446d-a4c3-6a78f6a6bdf4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a2GvYolbVNMGjx2A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C01SHFDBL2Y",
          "mode": "list",
          "cachedResultName": "marketing-testimonials"
        },
        "text": "=Call:  {{ $json['Meeting Title'] }}\n\nDate: {{ $json['Date & Time'].split(\" \")[0] }}\n\nLink to Highlight: {{ $json['Highlight Share Url'] }}\n\n{{ $json['Highlight Summary'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "unfurl_links": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        784,
        -176
      ],
      "id": "5d66c49b-1aa2-4d86-9d06-693d49e6b0b3",
      "name": "Send a message",
      "webhookId": "2edcb251-6733-4206-a45f-123e6780f4c1",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        -176
      ],
      "id": "d51f38a8-88ff-4c10-8d1f-4aa1549b7dc9",
      "name": "Wait",
      "webhookId": "03aa70ad-55e0-4c04-abb5-3e67ef2de0ea"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        -192
      ],
      "id": "9cd058b4-62a3-4cdf-9976-41fef4922179",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -192
      ],
      "id": "ef75989d-71fd-46cf-af65-3ec52cae458f",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "66d8e241-9e71-451a-be90-24d7f0e0d0fa",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-16T21:58:24.682Z",
      "createdAt": "2025-10-16T21:58:24.682Z",
      "role": "workflow:owner",
      "workflowId": "hUgNFNgD3i2AN0VO",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}