n8n/Order_Tracking_-_Vals_(LL).json
{
  "updatedAt": "2025-11-28T13:14:28.000Z",
  "createdAt": "2025-11-28T12:07:56.369Z",
  "id": "RATXpS33g4grhRhm",
  "name": "Order Tracking - Vals (LL)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        0
      ],
      "id": "f2fcee02-cdb9-437d-9aa6-005934b1b724",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "after": "={{ $now.minus(7, 'days') }}"
        }
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "3bf17e40-4a7e-473b-a7be-d49880ab53d9",
      "name": "Get many orders",
      "credentials": {
        "wooCommerceApi": {
          "id": "Z3GlvWiUIpM5bOIO",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43334a68-0c02-4e36-9df8-73ebe13962d6",
              "name": "name",
              "value": "={{ $json.billing.first_name }} {{ $json.billing.last_name }}",
              "type": "string"
            },
            {
              "id": "f3488715-6a68-4de2-88bc-d8bf15d8bb6f",
              "name": "company",
              "value": "={{ $json.billing.company }}",
              "type": "string"
            },
            {
              "id": "509560b4-1593-451f-8ed7-9ae8eccecee5",
              "name": "items",
              "value": "={{ $json.line_items.map(item => item.name) }}",
              "type": "string"
            },
            {
              "id": "7c0896f3-ad94-4291-b6d9-602c5935e0d6",
              "name": "shipping",
              "value": "={{\n$json.shipping && $json.shipping.address_1\n  ? $json.shipping.address_1 + \", \" +\n    $json.shipping.city + \"  \" +\n    $json.shipping.state + \", \" +\n    $json.shipping.country + \" \" +\n    $json.shipping.postcode\n  : \"No shipping address provided.\"\n}}\n",
              "type": "string"
            },
            {
              "id": "f47cec2e-2b5c-44ad-a827-81810e2f28a2",
              "name": "date",
              "value": "={{ $json.date_created.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "1ce58aac-a0a8-47ad-ba64-96834a36e71e",
              "name": "amount",
              "value": "={{ $json.total }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "5008a3e1-3e5b-4494-be3b-579d234a32f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "cscott@cynthiascott.net,njogued@gmail.com",
        "subject": "Orders This Week",
        "emailType": "text",
        "message": "=Hi Cynthia - \n\nYou have {{ $('Aggregate').item.json.data.length }} orders from the past 7 days:\n\n{{\n$('Aggregate').item.json.data.map((order, index) => {\n  let items;\n  try {\n    items = JSON.parse(order.items);\n  } catch (e) {\n    items = [order.items];\n  }\n\n  const itemLines = items.map(i => `  - ${i}`).join('\\n');\n\n  return [\n    `Order ${index + 1}:`,\n    `Name: ${order.name}`,\n    `Company: ${order.company}`,\n    `Date: ${order.date}`,\n    'Items:',\n    itemLines,\n    'Shipping:',\n    `  ${order.shipping}`\n  ].join('\\n');\n}).join('\\n\\n')\n}}\n\nTotal Amount Paid: ${{\n$('Aggregate').item.json.data\n  .map(order => Number(order.amount) || 0)\n  .reduce((sum, value) => sum + value, 0)\n}}\n\nThank you,\nEdward\n\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "Edward Njogu"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        256
      ],
      "id": "1ead5c4b-5f2f-40fb-b1cd-1650968fc5d0",
      "name": "Send a message",
      "webhookId": "3c180822-8ccc-4d21-86a3-a8d65d1fb07b",
      "credentials": {
        "gmailOAuth2": {
          "id": "c3iKg7fkmFbTwlnB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "cd3200cc-8edb-4461-a773-4a74f690792f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "folderId": "=14UrpUiA99ZHG1IsGKpXUfTmlo5O1BYzA",
        "title": "=Orders Report - {{ $now.format('yyyy/MM/dd') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -48,
        256
      ],
      "id": "30f03881-1c18-4f87-a552-e441164cb901",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "a0JiMS8xcmx4P6st",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=You have {{ $('Aggregate').item.json.data.length }} orders from the past 7 days:\n\n{{\n$('Aggregate').item.json.data.map((order, index) => {\n  let items;\n  try {\n    items = JSON.parse(order.items);\n  } catch (e) {\n    items = [order.items];\n  }\n\n  const itemLines = items.map(i => `  - ${i}`).join('\\n');\n\n  return [\n    `Order ${index + 1}:`,\n    `Name: ${order.name}`,\n    `Company: ${order.company}`,\n    `Date: ${order.date}`,\n    'Items:',\n    itemLines,\n    'Shipping:',\n    `  ${order.shipping}`\n  ].join('\\n');\n}).join('\\n\\n')\n}}\n\nTotal Amount Paid: ${{\n$('Aggregate').item.json.data\n  .map(order => Number(order.amount) || 0)\n  .reduce((sum, value) => sum + value, 0)\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        256
      ],
      "id": "2ef0f824-7d29-4825-b332-28fa41add7be",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "a0JiMS8xcmx4P6st",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          },
          "fileName": "=Orders Report - {{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        256
      ],
      "id": "0cb65850-5f18-42d6-a2ef-7e771a749f21",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0wiQ3avym1XshEaG",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many orders": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eda9efff-f9ef-4774-a655-77bc26416b38",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-28T12:07:56.413Z",
      "createdAt": "2025-11-28T12:07:56.413Z",
      "role": "workflow:owner",
      "workflowId": "RATXpS33g4grhRhm",
      "projectId": "DukkafP5uTjGrfTt"
    }
  ],
  "tags": []
}