n8n/Pinecone_POST.json
{"updatedAt":"2025-10-30T19:54:40.000Z","createdAt":"2025-06-01T23:37:04.846Z","id":"J2MQ18NtWXrUXCfw","name":"Pinecone POST","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-knowledge","mode":"list","cachedResultName":"company-knowledge"},"options":{"pineconeNamespace":"frameworks"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[640,-96],"id":"8059ed2e-7302-4044-a641-ce06bbe0c7bd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"SbsCu4pO0DflDyh5","name":"PineconeApi account"}}},{"parameters":{"options":{"stripNewLines":true}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[560,144],"id":"dc224624-22e0-480b-a1b2-349581a85301","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1776,-96],"id":"c209e6a0-2e29-45a9-81c6-a43c5d24c0cb","name":"When chat message received","webhookId":"79955dc5-9c44-4006-a494-19f234850475"},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"driveFileId","value":"={{ $json.id }}"},{"name":"driveFileName","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[768,96],"id":"27056a03-bd6e-448a-879a-440a60232c20","name":"Data Loader (Binary)"},{"parameters":{"chunkOverlap":100,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[864,320],"id":"e1e74b4d-dd45-4ef4-9b77-c276a900aae4","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,-96],"id":"89baa13c-f9ce-4b63-9f65-b32223ee2357","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"kWDd86dODoZQPcVX","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-192,-96],"id":"f3f78c8d-8d84-4d74-9706-37c85c1eeb5b","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2032,928],"id":"1fa8a685-1e7f-41b8-b170-83861170adc6","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"topK":10},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1472,736],"id":"effcbb57-0b07-41f3-aa46-04488f22a9b0","name":"Vector Store Retriever"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.6,"position":[1248,624],"id":"7a01efa0-7059-433a-8c58-d2eade4294d4","name":"Question and Answer Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1888,176],"id":"72c732fb-9095-4577-af55-83de1a2534a5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-knowledge","mode":"list","cachedResultName":"company-knowledge"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[1712,832],"id":"4d72b1ef-c4c3-4595-8d06-b8b419b2dccc","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"SbsCu4pO0DflDyh5","name":"PineconeApi account"}}},{"parameters":{"promptType":"define","text":"=USE THE VECTOR DATABASE TO FETCH MORE CONTEXTUAL INFORMATION BEFORE RESPONDING TO THE USER.\n\nUSER QUESTION:\n{{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2096,-96],"id":"ab0665d4-cdbd-41f8-b185-d795a5c8836f","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2096,176],"id":"d197824b-02eb-4c60-a483-8eedd80156f9","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Extract relevant company information and use this in your response. ","pineconeIndex":{"__rl":true,"value":"company-knowledge","mode":"list","cachedResultName":"company-knowledge"},"options":{"pineconeNamespace":"frameworks"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2320,240],"id":"d3d34829-26d7-40ea-822b-3b6e15da6f48","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"SbsCu4pO0DflDyh5","name":"PineconeApi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1248,848],"id":"ae815216-4585-46b6-87c1-208aa25ff27c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2320,480],"id":"c6cebe5e-a4d5-46fd-843e-050bbecf2dc4","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"0ALogAzrZWddgUk9PVA","mode":"list","cachedResultName":"2 AREA","cachedResultUrl":"https://drive.google.com/drive/folders/0ALogAzrZWddgUk9PVA"},"folderId":{"__rl":true,"value":"1Cs8ysjNlrIYeCx7AbhMCi8YFifrmCsg3","mode":"id"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[64,-96],"id":"b49e95ac-0f29-42ae-bc43-035df46723f1","name":"Get Files in Folder1","credentials":{"googleDriveOAuth2Api":{"id":"kWDd86dODoZQPcVX","name":"Google Drive account"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Data Loader (Binary)":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Data Loader (Binary)","type":"ai_textSplitter","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Files in Folder1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Get Files in Folder1":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9e7c08a-a685-4db4-8203-31d82b1b40e2","triggerCount":0,"shared":[{"updatedAt":"2025-06-01T23:37:04.853Z","createdAt":"2025-06-01T23:37:04.853Z","role":"workflow:owner","workflowId":"J2MQ18NtWXrUXCfw","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}