n8n/Quarterly:_Slack_to_Docs.json
{"updatedAt":"2025-10-07T02:20:20.000Z","createdAt":"2025-10-07T01:17:46.359Z","id":"SjfA8csmYUwaabuw","name":"Quarterly: Slack to Docs","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,-128],"id":"cf56a04e-7d29-4eec-8e42-0aec08360b2e","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"oAuth2","resource":"channel","operation":"history","channelId":{"__rl":true,"value":"C07L55RT962","mode":"list","cachedResultName":"core-team"},"returnAll":true,"filters":{"oldest":"2025-06-30T04:39:18"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-176,-128],"id":"80a9399c-1784-4ea5-ab58-348d5ec0f356","name":"Get the history of a channel","webhookId":"fbc5da02-7d59-4b79-afb8-605eb2f482fa","credentials":{"slackOAuth2Api":{"id":"b7AD0O5yoSxk07d8","name":"SLACK ACCOUNT - USER"}}},{"parameters":{"assignments":{"assignments":[{"id":"13e02cc0-b89d-4fa7-a367-e9cd1b0dd919","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"28aa29e6-0427-40ce-b1d6-bb57c706b42f","name":"user","value":"={{ $json.user }}","type":"string"},{"id":"b8fdc5d5-3978-473f-ad5e-654cf079ac9f","name":"ts","value":"={{ $json.ts }}","type":"string"},{"id":"afa02741-7632-485f-9612-f2eb3cfa82fb","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-128],"id":"59aff3a3-47bf-4dca-a8b4-1ff510f1e3ec","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4067a016-df3e-459c-a215-a3f93f029887","leftValue":"={{ $json.text.toLowerCase().includes(\"big rocks\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"49828b56-7ef3-45b9-be94-636982edd510","leftValue":"={{ $json.text.toLowerCase().includes(\"priorities\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"bc1cb3b6-fab0-48a7-90b6-3595e06210ad","leftValue":"={{ $json.text.toLowerCase().includes(\"recap\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"da73ba87-8647-454b-81ea-a0a076c15f1a","leftValue":"={{ $json.text.toLowerCase().includes(\"weekly report\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[48,-128],"id":"bca485a0-23b1-4cc0-a9ef-359d6353ea49","name":"Filter"},{"parameters":{"language":"python","pythonCode":"from time import gmtime, strftime\nresult = []\n\nfor item in _input.all():\n  new_item = {}\n  new_item[\"user\"] = item.json.user\n  new_item[\"text\"] = item.json.text\n  item[\"jts\"] = item.json.ts\n  gm_time_now = strftime(\"%Y-%m-%d %H:%M\", gmtime(float(item.json.ts)))\n  new_item[\"time\"] = gm_time_now\n  result.append(new_item)\nreturn result\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-128],"id":"fc7fd926-c04f-4dc6-b776-2a7dfa863df6","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1093f273-90be-4d37-a43e-41209a8a896a","leftValue":"={{ $json.user }}","rightValue":"U06HYNGR0HL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[288,-128],"id":"224db16c-46b5-49ad-a4a4-adb870118c55","name":"Filter1"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1o9A_pRNQpjF7CojvEftu1Sr0tTbf4tl7g8geU0dEPy0/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"=Date: {{ $json.time }}\nMessage: {{ $json.text }}\n\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1664,-128],"id":"135aa146-17b1-41a0-be9b-540cd0338d2c","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"lnEvgDRdFO2hGoVv","name":"Google Docs account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1jYIyIC4Qk9mzuTNSsL9ivnXOV_Bq0MWzELKutKMUvWo","mode":"list","cachedResultName":"PAST SLACK MESSAGES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jYIyIC4Qk9mzuTNSsL9ivnXOV_Bq0MWzELKutKMUvWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jYIyIC4Qk9mzuTNSsL9ivnXOV_Bq0MWzELKutKMUvWo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DAY":"={{ $('Code in Python (Beta)').item.json.time }}","MESSAGE":"={{ $('Code in Python (Beta)').item.json.text }}","TYPE":"={{\n  $('Code in Python (Beta)').item.json.text.toLowerCase().includes(\"daily priorities\") ? \"Daily Priorities\" :\n $('Code in Python (Beta)').item.json.text.toLowerCase().includes(\"big rocks\") ? \"Daily Priorities\" :\n  $('Code in Python (Beta)').item.json.text.toLowerCase().includes(\"daily recap\") ? \"Daily Recap\" :\n  $('Code in Python (Beta)').item.json.text.toLowerCase().includes(\"weekly report\") ? \"Weekly Report\" :\n  \"Uncategorized\"\n}}"},"matchingColumns":[],"schema":[{"id":"DAY","displayName":"DAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MESSAGE","displayName":"MESSAGE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TYPE","displayName":"TYPE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,-128],"id":"793485eb-9a31-4493-b68c-860eb638d666","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,-128],"id":"38a59230-01f3-40a9-b5b7-4a70e66e05c1","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,-128],"id":"01378b63-e039-4e94-86c7-ae4c237f34b9","name":"Wait","webhookId":"018890b1-444c-4b1a-84f3-22b4760fc85d"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get the history of a channel","type":"main","index":0}]]},"Get the history of a channel":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Update a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7f161c2-665c-4fec-bf41-e066d523fb44","triggerCount":0,"shared":[{"updatedAt":"2025-10-07T01:17:46.391Z","createdAt":"2025-10-07T01:17:46.391Z","role":"workflow:owner","workflowId":"SjfA8csmYUwaabuw","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}