n8n/Save_your_workflows_into_a_GitHub_repository.json
{"updatedAt":"2025-11-16T13:11:20.000Z","createdAt":"2025-11-16T13:03:43.379Z","id":"BvHTwy4Ue5TAPBBO","name":"Save your workflows into a GitHub repository","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1,"id":"1e84b613-c43a-4dbe-a58b-4eb449a943b7"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[832,400],"typeVersion":1,"id":"1e10603c-dd33-4434-899e-8a2277fb2d84"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":"name"},"repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[1168,224],"typeVersion":1,"alwaysOutputData":true,"id":"dd7fafc7-1853-454b-8cf1-505208894bca","webhookId":"d3447372-51e8-4262-94a1-1b999fab2a72","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[1376,400],"typeVersion":1,"id":"5288b70d-bdfb-4af7-9173-4e4f98ba5bf7"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[1168,560],"typeVersion":1,"id":"811a05c1-1856-4308-adc9-33bb537700cf"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[1680,400],"typeVersion":1,"id":"a13315d6-72e0-45e3-9cdb-2105b8b84872"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[1872,224],"typeVersion":1,"id":"fecbcaba-ac31-42c7-bdce-ce320c5e2623"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[1872,400],"typeVersion":1,"id":"0f46de32-69ba-475d-9cd4-a9f37c4d5307"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[1872,560],"typeVersion":1,"id":"ab114a69-c614-4d99-be24-1f299dbfdde9"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2080,272],"typeVersion":1,"id":"33d5a32a-f36b-4171-aeb6-6b953a3835a3","webhookId":"ef1cde50-26d6-4373-8c13-308af81c3ed5","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[2080,560],"typeVersion":1,"id":"a35fa996-69cc-4347-bcf2-4b3f31bb2be1","webhookId":"eff0a471-d751-46e7-81e5-a29270a14444","credentials":{"githubApi":{"id":"gXXV3FNOXoKqeD9d","name":"GitHub account"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[1520,400],"typeVersion":1,"id":"49092bae-c2e1-4e39-8641-25fa3c007dd4"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[368,544],"typeVersion":1,"id":"7b9a8444-4c14-4bfa-a3ce-415d9e1d6e10"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[976,400],"typeVersion":1,"id":"670f1faf-77ac-416a-a2fe-3dbc7fbe5678"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"octocat"},{"name":"repo.name","value":"Hello-World"},{"name":"repo.path","value":"my-team/n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[528,400],"typeVersion":1,"id":"65b1cb88-1ca6-4fb8-91a4-6bd8b36f160c","disabled":true}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"817","templateCredsSetupCompleted":true},"pinData":{},"versionId":"d50fbd5e-849a-4db0-981c-ecd45edc346e","versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-11-16T13:03:43.396Z","createdAt":"2025-11-16T13:03:43.396Z","role":"workflow:owner","workflowId":"BvHTwy4Ue5TAPBBO","projectId":"VAJTVGe0TjfANDAE","project":{"updatedAt":"2025-10-29T21:11:47.860Z","createdAt":"2025-05-28T14:27:06.593Z","id":"VAJTVGe0TjfANDAE","name":"Storied Admin <admin@storiedinc.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-05-28T14:27:06.593Z","createdAt":"2025-05-28T14:27:06.593Z","userId":"8ba19df3-653a-4e2a-9ecf-3a6099869f23","projectId":"VAJTVGe0TjfANDAE","user":{"updatedAt":"2025-11-16T12:50:34.000Z","createdAt":"2025-05-28T14:27:01.871Z","id":"8ba19df3-653a-4e2a-9ecf-3a6099869f23","email":"admin@storiedinc.com","firstName":"Storied","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T14:49:27.556Z","personalization_survey_n8n_version":"1.94.1","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qFqki59yEWzG70uy","userActivatedAt":1752198471173,"npsSurvey":{"responded":true,"lastShownAt":1752633358560}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-16","isPending":false}}]}}],"tags":[]}