n8n/Send_Prios_to_Slack.json
{"updatedAt":"2025-11-11T16:27:43.000Z","createdAt":"2025-10-09T20:19:31.046Z","id":"uXo3lDJNSfKjl50V","name":"Send Prios to Slack","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[992,-448],"id":"05ccb4c6-4c76-4dc0-ae08-e43c2c4caab6","name":"Schedule Trigger"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1840,-448],"id":"ae44a049-b10b-41d2-89b8-fdcd65c72a33","name":"Aggregate","alwaysOutputData":true},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06HYNGR0HL","mode":"list","cachedResultName":"edward"},"text":"=The following are due today:\n\n*FROM CALENDAR:*\n{{ $json.calEvents.map(item => `\\u2022 ${item}`).join(\"\\n\") }}\n\n*FROM MY BOARD*\n{{ $json.edBoardItems.map(item => `• ${item}`).join(\"\\n\") }}\n\n*FROM TEAM BOARD*\n{{ $json.twpItems.map(item => `• ${item}`).join(\"\\n\") }}\n\n","otherOptions":{"includeLinkToWorkflow":false,"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2128,-176],"id":"8f9e82d5-647a-4ae2-9f1a-be85d5869a00","name":"Send a message","webhookId":"cc2a780c-a67d-411e-86ca-e4a9a4fb32d0","credentials":{"slackApi":{"id":"TCCNsFSy1xU8ud22","name":"SLACK API - BOT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3c7913d-3804-473a-a2f3-025a52d6ffc5","leftValue":"={{ $json.summary }}","rightValue":"Home","operator":{"type":"string","operation":"notEquals"}},{"id":"f35772f3-b0f6-4676-b60c-8598b88eeb37","leftValue":"={{ $json.summary }}","rightValue":"SOD Routines","operator":{"type":"string","operation":"notContains"}},{"id":"3c0798bc-a74c-423c-9ad2-f9ef612fb2a2","leftValue":"={{ $json.summary }}","rightValue":"5-10 min Admin Tasks","operator":{"type":"string","operation":"notEquals"}},{"id":"e31693bd-e02f-482c-abf0-bfc4f53a56cc","leftValue":"={{ $json.summary }}","rightValue":"Maker Time","operator":{"type":"string","operation":"notEquals"}},{"id":"8c013829-5c9c-403f-a195-d24e839aa42c","leftValue":"={{ $json.summary }}","rightValue":"Sync","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1536,-448],"id":"7886e256-2947-45b2-82bc-4e61a4745b57","name":"Filter","alwaysOutputData":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst calEvents = [];\nconst edBoardItems = [];\nconst twpBoardItems = []\n\n\nfor (const mainItem of $('Edward\\'s Main Board Due').first().json.data.boards[0].items_page.items) {\n  // Find the column with id \"date\"\n  const dateColumn = mainItem.column_values.find(col => col.id === \"date\");\n  // Parse the JSON string in \"value\"\n  const dateValue = dateColumn ? JSON.parse(dateColumn.value).date : null;\n  edBoardItems.push(mainItem.name+ \" - \" +dateValue)\n}\n\nfor (const subItem of $input.first().json.data.boards[0].items_page.items) {\n  // Find the column with id \"date0\"\n  const subDateColumn = subItem.column_values.find(col => col.id === \"date0\");\n  // Parse the JSON string in \"value\"\n  const subDateValue = subDateColumn ? JSON.parse(subDateColumn.value).date : null;\n  edBoardItems.push(subItem.name+ \" - \" + subDateValue + \" (S)\")\n}\n\nfor (const twpItem of $('Weekly Board Due').first().json.data.boards[0].items_page.items) {\n  // Find the column with id \"date0\"\n  const twpItemDateColumn = twpItem.column_values.find(col => col.id === \"date\");\n  // Parse the JSON string in \"value\"\n  const twpItemDateValue = twpItemDateColumn ? JSON.parse(twpItemDateColumn.value).date : null;\n  twpBoardItems.push(twpItem.name+ \" - \" + twpItemDateValue)\n}\n\nfor (const twpSubItem of $input.first().json.data.boards[0].items_page.items) {\n  // Find the column with id \"date0\"\n  const twpSubDateColumn = twpSubItem.column_values.find(col => col.id === \"date_mkrc2gmx\");\n  // Parse the JSON string in \"value\"\n  const twpSubDateValue = twpSubDateColumn ? JSON.parse(subDateColumn.value).date : null;\n  twpBoardItems.push(twpSubItem.name+ \" - \" + twpSubDateValue + \" (SUB)\")\n}\n\n\nfor (const calEvent of $('Aggregate').first().json.data) {\n  calEvents.push(calEvent[\"summary\"])\n}\n\nreturn {\"calEvents\": calEvents, \"edBoardItems\": edBoardItems, \"twpItems\": twpBoardItems};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,-176],"id":"d557b05d-4057-4302-9935-4e567150338f","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \"query\": \"query { boards(ids: [6038686507]) { items_page(limit: 500, query_params: { order_by: [{ column_id: \\\"date\\\" }], rules: [{ column_id: \\\"date\\\", compare_value: [\\\"TODAY\\\", \\\"YESTERDAY\\\", \\\"TOMORROW\\\"], operator: any_of }, { column_id: \\\"status\\\", compare_value: [1], operator: not_any_of }], operator: and }) { cursor items { id name column_values { id value text } } } } }\" }\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,-448],"id":"65bcab87-28e3-4943-82b1-385137750f5b","name":"Edward's Main Board Due","executeOnce":true,"alwaysOutputData":true,"credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \"query\": \"query { boards(ids: [6038686598]) { items_page(limit: 500, query_params: { order_by: [{ column_id: \\\"date0\\\" }], rules: [{ column_id: \\\"date0\\\", compare_value: [\\\"TODAY\\\", \\\"YESTERDAY\\\", \\\"TOMORROW\\\"], operator: any_of }, { column_id: \\\"status\\\", compare_value: [1], operator: not_any_of }], operator: and }) { cursor items { id name column_values { id value text } } } } }\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,-176],"id":"01b7e18f-6bb4-444e-8602-8bc66f3f40aa","name":"Edward's Subitems Board Due","executeOnce":false,"alwaysOutputData":true,"credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"edward@storiedinc.com","mode":"list","cachedResultName":"edward@storiedinc.com"},"timeMin":"={{ $json.timestamp }}","timeMax":"={{ $json.timestamp.toDateTime().plus(1, 'days') }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1280,-448],"id":"3d6616c9-8156-42e5-ba3e-06720235773e","name":"Edward's Calendar Due","credentials":{"googleCalendarOAuth2Api":{"id":"YCMouffWYvraUYHz","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { boards(ids: [8080609962]) { items_page(limit: 500, query_params: { order_by: [{ column_id: \\\"date\\\" }], rules: [ { column_id: \\\"date\\\", compare_value: [\\\"TODAY\\\", \\\"YESTERDAY\\\", \\\"TOMORROW\\\"], operator: any_of }, { column_id: \\\"status\\\", compare_value: [1], operator: not_any_of }, { column_id: \\\"people\\\", compare_value: [\\\"assigned_to_me\\\"], operator: any_of } ], operator: and }) { cursor items { id name column_values { id value text } } } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,-176],"id":"b39bcd33-08e5-47e8-b745-04672a5a0193","name":"Weekly Board Due","executeOnce":false,"alwaysOutputData":true,"credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { boards(ids: [8080610404]) { items_page(limit: 500, query_params: { order_by: [{ column_id: \\\"date_mkrc2gmx\\\" }], rules: [ { column_id: \\\"date_mkrc2gmx\\\", compare_value: [\\\"TODAY\\\", \\\"YESTERDAY\\\", \\\"TOMORROW\\\"], operator: any_of }, { column_id: \\\"status\\\", compare_value: [1], operator: not_any_of }, { column_id: \\\"person\\\", compare_value: [\\\"assigned_to_me\\\"], operator: any_of } ], operator: and }) { cursor items { id name column_values { id value text } } } } }\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,-176],"id":"b63960e1-b16b-4c5f-b578-71891be23b8c","name":"Weekly Board Subitems Due","executeOnce":false,"alwaysOutputData":true,"credentials":{"mondayComApi":{"id":"gUBGUEmQCAL7pJ0X","name":"Monday.com account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edward's Calendar Due","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edward's Main Board Due","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Edward's Main Board Due":{"main":[[{"node":"Weekly Board Due","type":"main","index":0}]]},"Edward's Subitems Board Due":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edward's Calendar Due":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Weekly Board Due":{"main":[[{"node":"Weekly Board Subitems Due","type":"main","index":0}]]},"Weekly Board Subitems Due":{"main":[[{"node":"Edward's Subitems Board Due","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-11-11T08:00:26.792-08:00","Readable date":"November 11th 2025, 8:00:26 am","Readable time":"8:00:26 am","Day of week":"Tuesday","Year":"2025","Month":"November","Day of month":"11","Hour":"08","Minute":"00","Second":"26","Timezone":"America/Los_Angeles (UTC-08:00)"}}]},"versionId":"453de09e-7195-45a3-aceb-d5dfdaf41814","triggerCount":1,"shared":[{"updatedAt":"2025-10-09T20:19:31.074Z","createdAt":"2025-10-09T20:19:31.074Z","role":"workflow:owner","workflowId":"uXo3lDJNSfKjl50V","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}