n8n/Storied_GPT_Output_to_Google_Docs.json
{
  "updatedAt": "2025-10-23T18:42:19.000Z",
  "createdAt": "2025-10-23T17:55:17.882Z",
  "id": "8u8RTVnqFpQFY14G",
  "name": "Storied GPT Output to Google Docs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Storied GPT Output",
        "formDescription": "Add in the raw markdown from Storied GPT output",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Title",
              "placeholder": "Enter File Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Body",
              "fieldType": "textarea",
              "placeholder": "Enter Body Copy",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -272,
        -112
      ],
      "id": "134cc1c3-cc30-4463-be8f-b6a08c2dd116",
      "name": "On form submission",
      "webhookId": "99e7ce64-162b-4971-8018-a70dc71e3367"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbx5daEj6eFWGKMMEu7DhTzz5RoUNt9d1yXFb-OR4j4Yslr1G36deFKFX8KdNOtFJVdw/exec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "actionType",
              "value": "Create"
            },
            {
              "name": "title",
              "value": "={{ $json.Title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.Body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -112
      ],
      "id": "beabd969-fd9c-4b0a-a81f-b31f65e611a1",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06HYNGR0HL",
          "mode": "list",
          "cachedResultName": "edward"
        },
        "text": "=Document created:  {{ $('On form submission').item.json.Title }}\n\nLink: {{ $json.docUrl }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        656,
        -112
      ],
      "id": "df0269be-1b04-4ae5-be23-c4b66cbf66a4",
      "name": "Send a message",
      "webhookId": "02d9544d-593c-4c72-ab7a-941f73ab1c18",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 30,
    "errorWorkflow": "geHpTM7jr9NoyZNi"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Title": "Strategic Sales Memo",
          "Body": "\r\n## Owning the Leverage Layers in the Future of Drone Defense\r\n\r\n**To:** Prime Contractor Executives, Innovation & BD Leads, Strategic Investment Committees  \r\n**From:** [Your Company / Initiative Name]  \r\n**Subject:** Layer 2 and 4 Solutions for the 7-Layer Drone Defense Stack: Scalable Asymmetric Advantage  \r\n\r\n---\r\n\r\n### Executive Overview\r\n\r\nThe battlefield has changed.  \r\nCheap, autonomous drones—deployed in swarms or one-way missions—now pose a strategic threat to critical infrastructure, urban centers, and forward operating bases. They are fast, networked, and saturating. The traditional tools of air defense—missiles, SAMs, kinetic guns—are increasingly unsustainable in this new cost-exchange reality.\r\n\r\n**The response is clear and emerging globally:**  \r\nA layered drone defense architecture, where each layer contributes a specific role—combining hard and soft kill, deception, and intelligent coordination.\r\n\r\nThis is not a theory. It is already doctrine in Ukraine, Israel, South Korea, the Baltics, and NATO-aligned defense frameworks.\r\n\r\n---\r\n\r\n### Our Strategic Positioning\r\n\r\nWe are not building all 7 layers.  \r\nWe are delivering **solutions for the two most cost-leverage and innovation-critical layers** in the stack:\r\n\r\n- **Layer 2: False Target Drones (Deception Layer)**  \r\n- **Layer 4: AI Interceptor Drones (Autonomous Kill Layer)**  \r\n\r\nThese are the most **asymmetrically powerful**, **economically scalable**, and **mission-critical layers** in the entire ecosystem.  \r\nFor prime contractors and dual-use investors, they represent the sweet spot between strategic relevance and commercial scalability.\r\n\r\n---\r\n\r\n### The 7-Layer Defense Stack (With Cost Model)\r\n\r\n| **Layer** | **Name** | **Function** | **Tools / Methods** | **Strategic Strength** | **Cost Tier** | **Est. Cost per Use** | **Narrative Cue** |\r\n|-----------|----------|--------------|----------------------|-------------------------|----------------|------------------------|-------------------|\r\n| **1** | **Disruption Layer** | Disable drone control/navigation via signal denial | RF jammers, GPS spoofers, cyber takeover | Instant, non-kinetic, scalable | `$` | \\$10–\\$200 | *“Blind the threat before it sees you”* |\r\n| **2** | **Deception Layer** | Mislead drones toward false targets | Signature-emitting drones, decoys, spoof signals | Preemptive threat dilution, misdirection | `$$` | \\$500–\\$5,000 | *“Make them aim at shadows”* |\r\n| **3** | **Saturation Layer** | Rapid close-range kinetic denial | Smart ammo, .50 cal, 30mm autocannons | High-volume, low-cost suppression | `$$` | \\$50–\\$1,000 | *“The last 500 meters of protection”* |\r\n| **4** | **Interceptor Layer** | AI-powered drone-on-drone pursuit & kill | Autonomous intercept drones, AI swarms | Smart, fast, reusable, urban-friendly | `$$$` | \\$1,000–\\$20,000 | *“Smart hunters in the sky”* |\r\n| **5** | **High-End Interceptor Layer** | Destroy large/high-value threats at range | Patriot, NASAMS, Iron Dome, IRIS-T | Strategic strike, low tolerance for error | `$$$$$` | \\$250K–\\$4M | *“The vault security, not your front door”* |\r\n| **6** | **Passive Resilience Layer** | Reduce post-impact consequences | Infrastructure hardening, redundancy, rapid repair | Minimizes disruption, protects insurability | `$$$` | \\$50K–\\$1M per site | *“Not just defense—resilience”* |\r\n| **7** | **Coordination Layer** | AI-based orchestration across all layers | Battle management AI, C2 networks, sensor fusion | Enables layered sync, reduces waste | `$$$` | \\$50K–\\$500K per deployment | *“The brain behind the shield”* |\r\n\r\n---\r\n\r\n### Focus Area: Layer 4 – AI Interceptor Drones\r\n\r\n**Strategic Role:** Fast, autonomous kinetic defeat of hostile drones  \r\n\r\n**Functionality:**  \r\n- Autonomous or human-supervised drone-on-drone interception  \r\n- Onboard computer vision and targeting algorithms  \r\n- Networked swarm logic and multi-threat tracking  \r\n\r\n**Why It Matters:**  \r\n- Enables close-in kinetic defeat where jammers and SAMs fail  \r\n- Scalable protection for urban, mobile, and infrastructure environments  \r\n- Operates on a fraction of the cost of missile-based systems  \r\n- Easily redeployable and modular for multi-mission roles  \r\n\r\n**Estimated Cost per Intercept:** \\$1,000–\\$20,000  \r\n**Integration Potential:** Compatible with existing radars, EO/IR, and C2 systems  \r\n\r\n> **This is the Layer 4 unlock: Smart, fast, and software-defined aerial dominance—deployable at scale.**\r\n\r\n---\r\n\r\n### Focus Area: Layer 2 – False Target Drones\r\n\r\n**Strategic Role:** Confusion and pre-kill chain disruption  \r\n\r\n**Functionality:**  \r\n- Emit radar, RF, GPS, IR, and visual signatures to mimic real targets  \r\n- Trigger hostile drones or munitions to engage false positives  \r\n- Augments jamming and passive defenses  \r\n\r\n**Why It Matters:**  \r\n- Depletes enemy resources before engagement  \r\n- Misdirects autonomous and human-in-the-loop attackers  \r\n- Deployable across static and mobile environments  \r\n\r\n**Estimated Cost per Decoy Deployment:** \\$500–\\$5,000  \r\n**Deployment Methods:** Airborne, vehicle-mounted, or static ground systems  \r\n\r\n> **This is the Layer 2 unlock: Bend the attacker’s logic before they cross the perimeter.**\r\n\r\n---\r\n\r\n### Why This Matters for Prime Contractors\r\n\r\nYou're already engaged in several layers of the stack—Layer 5 (missiles), Layer 1 (EW), Layer 7 (C2).  \r\nBut Layers 2 and 4 offer you:\r\n\r\n- **New, modular capabilities** that integrate into your existing platforms  \r\n- **Contract differentiation** in RFPs focused on layered, scalable C-UAS architectures  \r\n- **Faster-to-deploy solutions** with dual-use commercial crossover  \r\n- **Strategic investment positions** in asymmetric defense technologies  \r\n\r\nThese layers don't compete with your core assets—they **amplify and extend** them.\r\n\r\n---\r\n\r\n### Why This Matters for Strategic Investors (Including You)\r\n\r\nWhether you're a prime with a ventures arm or a dual-use VC, Layers 2 and 4 represent:\r\n\r\n- **High-leverage cost disruption** in a trillion-dollar defense challenge  \r\n- **Low unit economics + high strategic value**  \r\n- **Alignment with DoD, NATO, and homeland security counter-drone funding mandates**  \r\n- **AI-first product architectures** that create defensible IP and data moats  \r\n- **Long-term commercial crossover** into power grid, port, oil/gas, and logistics defense  \r\n\r\n---\r\n\r\n### Conclusion & Invitation\r\n\r\nDrone warfare has changed the economics of national defense. The 7-layer model is the emerging blueprint.  \r\n**Layer 2 and Layer 4 are where leverage, innovation, and value converge.**\r\n\r\nWe are delivering scalable, AI-driven, and rapidly deployable solutions within those two layers.\r\n\r\nWe invite you to:\r\n- Explore co-development partnerships  \r\n- Integrate these capabilities into existing platforms and RFPs  \r\n- Join as a strategic investor in shaping the most future-ready layers of national defense  \r\n\r\nLet’s brief your innovation and integration leads.  \r\nLet’s walk you through field scenarios and systems alignment.  \r\nLet’s build what the next decade of airspace protection demands.\r\n",
          "submittedAt": "2025-10-23T11:10:58.191-07:00",
          "formMode": "production"
        }
      }
    ]
  },
  "versionId": "d52c3244-babf-4453-b3be-10a492ab71ad",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-23T17:55:17.888Z",
      "createdAt": "2025-10-23T17:55:17.888Z",
      "role": "workflow:owner",
      "workflowId": "8u8RTVnqFpQFY14G",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}