n8n/Storied_GPT_Output_to_Google_Docs.json
{
  "updatedAt": "2025-12-17T00:01:24.000Z",
  "createdAt": "2025-10-23T17:55:17.882Z",
  "id": "8u8RTVnqFpQFY14G",
  "name": "Storied GPT Output to Google Docs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Storied GPT Output",
        "formDescription": "Add in the raw markdown from Storied GPT output",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Title",
              "placeholder": "Enter File Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Body",
              "fieldType": "textarea",
              "placeholder": "Enter Body Copy",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -272,
        -112
      ],
      "id": "134cc1c3-cc30-4463-be8f-b6a08c2dd116",
      "name": "On form submission",
      "webhookId": "99e7ce64-162b-4971-8018-a70dc71e3367"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbx5daEj6eFWGKMMEu7DhTzz5RoUNt9d1yXFb-OR4j4Yslr1G36deFKFX8KdNOtFJVdw/exec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "actionType",
              "value": "Create"
            },
            {
              "name": "title",
              "value": "={{ $json.Title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.Body.replace(/^\\s*---\\s*\\r?\\n/gm, '').replace(/(^\\s*(?:[*+-]|\\d+[.)])\\s.*)\\r?\\n(?:[ \\t]*\\r?\\n)+(?=^\\s*(?:[*+-]|\\d+[.)])\\s)/gm, '$1\\n').replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!|>])/g, '$1').replace(/\\\\(?=\\s)/g, '');  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -112
      ],
      "id": "beabd969-fd9c-4b0a-a81f-b31f65e611a1",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06HYNGR0HL",
          "mode": "list",
          "cachedResultName": "edward"
        },
        "text": "=Document created:  {{ $('On form submission').item.json.Title }}\n\nLink: {{ $json.docUrl }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        656,
        -112
      ],
      "id": "df0269be-1b04-4ae5-be23-c4b66cbf66a4",
      "name": "Send a message",
      "webhookId": "02d9544d-593c-4c72-ab7a-941f73ab1c18",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 30,
    "errorWorkflow": "geHpTM7jr9NoyZNi"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Title": "V / VC Brand Positioning",
          "Body": "## **1. Internal Meaning Doc. V / VC**\r\n\r\n**What V / VC Means**\r\n\r\nThe V / VC mark represents Veridical\"s point of view on venture. Venture precedes venture capital. Belief precedes allocation. Narrative precedes execution. The slash is intentional. It signals contrast, not category. We operate above the mechanics of capital and focus on the upstream conditions that make capital effective. V is worldview. VC is instrument. Our work lives in the tension between the two. We do not reject venture capital. We contextualize it. The mark stands for a belief that early-stage investing is fundamentally about shaping conviction, coherence, and shared belief systems long before metrics stabilize. Capital follows clarity. Returns follow narrative fidelity. The logo is a reminder. We are not allocating money into stories. We are allocating belief into futures.\r\n## **2. Veridical Ventures Positioning Strategy**\r\n\r\n**Working Doc for Fund Identity, Narrative, and GTM**\r\n\r\n### **Core Positioning**\r\n\r\nVeridical Ventures is not a traditional venture firm.  \r\n We treat narrative as infrastructure and belief as a first-order input to company formation, category definition, and long-term value creation.\r\n\r\n### **Category Stance**\r\n\r\n* Venture is a belief allocation business\r\n* Capital is downstream of conviction\r\n* Narrative is the operating system of early-stage companies\r\n* Language compounds earlier than metrics\r\n\r\n### **Why We Do Not Rename to \"Veridical VC\"**\r\n\r\n* VC names signal instrument-level identity\r\n* Ventures signals actor-level identity\r\n* High-status firms assume the category\r\n* Differentiation comes from POV, not labels\r\n* “VC” narrows narrative altitude\r\n\r\n### **Role of the V / VC Mark**\r\n\r\n* Symbolic contrast, not literal descriptor\r\n* Venture over venture capital\r\n* POV over mechanism\r\n* Belief over allocation\r\n* Worldview over vehicle\r\n\r\nThe mark is not explained publicly.  \r\n It is earned through repetition of thesis, language, and behavior.\r\n\r\n### **Our Contrarian Advantage**\r\n\r\nWe are not anti-VC.  \r\n We are post-mechanics VC.\r\n\r\nWe focus on:\r\n\r\n* Conviction formation before capital deployment\r\n* Narrative coherence before scale\r\n* Category definition before competition\r\n* Language ownership before product sprawl\r\n\r\nThis creates narrative alpha across:\r\n\r\n* Founders shaping belief early\r\n* Operators aligning execution\r\n* Investors improving odds, not certainty\r\n\r\n### **GTM Narrative Spine**\r\n\r\nThis is the story we socialize consistently.\r\n\r\n* Early-stage venture is misunderstood\r\n* Most failure is narrative failure, not technical failure\r\n* Belief systems determine speed, alignment, and resilience\r\n* Veridical invests where belief can be made durable\r\n* We operate at the moment belief is still malleable\r\n\r\n### **Audience-Specific Emphasis**\r\n\r\n**Founders**\r\n\r\n* We help you name the thing you are actually building\r\n* We help you align belief before scaling execution\r\n* We help you avoid narrative debt\r\n\r\n**Operators**\r\n\r\n* Narrative is a coordination system\r\n* Language reduces friction and decision drag\r\n* Coherence scales faster than control\r\n\r\n**LPs and Investors**\r\n\r\n* Narrative is a risk-reduction tool\r\n* Conviction improves capital efficiency\r\n* Belief quality predicts outcome ranges\r\n\r\n### **Language Guardrails**\r\n\r\n* Never shorthand the firm as “VC”\r\n* Always lead with Ventures in formal contexts\r\n* Use “venture” as worldview, not category\r\n* Treat narrative as infrastructure, not storytelling\r\n* Avoid over-explaining the mark\r\n\r\n### **Success Criteria**\r\n\r\nThis strategy is working if:\r\n\r\n* People quote the thesis back to us\r\n* Founders reference belief, not pitch decks\r\n* “Narrative” becomes associated with operating leverage\r\n* The logo becomes recognizable without explanation\r\n* Veridical is seen as a school of thought, not just a fund\r\nIf you want next, I can:\r\n\r\n* Turn this into a 2-page PDF for partner alignment\r\n* Create a one-slide fund positioning visual\r\n* Draft the verbal shorthand Greg can use in LP conversations\r\n* Map this directly to your Operating Partner Narrative role language\r\n\r\n=== Code Execution Successful ===",
          "submittedAt": "2025-12-16T10:51:41.110-08:00",
          "formMode": "production"
        }
      }
    ]
  },
  "versionId": "b4b538e2-d000-432a-95b9-1d0e1a2e8a41",
  "activeVersionId": "b4b538e2-d000-432a-95b9-1d0e1a2e8a41",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-23T17:55:17.888Z",
      "createdAt": "2025-10-23T17:55:17.888Z",
      "role": "workflow:owner",
      "workflowId": "8u8RTVnqFpQFY14G",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T00:01:24.388Z",
    "createdAt": "2025-12-17T00:01:24.388Z",
    "versionId": "b4b538e2-d000-432a-95b9-1d0e1a2e8a41",
    "workflowId": "8u8RTVnqFpQFY14G",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Storied GPT Output",
          "formDescription": "Add in the raw markdown from Storied GPT output",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Title",
                "placeholder": "Enter File Title",
                "requiredField": true
              },
              {
                "fieldLabel": "Body",
                "fieldType": "textarea",
                "placeholder": "Enter Body Copy",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -272,
          -112
        ],
        "id": "134cc1c3-cc30-4463-be8f-b6a08c2dd116",
        "name": "On form submission",
        "webhookId": "99e7ce64-162b-4971-8018-a70dc71e3367"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://script.google.com/macros/s/AKfycbx5daEj6eFWGKMMEu7DhTzz5RoUNt9d1yXFb-OR4j4Yslr1G36deFKFX8KdNOtFJVdw/exec",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "actionType",
                "value": "Create"
              },
              {
                "name": "title",
                "value": "={{ $json.Title }}"
              },
              {
                "name": "content",
                "value": "={{ $json.Body.replace(/^\\s*---\\s*\\r?\\n/gm, '').replace(/(^\\s*(?:[*+-]|\\d+[.)])\\s.*)\\r?\\n(?:[ \\t]*\\r?\\n)+(?=^\\s*(?:[*+-]|\\d+[.)])\\s)/gm, '$1\\n').replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!|>])/g, '$1').replace(/\\\\(?=\\s)/g, '');  }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          176,
          -112
        ],
        "id": "beabd969-fd9c-4b0a-a81f-b31f65e611a1",
        "name": "HTTP Request",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "select": "user",
          "user": {
            "__rl": true,
            "value": "U06HYNGR0HL",
            "mode": "list",
            "cachedResultName": "edward"
          },
          "text": "=Document created:  {{ $('On form submission').item.json.Title }}\n\nLink: {{ $json.docUrl }}",
          "otherOptions": {
            "includeLinkToWorkflow": false,
            "mrkdwn": true,
            "unfurl_links": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          656,
          -112
        ],
        "id": "df0269be-1b04-4ae5-be23-c4b66cbf66a4",
        "name": "Send a message",
        "webhookId": "02d9544d-593c-4c72-ab7a-941f73ab1c18",
        "credentials": {
          "slackApi": {
            "id": "TCCNsFSy1xU8ud22",
            "name": "SLACK API - BOT"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Storied Admin",
    "name": null,
    "description": null
  },
  "tags": []
}