n8n/Storied_GPT_Output_to_Google_Docs.json
{
  "updatedAt": "2025-12-17T17:23:32.000Z",
  "createdAt": "2025-10-23T17:55:17.882Z",
  "id": "8u8RTVnqFpQFY14G",
  "name": "Storied GPT Output to Google Docs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Storied GPT Output",
        "formDescription": "Add in the raw markdown from Storied GPT output",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Title",
              "placeholder": "Enter File Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Body",
              "fieldType": "textarea",
              "placeholder": "Enter Body Copy",
              "requiredField": true
            },
            {
              "fieldLabel": "Template",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Storied"
                  },
                  {
                    "option": "Veridical"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -272,
        -112
      ],
      "id": "134cc1c3-cc30-4463-be8f-b6a08c2dd116",
      "name": "On form submission",
      "webhookId": "99e7ce64-162b-4971-8018-a70dc71e3367"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbwtWdsCfcLTeihqOkqeddTYGt-ZrJ6AYyCjLV3Sw6jJycKXA7dakqQcAlUtMJMNAJ9r/exec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "actionType",
              "value": "Create"
            },
            {
              "name": "title",
              "value": "={{ $json.Title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.Body.replace(/^\\s*---\\s*\\r?\\n/gm, '').replace(/(^\\s*(?:[*+-]|\\d+[.)])\\s.*)\\r?\\n(?:[ \\t]*\\r?\\n)+(?=^\\s*(?:[*+-]|\\d+[.)])\\s)/gm, '$1\\n').replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!|>])/g, '$1').replace(/\\\\(?=\\s)/g, '');  }}"
            },
            {
              "name": "tempType",
              "value": "={{ $json.Template }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -112
      ],
      "id": "beabd969-fd9c-4b0a-a81f-b31f65e611a1",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06HYNGR0HL",
          "mode": "list",
          "cachedResultName": "edward"
        },
        "text": "=Document created:  {{ $('On form submission').item.json.Title }}\n\nLink: {{ $json.docUrl }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        656,
        -112
      ],
      "id": "df0269be-1b04-4ae5-be23-c4b66cbf66a4",
      "name": "Send a message",
      "webhookId": "02d9544d-593c-4c72-ab7a-941f73ab1c18",
      "credentials": {
        "slackApi": {
          "id": "TCCNsFSy1xU8ud22",
          "name": "SLACK API - BOT"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/FreeCash/comments/1pouc6x/comment/nui1wfw.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "accept-language",
              "value": "en-GB,en;q=0.9"
            },
            {
              "name": "cache-control",
              "value": "max-age=0"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "document"
            },
            {
              "name": "sec-fetch-mode",
              "value": "navigate"
            },
            {
              "name": "sec-fetch-site",
              "value": "none"
            },
            {
              "name": "sec-fetch-user",
              "value": "?1"
            },
            {
              "name": "sec-gpc",
              "value": "1"
            },
            {
              "name": "upgrade-insecure-requests",
              "value": "1"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
            },
            {
              "name": "Cookie",
              "value": "loid=000000002488nfavxq.2.1765987704198.Z0FBQUFBQnBRdFY0U0hhNjZYN045VHpaV1l3UDhLb0NvX1g4S29oOUwycjI3LUQxNDRIS09KWVJ3X0U2QWZNeERrTnMwTERzNUVXcFAxWnNLMjRiOWtvdFkzN0c2VUUwSzdnaDZWOV9uYXU3OGtuUGhhUkNSODliWjNfTHNrUk9IdHoyTlVmNnR3RHQ; session_tracker=chenhppilrkhcibran.0.1765987704222.Z0FBQUFBQnBRdFY0azhxdzNrQ2JmeGV2WV90Nzl4R2JoM3ZISXFfUWs2dFFDTGtYQ2ZRUG4ydEs0THItMXhRb1FRMW0yN1hpREpMaE1PVjJDLVYzMVp1YlJ3MTRNYW5yX0VqMjQ2S1ZNcVUwaEdlRVF1YVZPSzNNLVdGaGV0YW1kd1hGdWpMZ3pMMDE; csv=2; edgebucket=oouX8dwZagiCIvR8Kh"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0730992d-74d3-4e30-aae6-e3226a1d4368",
      "name": "Reddit Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        272
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "curl 'https://www.reddit.com/r/FreeCash/comments/1pouc6x/comment/nui1wfw.json' \\ -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8' \\ -H 'accept-language: en-GB,en;q=0.9' \\ -H 'cache-control: max-age=0' \\ -b 'loid=000000002488nfavxq.2.1765987704198.Z0FBQUFBQnBRdFY0U0hhNjZYN045VHpaV1l3UDhLb0NvX1g4S29oOUwycjI3LUQxNDRIS09KWVJ3X0U2QWZNeERrTnMwTERzNUVXcFAxWnNLMjRiOWtvdFkzN0c2VUUwSzdnaDZWOV9uYXU3OGtuUGhhUkNSODliWjNfTHNrUk9IdHoyTlVmNnR3RHQ; session_tracker=chenhppilrkhcibran.0.1765987704222.Z0FBQUFBQnBRdFY0azhxdzNrQ2JmeGV2WV90Nzl4R2JoM3ZISXFfUWs2dFFDTGtYQ2ZRUG4ydEs0THItMXhRb1FRMW0yN1hpREpMaE1PVjJDLVYzMVp1YlJ3MTRNYW5yX0VqMjQ2S1ZNcVUwaEdlRVF1YVZPSzNNLVdGaGV0YW1kd1hGdWpMZ3pMMDE; csv=2; edgebucket=oouX8dwZagiCIvR8Kh' \\ -H 'priority: u=0, i' \\ -H 'sec-ch-ua: \"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"' \\ -H 'sec-ch-ua-mobile: ?0' \\ -H 'sec-ch-ua-platform: \"macOS\"' \\ -H 'sec-fetch-dest: document' \\ -H 'sec-fetch-mode: navigate' \\ -H 'sec-fetch-site: none' \\ -H 'sec-fetch-user: ?1' \\ -H 'sec-gpc: 1' \\ -H 'upgrade-insecure-requests: 1' \\ -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        128,
        272
      ],
      "id": "14bcba7c-285a-48f1-9282-4e8c17a979ad",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "D3sPlVcppZzCh4fv",
          "name": "SSH Private Key account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Request": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 30,
    "errorWorkflow": "geHpTM7jr9NoyZNi"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cbf8b0a8-f37c-4376-93bb-4f741200cb22",
  "activeVersionId": "cbf8b0a8-f37c-4376-93bb-4f741200cb22",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-23T17:55:17.888Z",
      "createdAt": "2025-10-23T17:55:17.888Z",
      "role": "workflow:owner",
      "workflowId": "8u8RTVnqFpQFY14G",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T17:23:32.504Z",
    "createdAt": "2025-12-17T17:23:32.504Z",
    "versionId": "cbf8b0a8-f37c-4376-93bb-4f741200cb22",
    "workflowId": "8u8RTVnqFpQFY14G",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Storied GPT Output",
          "formDescription": "Add in the raw markdown from Storied GPT output",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Title",
                "placeholder": "Enter File Title",
                "requiredField": true
              },
              {
                "fieldLabel": "Body",
                "fieldType": "textarea",
                "placeholder": "Enter Body Copy",
                "requiredField": true
              },
              {
                "fieldLabel": "Template",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Storied"
                    },
                    {
                      "option": "Veridical"
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -272,
          -112
        ],
        "id": "134cc1c3-cc30-4463-be8f-b6a08c2dd116",
        "name": "On form submission",
        "webhookId": "99e7ce64-162b-4971-8018-a70dc71e3367"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://script.google.com/macros/s/AKfycbwtWdsCfcLTeihqOkqeddTYGt-ZrJ6AYyCjLV3Sw6jJycKXA7dakqQcAlUtMJMNAJ9r/exec",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "actionType",
                "value": "Create"
              },
              {
                "name": "title",
                "value": "={{ $json.Title }}"
              },
              {
                "name": "content",
                "value": "={{ $json.Body.replace(/^\\s*---\\s*\\r?\\n/gm, '').replace(/(^\\s*(?:[*+-]|\\d+[.)])\\s.*)\\r?\\n(?:[ \\t]*\\r?\\n)+(?=^\\s*(?:[*+-]|\\d+[.)])\\s)/gm, '$1\\n').replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!|>])/g, '$1').replace(/\\\\(?=\\s)/g, '');  }}"
              },
              {
                "name": "tempType",
                "value": "={{ $json.Template }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          176,
          -112
        ],
        "id": "beabd969-fd9c-4b0a-a81f-b31f65e611a1",
        "name": "HTTP Request",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "select": "user",
          "user": {
            "__rl": true,
            "value": "U06HYNGR0HL",
            "mode": "list",
            "cachedResultName": "edward"
          },
          "text": "=Document created:  {{ $('On form submission').item.json.Title }}\n\nLink: {{ $json.docUrl }}",
          "otherOptions": {
            "includeLinkToWorkflow": false,
            "mrkdwn": true,
            "unfurl_links": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          656,
          -112
        ],
        "id": "df0269be-1b04-4ae5-be23-c4b66cbf66a4",
        "name": "Send a message",
        "webhookId": "02d9544d-593c-4c72-ab7a-941f73ab1c18",
        "credentials": {
          "slackApi": {
            "id": "TCCNsFSy1xU8ud22",
            "name": "SLACK API - BOT"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.reddit.com/r/FreeCash/comments/1pouc6x/comment/nui1wfw.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
              },
              {
                "name": "accept-language",
                "value": "en-GB,en;q=0.9"
              },
              {
                "name": "cache-control",
                "value": "max-age=0"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"macOS\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "document"
              },
              {
                "name": "sec-fetch-mode",
                "value": "navigate"
              },
              {
                "name": "sec-fetch-site",
                "value": "none"
              },
              {
                "name": "sec-fetch-user",
                "value": "?1"
              },
              {
                "name": "sec-gpc",
                "value": "1"
              },
              {
                "name": "upgrade-insecure-requests",
                "value": "1"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
              },
              {
                "name": "Cookie",
                "value": "loid=000000002488nfavxq.2.1765987704198.Z0FBQUFBQnBRdFY0U0hhNjZYN045VHpaV1l3UDhLb0NvX1g4S29oOUwycjI3LUQxNDRIS09KWVJ3X0U2QWZNeERrTnMwTERzNUVXcFAxWnNLMjRiOWtvdFkzN0c2VUUwSzdnaDZWOV9uYXU3OGtuUGhhUkNSODliWjNfTHNrUk9IdHoyTlVmNnR3RHQ; session_tracker=chenhppilrkhcibran.0.1765987704222.Z0FBQUFBQnBRdFY0azhxdzNrQ2JmeGV2WV90Nzl4R2JoM3ZISXFfUWs2dFFDTGtYQ2ZRUG4ydEs0THItMXhRb1FRMW0yN1hpREpMaE1PVjJDLVYzMVp1YlJ3MTRNYW5yX0VqMjQ2S1ZNcVUwaEdlRVF1YVZPSzNNLVdGaGV0YW1kd1hGdWpMZ3pMMDE; csv=2; edgebucket=oouX8dwZagiCIvR8Kh"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "0730992d-74d3-4e30-aae6-e3226a1d4368",
        "name": "Reddit Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -160,
          272
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "curl 'https://www.reddit.com/r/FreeCash/comments/1pouc6x/comment/nui1wfw.json' \\ -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8' \\ -H 'accept-language: en-GB,en;q=0.9' \\ -H 'cache-control: max-age=0' \\ -b 'loid=000000002488nfavxq.2.1765987704198.Z0FBQUFBQnBRdFY0U0hhNjZYN045VHpaV1l3UDhLb0NvX1g4S29oOUwycjI3LUQxNDRIS09KWVJ3X0U2QWZNeERrTnMwTERzNUVXcFAxWnNLMjRiOWtvdFkzN0c2VUUwSzdnaDZWOV9uYXU3OGtuUGhhUkNSODliWjNfTHNrUk9IdHoyTlVmNnR3RHQ; session_tracker=chenhppilrkhcibran.0.1765987704222.Z0FBQUFBQnBRdFY0azhxdzNrQ2JmeGV2WV90Nzl4R2JoM3ZISXFfUWs2dFFDTGtYQ2ZRUG4ydEs0THItMXhRb1FRMW0yN1hpREpMaE1PVjJDLVYzMVp1YlJ3MTRNYW5yX0VqMjQ2S1ZNcVUwaEdlRVF1YVZPSzNNLVdGaGV0YW1kd1hGdWpMZ3pMMDE; csv=2; edgebucket=oouX8dwZagiCIvR8Kh' \\ -H 'priority: u=0, i' \\ -H 'sec-ch-ua: \"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"' \\ -H 'sec-ch-ua-mobile: ?0' \\ -H 'sec-ch-ua-platform: \"macOS\"' \\ -H 'sec-fetch-dest: document' \\ -H 'sec-fetch-mode: navigate' \\ -H 'sec-fetch-site: none' \\ -H 'sec-fetch-user: ?1' \\ -H 'sec-gpc: 1' \\ -H 'upgrade-insecure-requests: 1' \\ -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36'"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          128,
          272
        ],
        "id": "14bcba7c-285a-48f1-9282-4e8c17a979ad",
        "name": "Execute a command",
        "credentials": {
          "sshPrivateKey": {
            "id": "D3sPlVcppZzCh4fv",
            "name": "SSH Private Key account"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reddit Request": {
        "main": [
          [
            {
              "node": "Execute a command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Storied Admin",
    "name": null,
    "description": null
  },
  "tags": []
}