n8n/Sub_Stats_to_Sheet.json
{"updatedAt":"2025-09-30T01:39:03.000Z","createdAt":"2025-09-30T01:20:04.873Z","id":"QmjqpZWeMfNr7ARu","name":"Sub Stats to Sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"135ZPmsTFWgGHptQnCbmbz-aQCA7aE5QE-M1VGzGgDvw","mode":"list","cachedResultName":"Kit Subs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/135ZPmsTFWgGHptQnCbmbz-aQCA7aE5QE-M1VGzGgDvw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/135ZPmsTFWgGHptQnCbmbz-aQCA7aE5QE-M1VGzGgDvw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('When Executed by Another Workflow').item.json.first_name }} {{ $('When Executed by Another Workflow').item.json.fields.last_name }}","Email":"={{ $('When Executed by Another Workflow').item.json.email_address }}","Sent":"={{ $json.subscriber.stats.sent }}","Opened":"={{ $json.subscriber.stats.opened }}","Clicked":"={{ $json.subscriber.stats.clicked }}","Bounced":"={{ $json.subscriber.stats.bounced }}","Open Rate":"={{ $json.subscriber.stats.open_rate }}","Click Rate":"={{ $json.subscriber.stats.click_rate }}","Last Sent":"={{ $json.subscriber.stats.last_sent }}","Last Opened":"={{ $json.subscriber.stats.last_opened }}","Last Clicked":"={{ $json.subscriber.stats.last_clicked }}","Sends Since Last Open":"={{ $json.subscriber.stats.sends_since_last_open }}","Sends Since Last Click":"={{ $json.subscriber.stats.sends_since_last_click }}","Subscription Date":"={{ $('When Executed by Another Workflow').item.json.created_at }}"},"matchingColumns":[],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sent","displayName":"Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Opened","displayName":"Opened","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Clicked","displayName":"Clicked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bounced","displayName":"Bounced","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Open Rate","displayName":"Open Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Click Rate","displayName":"Click Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Sent","displayName":"Last Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Opened","displayName":"Last Opened","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Clicked","displayName":"Last Clicked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sends Since Last Open","displayName":"Sends Since Last Open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sends Since Last Click","displayName":"Sends Since Last Click","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subscription Date","displayName":"Subscription Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1008,-304],"id":"b7da4a97-32a0-4479-b66e-9877d247cbda","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"a2GvYolbVNMGjx2A","name":"Google Sheets account"}}},{"parameters":{"url":"=https://api.kit.com/v4/subscribers/{{ $json.id }}/stats","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-304],"id":"a2c64d03-b7e5-4092-a2c1-e48ff311e265","name":"Get Stats for Sub","executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"rQ2ENPIII8EfLIc1","name":"ConvertKit Header Auth"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,-304],"id":"a0522192-4d85-4303-855a-8990901493cd","name":"Wait","webhookId":"1f35e77c-6f70-42e9-9102-1f03607cac70"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[128,-304],"id":"edab1845-0546-4dd7-bc3b-fb98ebdb89d8","name":"When Executed by Another Workflow"}],"connections":{"Append row in sheet":{"main":[[]]},"Get Stats for Sub":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Stats for Sub","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id":3551552944,"first_name":null,"email_address":"madhuri36@me.com","state":"active","created_at":"2025-08-21T19:53:44Z","fields":{"address":null,"affiliation_type":null,"company":null,"last_name":null,"lead_score":null,"linkedin_profile_link":null,"monday_stage":null,"optin_time":null,"personal_email":null,"phone_number":null,"qualified":null,"talk_org":null,"talk_title":null,"title":null,"utm_source":null}}}]},"versionId":"2a6260a4-2a6e-4946-ad79-eccc74c7d77b","triggerCount":0,"shared":[{"updatedAt":"2025-09-30T01:20:04.881Z","createdAt":"2025-09-30T01:20:04.881Z","role":"workflow:owner","workflowId":"QmjqpZWeMfNr7ARu","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}