n8n/Update_Prompt_DB_with_Descriptions.json
{
  "updatedAt": "2025-07-23T14:46:28.000Z",
  "createdAt": "2025-07-23T14:40:22.145Z",
  "id": "iFVHR3u9UKyKXSrg",
  "name": "Update Prompt DB with Descriptions",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 10
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "1e58fccf-f321-801a-b6d5-fe4e3e29f45a",
          "mode": "list",
          "cachedResultName": "Prompt Library",
          "cachedResultUrl": "https://www.notion.so/1e58fccff321801ab6d5fe4e3e29f45a"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -40
      ],
      "id": "3ba1dfdb-dd1e-466a-8fbd-67507fe47135",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "pIEpX9j9kjJdIrnp",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e74ebda-747c-420c-b709-a1b7324b0806",
              "leftValue": "={{ $json.Text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "93dca7bf-c028-43b7-9f2d-9012717a390d",
              "leftValue": "={{ $json.Description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        -40
      ],
      "id": "67badcb9-07a1-4b37-9038-d31eb326e545",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the text below and provide a short 50-word description of the prompt. Make it brief, avoid verbosity, make it clear to the reader, and avoid unnecessary words. \n\n {{ $json.Text }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        200,
        -60
      ],
      "id": "7b6d3267-85a3-4ad9-b0f8-9a73949e1471",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "O0zxMyVMsAWQNvxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Description|rich_text",
              "textContent": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        -60
      ],
      "id": "c6be5685-4f74-40b1-a591-9d5a5fc0d10c",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "pIEpX9j9kjJdIrnp",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-11-14T20:03:00.000Z",
      "possibleDuplicates": [
        "2398fccf-f321-8039-9226-d3de7f453337"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5f79c393-40aa-4a5b-b78c-3d0b0213856d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-23T14:40:22.156Z",
      "createdAt": "2025-07-23T14:40:22.156Z",
      "role": "workflow:owner",
      "workflowId": "iFVHR3u9UKyKXSrg",
      "projectId": "VAJTVGe0TjfANDAE"
    }
  ],
  "tags": []
}