n8n/Update_AI_Resources_DB_with_Description.json
{"updatedAt":"2025-07-24T16:49:03.000Z","createdAt":"2025-07-23T14:03:01.310Z","id":"Ouw1PkfKSfNBYWrr","name":"Update AI Resources DB with Description","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":10,"unit":"minutes"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"https://www.notion.so/getstoried/2398fccff32180859107d54858b0d095?v=2398fccff321801fa20f000c14e001f1","mode":"url"},"simple":false},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-180,40],"id":"999eb3ec-e8e2-431c-9405-96d928b6cf23","name":"Notion Trigger","credentials":{"notionApi":{"id":"pIEpX9j9kjJdIrnp","name":"Notion account"}}},{"parameters":{"url":"={{ $json.properties.File.files[0].file.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,20],"id":"47385573-0a26-4abc-9465-686e12e162dd","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Analyze the text below from a file and provide a 50-100 word summary. Ensure that description summary is short and fits within the constraint of 50-100 words. \n\nUse the text below:\n\n{{ $json.data }}"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[820,20],"id":"b03fe384-6a2f-4cd7-acfd-74456a7df15f","name":"Message a model","credentials":{"openAiApi":{"id":"O0zxMyVMsAWQNvxb","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion Trigger').item.json.url }}","mode":"url"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Description|rich_text","textContent":"={{ $json.choices[0].message.content }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1240,20],"id":"2895eef2-ceac-4456-bb15-28ab21938ee3","name":"Update a database page","credentials":{"notionApi":{"id":"pIEpX9j9kjJdIrnp","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"555d0175-8ade-4c49-8565-2b8e997efe79","leftValue":"={{ $json.properties.File.files[0].file.url }}","rightValue":"={{ $json.properties.File.files[0].file.url }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,40],"id":"ad617ddc-6fd5-479e-9001-9ff989c0d961","name":"If"}],"connections":{"Notion Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Update a database page","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-11-14T20:03:00.000Z","possibleDuplicates":["2578fccf-f321-8012-9757-d07346f1bfc7"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6615041f-c7d3-42de-835d-6bdd8276ba4c","triggerCount":1,"shared":[{"updatedAt":"2025-07-23T14:03:01.325Z","createdAt":"2025-07-23T14:03:01.325Z","role":"workflow:owner","workflowId":"Ouw1PkfKSfNBYWrr","projectId":"VAJTVGe0TjfANDAE"}],"tags":[]}